<aside id="aside">
			<h2><a href="/agreements/agreements/agreement01/"><img src="/images/company/h2_agreement.gif" width="38" height="22" alt="AGREEMENTS" /></a></h2>
			<nav>
				<ul class="sub">
					<li><a href="/agreements/agreements/agreement01"  { ? rsegment_2 === "agreement01" || rsegment_2 === "agreement02" || rsegment_2 === "agreement03" || rsegment_2 === "agreement04" || rsegment_2 === "agreement05"} class="active"{ / }>서비스 이용약관</a>
						{ ? rsegment_1 === "agreements"}
						<ul class="sub2">
							<li><a href="/agreements/agreements/agreement01" { ? rsegment_2 === "agreement01"} class="active"{ / }>IX서비스 이용약관</a></li>
							<li><a href="/agreements/agreements/agreement02" { ? rsegment_2 === "agreement02"} class="active"{ / }>IDC서비스 이용약관</a></li>							
							<li><a href="/agreements/agreements/agreement03" { ? rsegment_2 === "agreement03"} class="active"{ / }>CDN서비스 이용약관</a></li>
							<li><a href="/agreements/agreements/agreement04" { ? rsegment_2 === "agreement04"} class="active spacing"{ / }>클라우드서비스 이용약관</a></li>
							<li><a href="/agreements/agreements/agreement06" { ? rsegment_2 === "agreement06"} class="active spacing"{ / }>K-클린서비스 이용약관</a></li>
							<li><a href="/agreements/agreements/agreement05" { ? rsegment_2 === "agreement05"} class="active"{ / }>개인정보수집이용안내</a></li>
						</ul>
						{ / }
					</li>
					<li><a href="/agreements/agreements/mou01" { ? rsegment_2 === "mou01" || rsegment_2 === "mou02" } class="active"{ / } >협정서(MOU)</a>
						{ ? rsegment_2 === "mou01" || rsegment_2 === "mou02" }
						<ul class="sub2">
							{ ? rsegment_2 === "mou01"}
								<li><a href="/agreements/agreements/mou01" class="active">KINX 연동이용에 대한</br>협정서</a></br></li>
							{:}
								<li><a href="/agreements/agreements/mou01">KINX 연동이용에 대한 협정서</a></li>
							{/}
							{ ? rsegment_2 === "mou02"}
								<li><a href="/agreements/agreements/mou02" class="active">한국인터넷연동협의회</br>협정서</a></br></li>
							{:}
								<li><a href="/agreements/agreements/mou02" >한국인터넷연동협의회 협정서</a></li>
							{/}
						</ul>
						{ / }
					</li>
					<li><a href="/agreements/agreements/privacy" { ? rsegment_2 === "privacy"} class="active"{ / } >개인정보취급방침</a>
					</li>
				</ul>
			</nav>
		</aside>
		<!-- //aside -->