<!-- my 로그인 후 좌측메뉴 -->
<aside id="aside">
	<h2><img src="/images/my/h2_mykinx.png"   alt="MY KINX" /></h2>
	<nav class="nav">
		<ul class="sub">
			<li><a href="/service/index{url_suffix}" { ? rsegment_1 === "service"}class="active"{ / } >서비스 관리</a>
				{ ? rsegment_1 === "service"}
				<ul class="sub2">
					<li><a href="/service/index{url_suffix}" {? substr(rsegment_2, 0, 5) === "index"}class="active"{ / } >계약 관리</a></li>
					<li><a href="/service/system_info{url_suffix}" {? substr(rsegment_2, 0, 11) === "system_info"}class="active"{ / } >시스템 현황</a></li>
					<li><a href="/service/dns_info{url_suffix}" {? substr(rsegment_2, 0, 4) === "dns_"}class="active"{ / } >DNS관리</a></li>
					<li><a href="/service/monitoringip_info{url_suffix}" {? substr(rsegment_2, 0, 13) === "monitoringip_"}class="active"{ / } >모니터링IP관리</a></li>
				</ul>
				{ / }
			</li>
			<li><a href="/stat/index{url_suffix}" { ? rsegment_1 === "stat"}class="active"{ / } >통계</a></li>
			<li><a href="/payment/index{url_suffix}" { ? rsegment_1 === "payment"}class="active"{ / } >결제 관리</a></li>
			<li><a href="/usage/index{url_suffix}" { ? rsegment_1 === "usage"}class="active"{ / } >청구 사용량</a></li>
			<li><a href="/member/index{url_suffix}" { ? rsegment_1 === "member"}class="active"{ / } >회원정보 관리</a></li>
			<li><a href="/kinxidc/index{url_suffix}" { ? rsegment_1 === "kinxidc"&& (rsegment_2==="competent" || rsegment_2==="visitapp" || rsegment_2==="equipment" )}class="active"{ / } >IDC출입 관리</a>
				{ ? rsegment_1 === "kinxidc" && (rsegment_2==="competent" || rsegment_2==="visitapp" || rsegment_2==="equipment" )}
				<ul class="sub2">
					<li><a href="/kinxidc/competent{url_suffix}" {? substr(rsegment_2, 0, 9) === "competent"}class="active"{ / } >담당자 관리</a></li>
					<li><a href="/kinxidc/visitapp{url_suffix}" {? substr(rsegment_2, 0, 8) === "visitapp"}class="active"{ / } >방문 신청</a></li>
					<li><a href="/kinxidc/equipment{url_suffix}" {? substr(rsegment_2, 0, 9) === "equipment"}class="active"{ / } >장비입반출 관리</a></li>
				</ul>
				{ / }
			</li>
			<li><a href="/kinxidc/techsupport{url_suffix}" { ? rsegment_1 === "kinxidc" && rsegment_2 === "techsupport"}class="active"{ / } >기술요청/문의</a>
			<li><a href="/counsel/index{url_suffix}" { ? rsegment_1 === "counsel"}class="active"{ / } >나의 상담내역</a></li>
		</ul>
	</nav>

        <p style="padding-top:20px;"></p>
        <a href="https://www.kinx.net/service/introduce/multizone/" target="_blank"><img src="/images/banner_multizone_v.png"/></a>
</aside>