<!--  로그인 / id/pw 찾기 메뉴 -->
<aside id="aside">
	<h2><img src="/images/my/h2_login.png" alt="로그인" /></h2>
	<nav class="nav">
		<ul class="sub">
			<li><a href="/" { ? rsegment_1 === "auth" && rsegment_2 === "index"}class="active"{ / }>로그인</a></li>
			<li><a href="/auth/findidpw{url_suffix}" { ? rsegment_1 === "auth" && substr(rsegment_2, 0, 4) === "find"}class="active"{ / }>아이디/비밀번호 찾기</a></li>
		</ul>
	</nav>
</aside>