<div class="layer cloud_detail">
    <article class="pop_wrap lyr_wrap">
        <header class="header">
            <h1>Cloud 과금상세</h1>
            <!-- //titile_main -->
            <a href="javascript:" class="close btn_pop_close" data-hide-type="remove"></a>
        </header>
        <!-- //header -->
        <div class="div-detail-scroll">
            <section class="container" style="width:755px;">
                <legend class="clouddetail"><i class="fa fa-chevron-circle-right"></i> 프로젝트 정보</legend>
                <table summary="프로젝트 정보" class="table_row3">
                    <caption>프로젝트 정보</caption>
                    <colgroup>
                        <col width="355px" />
                        <col width="150px" />
                        <col width="100px" />
                        <col width="150px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="center" scope="row">프로젝트 명</th>
                            <th class="center" scope="row">등록일</th>
                            <th class="center" scope="row">과금유형</th>
                            <th class="center" scope="row">청구금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left" style="background:#FFF">{info.sName}</td>
                            <td class="center">{=substr(info.arDetailInfo.project.created_at,0,10)}</td>
                            <td class="center">{? info.arDiscountOpt.no_pay == 0}유료{:}무료{/}</td>
                            <td class="right">{=number_format(info.lastCharge)}</td>
                        </tr>
                    </tbody>
                </table>


                <br>
                <table summary="프로젝트 리소스별 과금상세" class="table_row3" style="margin-bottom:30px;">
                    <caption>프로젝트 정보</caption>
                    <colgroup>
                        <col width="170px" />
                        <col width="120px" />
                        <col width="115px" />
                        <col width="115px" />
                        <col width="115px" />
                        <col width="120px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="center" scope="row">항목</th>
                            <th class="center" scope="row">기준금액</th>
                            <th class="center" scope="row">기본할인</th>
                            <th class="center" scope="row">조정금액</th>
                            <th class="center" scope="row">할인금액</th>
                            <th class="center" scope="row">청구금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        { @resource }
                        <tr>
                            <td class="left" style="background:#FFF">{.name}</td>
                            <td class="right">{=number_format(.price)}</td>
                            <td class="right">{=number_format(.bdiscount)}</td>
                            <td class="right">{=number_format(.adjcharge)}</td>
                            <td class="right">{=number_format(.discount)}</td>
                            <td class="right">{=number_format(.price + .discount + .adjcharge + .bdiscount)}</td>
                        </tr>
                        {/}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="right">청구금액 합계</th>
                            <td class="right"><strong>{=number_format(sum.sum_price)}</strong></td>
                            <td class="right"><strong>{=number_format(sum.sum_bdiscount)}</strong></td>
                            <td class="right"><strong>{=number_format(sum.sum_adjcharge)}</strong></td>
                            <td class="right"><strong>{=number_format(sum.sum_discount)}</strong></td>
                            <td class="right"><strong>{=number_format(sum.sum_charge)}</strong></td>
                        </tr>
                        <tr>
                            <th class="center">추가 조정금액</th>
                            <td class="right" colspan="5"><strong>{=(info.nAdjCharge - info.nAddAdjCharge)}</strong></td>
                        </tr>
                        {? info.nManagedCharge != 0}
                        <tr>
                            <th class="center">매니지드비용</th>
                            <td class="right" colspan="5"><strong>{=number_format(info.nManagedCharge)}</strong></td>
                        </tr>
                        { / }
                        <tr>
                            <th class="center">부가세</th>
                            <td class="right" colspan="5"><strong>{=number_format(info.nVatPrice)}</strong></td>
                        </tr>
                        <tr>
                            <th class="center">총 합계</th>
                            <td class="right" colspan="5"><strong>{=number_format(info.lastCharge)}</strong></td>
                        </tr>
                    </tfoot>
                </table>


                { @resource }
                <legend class="clouddetail" style="margin-top:30px;"><i class="fa fa-chevron-circle-right"></i> 리소스별 상세내역({.name})</legend>
                <table summary="리소스별 상세내역({.name})" class="table_row3">
                    <caption>리소스별 상세내역({.name})</caption>
                    <colgroup>
                        <col width="160px" />
                        <col width="120px" />
                        <col width="120px" />
                        <col width="125px" />
                        <col width="125px" />
                        <col width="105px" />
                    </colgroup>
                    <thead>
                        <tr>
                            { @.colname }
                            <th class="center" scope="row" {? ..colspan != 1}colspan="{..colspan}"{ / }>{..name}</th>
                            { / }
                        </tr>
                    </thead>
                    <tbody>

                        { @.list_data }
                        <tr>
                            { @..value_ }
                                <td style="letter-spacing: -0.02rem;" class="{? ...number==1 }right{:}center{/}" {? ...colspan != 1}colspan="{...colspan}"{ / } >{? ...number==1 }{=number_format(...value)}{ : }{...value}{/}</td>
                            { / }
                        </tr>
                        {:}
                        <tr><td colspan="6">※ 사용중인 {.name} 상품이 없습니다.</td></tr>
                        { / }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="center" colspan="5">기준 금액 합계</td>
                            <td class="right">{=number_format(.price)}</td>
                        </tr>
                        <tr>
                            <td class="center" colspan="5">조정, 할인 금액 합계</td>
                            <td class="right">{=number_format(.bdiscount + .adjcharge + .discount)}</td>
                        </tr>
                        <tr>
                            <td class="center" colspan="5">청구 금액</td>
                            <td class="right">{=number_format(.price + .bdiscount + .adjcharge + .discount)}</td>
                        </tr>
                    </tfoot>
                </table>
                { / }

            </section>
        </div>

        <p class="hx10"></p>
        <div class="button">
            <div class="center">
                <span class="btn_pack large">
                    <a href="javascript:" class="btn_excel_download" data-hide-type="remove">다운로드</a>
                </span>
                <span class="btn_pack large">
                    <a href="javascript:" class="btn_pop_close" data-hide-type="remove">닫기</a>
                </span>
            </div>
        </div>
        <p class="hx20"></p>
    </article>
</div>