{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / 결제관리/ 상세보기 -->
<div id="container">
	{ #menu_my }
<div id="content">
	<h3><img src="/images/my/h3_payment_view.png"  alt="결제 정보 상세보기" /></h3>
	<!-- title_main -->

	<div class="table_wrap">
		<div class="title">
			<h4>사업자 정보</h4>
		</div>
		<!-- //title_sub -->
		<table summary="사업자 정보" class="table_row2">
		<caption>사업자 정보</caption>
		<colgroup>
			<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">회사명</th>
				<td>{company.sCompanyName}</td>
				<th scope="row">사업자 등록번호</th>
				<td>{company.sBusinessNumber}</td>
			</tr>
			<tr>
				<th scope="row">대표자명</th>
				<td>{company.sPresidentName}</td>
				<th scope="row">업종 / 업태</th>
				{ ? company.arOtherInfo.sBusinessType != ''}
				<td>{company.arOtherInfo.sBusinessType} / {company.arOtherInfo.sItemType}</td>
				{ : }
				<td>{company.sBusinessType} / {company.sItemType}</td>
				{ / }
			</tr>
			<tr>
				<th scope="row">사업장 주소</th>
				{ ? company.arOtherInfo.address1 != ''}
				<td colspan="3">{company.arOtherInfo.address1} {company.arOtherInfo.address2}</td>
				{ : }
				<td colspan="3">{company.sAddress1} {company.sAddress2}</td>
				{ / }
			</tr>
		</tbody>
		</table>

		<p class="hx20"></p>
		<div class="title" style="border-top:2px solid #000;">
			<h4>기간 정보</h4>
		</div>
		<table summary="사용기간" class="table_row2">
			<caption>사용기간</caption>
			<colgroup>
				<col width="15%" /><col width="#" /><col width="15%" /><col width="#" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="col">사용기간</th>
					<td colspan="3">{data.sUseDate}</td>
				</tr>
				<tr>
					<th scope="col">작 성 일</th>
					<td>{=substr(data.dtChargeDate,0,10)}</td>
					<th scope="col">납 기 일</th>
					<td>{=substr(data.dtPaymentDate,0,10)}</td>
				</tr>
			</tbody>
		</table>
		<p class="hx20"></p>

		<div class="title" style="border-top:2px solid #000;">
			<h4>청구 내역</h4>
		</div>
		<!-- //title_sub -->
		<table summary="청구 내역" class="table_row2">
				<caption>청구 내역</caption>
				<colgroup>
					<col width="30px" /><col width="#" /><col width="#" /><col width="#" /><col width="#" /><col width="#" />

				</colgroup>
				<thead>
					<tr>
						<th scope="col" style="text-align:center;padding:0">No</th>
						<th scope="col">서비스명</th>
						<th scope="col">세부사항</th>
						<th scope="col">수량</th>
						<th scope="col">금액</th>
                                                <th scope="col">세액</th>
					</tr>
				</thead>
				<tbody>
				{ @list }
					<tr>
						<td class="center">{.index_ + 1} </td>
						<td>{.sServiceName}</td>
						<td>{.sServiceDetail}</td>
						<td>{.nQuantity} {.sUnit}</td>
                                                {? data.sCurrencyType == "KRW"} <!-- 금액 -->
                                                    <td style="text-align:right; padding-right:10px; ">{=.sCharge} {=.sCurrency}</td>
                                                { : }
                                                    <td style="text-align:right; padding-right:10px; ">{=.sCurrency} {=.sCharge} </td>
                                                { / }

                                                {? data.sCurrencyType == "KRW"}<!-- 세액 -->
                                                    <td style="text-align:right; padding-right:10px; ">{=.sVatPrice} {=.sCurrency} </td>
                                                { : }
                                                    <td style="text-align:right; padding-right:10px; ">{=.sCurrency} 0</td>
                                                { / }
					</tr>
				{ / }
				</tbody>
		</table>
		<div class="title">
			<h4 class="f_right">합계 : {=number_format(data.nChargePrice + data.nTaxPrice)} 원  , 미수금 : {=number_format(cardPrice)} {=cardPrice_currency}  &nbsp;&nbsp;</h4>
			<span class="f_right" style="padding:0;margin:0;position:relative;top: 0;">
			공급가액 : {=number_format(data.nChargePrice)} 원 &nbsp;&nbsp;
			부가세 : {=number_format(data.nTaxPrice)} 원 &nbsp;&nbsp;
			</span>
		</div>

		<p class="hx20"></p>
		<!-- //table_row -->
	</div>
	<!-- //table_wrap -->

{ ? is_checkin }
<!-- form method="post" id="LGD_PAYINFO" name="LGD_PAYINFO"  action="/support/payment/payment02_req" onsubmit="payment02_req_popup(this)" -->
<form method="post" id="LGD_PAYINFO" name="LGD_PAYINFO"  >
	<input type="hidden" name="CST_PLATFORM" id="CST_PLATFORM"          value="<?php echo(CST_PLATFORM); ?>">                   <!-- 테스트, 서비스 구분 -->
	<input type="hidden" name="CST_MID" id="CST_MID"                    value="<?php echo(CST_MID); ?>">                        <!-- 상점아이디 -->
	<input type="hidden" name="LGD_MID" id="LGD_MID"                    value="<?php echo(LGD_MID); ?>">                        <!-- 상점아이디 -->
	<input type="hidden" name="LGD_OID" id="LGD_OID"                    value="">                  <!-- 주문번호 -->
	<input type="hidden" name="LGD_CUSTOM_SKIN" id="LGD_CUSTOM_SKIN"    value="<?php echo(LGD_CUSTOM_SKIN); ?>">                <!-- 결제창 SKIN -->
	<input type="hidden" name="LGD_TIMESTAMP" id="LGD_TIMESTAMP"        value="">                  <!-- 타임스탬프 -->
	<input type="hidden" name="LGD_HASHDATA" id="LGD_HASHDATA"          value="">                   <!-- MD5 해쉬암호값 -->
	<input type="hidden" name="LGD_CUSTOM_PROCESSTIMEOUT" id="LGD_CUSTOM_PROCESSTIMEOUT"   value="<?php echo(LGD_CUSTOM_PROCESSTIMEOUT); ?>">      <!-- TWOTR타임아웃 시간 -->
	<input type="hidden" name="LGD_PAYKEY"  id="LGD_PAYKEY"             value="">                                      <!-- LG데이콤 PAYKEY(인증후 자동셋팅)-->
	<input type="hidden" name="LGD_MERTKEY" id="LGD_MERTKEY"            value="">                 <!-- 상점MertKey -->
	<!-- 가상계좌(무통장) 결제연동을 하시는 경우  할당/입금 결과를 통보받기 위해 반드시 LGD_CASNOTEURL 정보를 LG 데이콤에 전송해야 합니다 . -->
	<input type="hidden" name="LGD_CASNOTEURL" id="LGD_CASNOTEURL"      value="<?php echo(LGD_CASNOTEURL); ?>">                 <!-- 가상계좌 NOTEURL -->
	<input type="hidden" name="LGD_PRODUCTCODE" id="LGD_PRODUCTCODE"    value="{=data.nBillListSeq}">                 <!-- 상품코드 -->

	<input type="hidden" name="LGD_PRODUCTINFO" id="LGD_PRODUCTINFO"    value="{=productinfo}"><!-- 서비스구분 -->
	<input type="hidden" name="strServiceTypeEtc" id="strServiceTypeEtc"    value="{=strServiceTypeEtc}"><!-- 결제사유 -->
	<input type="hidden" name="strServiceType" id="strServiceType"    value="서비스이용"><!-- 서비스유형 -->
	<input type="hidden" name="LGD_AMOUNT" id="LGD_AMOUNT"    value="{=cardPrice}"><!-- 서비스 요금 -->
	<input type="hidden" name="LGD_BUYER" id="LGD_BUYER"    value="{=data.sName}"><!-- 결제자명 -->
	<input type="hidden" name="LGD_DELIVERYINFO" id="LGD_DELIVERYINFO"    value="{=data.sCompanyName}"><!-- 업체명 -->
	<input type="hidden" name="LGD_BUYEREMAIL" id="LGD_BUYEREMAIL"    value="{=data.sEmail}"><!-- 이메일 -->
	<input type="hidden" name="LGD_BUYERPHONE" id="LGD_BUYERPHONE"    value="{=data.sPhone}"><!-- 휴대폰 번호 -->
{ / }
	<div class="button">
		<div class="center">
			<span class="btn_pack xlarge"><a href="/payment/index{url_suffix}">목록</a></span>
			{ ? is_checkin }<span  id="LGD_BUTTON2" class="btn_pack xlarge" ><input type="submit"  id="payment02_btn" value="결제하기"  ></span>{ / }
		</div>
	</div>
	<!-- //button -->
</div>
</div>

{ ? is_checkin }
</form>

<script language="javascript">
	window.onload=function(){
		var objForm = $("form[name='LGD_PAYINFO']");
		var strOfferOrder = makeOfferOrder();
		$(objForm).find('#LGD_OID').val(strOfferOrder);
	};

	$(document).ready(function(){
        payment02.init();
		$('#LGD_PAYINFO').submit(function(){
			var valid = $('#LGD_PAYINFO').valid();
			if(valid)
			{
				window.open('', 'paymentreq_popup', 'width=400,height=250,resizeable,scrollbars');
				this.target = "paymentreq_popup";
				this.action = "/support/payment/payment02_req";
			}

		});
	});
</script>
<!--  xpay.js는 반드시 body 밑에 두시기 바랍니다. -->
<!--  UTF-8 인코딩 사용 시는 xpay.js 대신 xpay_utf-8.js 을  호출하시기 바랍니다.-->
<?php

//180206 무조건 https 호출로 변경
//( http로 호출하면 잘 안되는 경우가 있음.-> lgdacom_atx_flag 가 없으므로 isActiveXOK() 오류. -> LGD_OID 가 구해지지 않는 경우가 있음 )
$src = "https://xpay.uplus.co.kr/xpay/js/xpay_ub_utf-8.js";//:7443 제거 20200207
//$src = "https://pretest.uplus.co.kr:9443/xpay/js/xpay_ub_utf-8.js";//test 20200207
?>

<script language="javascript" src="<?php echo($src); ?>" type="text/javascript"></script>


{ / }
{ #layout_myfooter }