{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / 결제관리/ 상세보기 -->

<div id="container">
    { #menu_my }
    <div id="content">
        <h3><img src="/images/my/h3_payment_view.png"  alt="결제 정보 상세보기" /></h3>
        <!-- title_main -->

        <div class="table_wrap">
            <div class="title">
                <h4>사업자 정보</h4>
            </div>
            <!-- //title_sub -->

            <table summary="사업자 정보" class="table_row2">
            <caption>사업자 정보</caption>
            <colgroup>
                <col width="100px" />
                <col width="275px" />
                <col width="110px" />
                <col width="270px" />
            </colgroup>
            <tbody>
                <tr>
                    <th class="right" scope="row">회사명</th>
                    <td>{company.sCompanyName}</td>
                    <th class="right" scope="row">사업자 등록번호</th>
                    <td>{company.sBusinessNumber}</td>
                </tr>
                <tr>
                    <th class="right" scope="row">대표자명</th>
                    <td>{company.sPresidentName}</td>
                    <th class="right" scope="row">업종 / 업태</th>
                    { ? company.arOtherInfo.sBusinessType != ''}
                    <td>{company.arOtherInfo.sBusinessType} / {company.arOtherInfo.sItemType}</td>
                    { : }
                    <td>{company.sBusinessType} / {company.sItemType}</td>
                    { / }
                </tr>
                <tr>
                    <th class="right" scope="row">사업장 주소</th>
                    { ? company.arOtherInfo.address1 != ''}
                    <td colspan="3">{company.arOtherInfo.address1} {company.arOtherInfo.address2}</td>
                    { : }
                    <td colspan="3">{company.sAddress1} {company.sAddress2}</td>
                    { / }
                </tr>
            </tbody>
            </table>


            <p class="hx20"></p>
            <div class="title" style="border-top:2px solid #000;">
                <h4>기간 정보</h4>
            </div>
            <table summary="사용기간" class="table_row2">
                <caption>사용기간</caption>
                <colgroup>
                    <col width="100px" /><col width="275px" /><col width="110px" /><col width="270px" />
                </colgroup>
                <tbody>
                    <tr>
                        <th class="right" scope="col">사용기간</th>
                        <td colspan="3">{data.sUseDate}</td>
                    </tr>
                    <tr>
                        <th class="right" scope="col">작 성 일</th>
                        <td>{=substr(data.dtChargeDate,0,10)}</td>
                        <th class="right" scope="col">납 기 일</th>
                        <td>{=substr(data.dtPaymentDate,0,10)}</td>
                    </tr>
                </tbody>
            </table>
            <p class="hx20"></p>

            <div class="title" style="border-top:2px solid #000;">
                <h4>청구 내역</h4>
            </div>



            <!-- //title_sub -->
            <table summary="청구 내역" class="table_row2" id="taxinvoice_detail">
                <caption>청구 내역</caption>
                <colgroup>
                    <col style="width:35px;min-width:35px;"/>
                    <col />
                    <col />
                    <col />
                    <col style="width:85px;min-width:85px;"/>
                    <col style="width:80px;min-width:80px;"/>
                    <col style="width:100px"/>
                    <col style="width:100px"/>
                </colgroup>
                <thead>
                    <tr>
                        <th class="center">No</th>
                        <th class="center">서비스명</th>
                        <th class="center" colspan="2">세부사항</th>
                        <th class="center">사용기간</th>
                        <th class="center">수량</th>
                        <th class="center">단가</th>
                        <th class="center">공급가액</th>
                    </tr>
                </thead>
                <tbody>
                { @list }
                    <tr>
                        <td style="text-align:center;">{.index_ + 1}</td>
                        {? .sProductDetailInfo != ""}
                            <td class="detail_info">{.sProductType} <span class="small">></span><br> {.sProuctDetailType}</td>
                            <td class="detail_info">{.sProductNm} </td>
                            <td class="detail_info">{.sProductDetailInfo}</td>
                        { : }
                            <td>{.sProductType} <span class="small">></span><br> {.sProuctDetailType}</td>
                            <td colspan="2">{.sProductNm} </td>
                        { / }
                        <td style="text-align:center;line-height:12px;">{.dtUseStart}<br><span class="small">~</span><br>{.dtUseEnd}</td><!-- 사량기간 -->
                        <td style="text-align:right; padding-right:10px;">{.sQuantity}</td> <!-- 수량 -->
                        <td style="text-align:right; padding-right:10px;">
                        {? data.sCurrencyType == "KRW"}{=.sContractCharge} {=.sCurrency}{ : }{=.sCurrency} {=.sContractCharge} { / }
                        </td> <!-- 단가 -->
                        <td style="text-align:right; padding-right:10px; ">
                        {? data.sCurrencyType == "KRW"}{=.sCharge} {=.sCurrency}{ : }{=.sCurrency} {=.sCharge}{ / }
                        {? .nBillDataType == 5}
                            <br>
                            <button class="payment-btn btn-cloud-detail" data-target="{.detailqes}">Cloud 과금상세</button>
                        {/}
                        </td><!-- 공급가액 -->
                    </tr>
                { / }
                </tbody>
            </table>
            <div class="title">
                <h4 class="f_right">합계 : {=number_format(data.nChargePrice + data.nTaxPrice)} 원  , 미수금 : {=number_format(cardPrice)} {=cardPrice_currency}  &nbsp;&nbsp;</h4>
                <span class="f_right" style="padding:0;margin:0;position:relative;top: 0;">
                공급가액 : {=number_format(data.nChargePrice)} 원 &nbsp;&nbsp;
                부가세 : {=number_format(data.nTaxPrice)} 원 &nbsp;&nbsp;
                </span>
            </div>

            <p class="hx20"></p>
            <!-- //table_row -->
        </div>
        <!-- //table_wrap -->

    { ? is_checkin }
    <form method="post" id="form-payment" name="form-payment"  >
    <input type="hidden" name="ts_ordername"      id="ts_ordername"      value="{productinfo}">
    <input type="hidden" name="ts_productinfo"    id="ts_productinfo"    value="{strServiceTypeEtc}">
    <input type="hidden" name="ts_amount"         id="ts_amount"         value="{cardPrice}">
    <input type="hidden" name="ts_buyer"          id="ts_buyer"          value="{data.sName}">
    <input type="hidden" name="ts_customername"   id="ts_customername"   value="{data.sCompanyName}">
    <input type="hidden" name="ts_customeremail"  id="ts_customeremail"  value="{data.sEmail}">
    <input type="hidden" name="ts_customermobile" id="ts_customermobile" value="{data.sMobile}">
    <div class="button">
        <div class="center">
            <span class="btn_pack xlarge"><a href="/payment/index{url_suffix}">목록</a></span>
            <span  id="span-payment-btn01" class="btn_pack xlarge" ></span>
        </div>
    </div>
    <!-- //button -->
    </form>
    {:}
    <div class="button">
        <div class="center">
            <span class="btn_pack xlarge"><a href="/payment/index{url_suffix}">목록</a></span>
        </div>
    </div>
    {/}
    </div>
</div>

<div class="layerMask"></div>

<script language="javascript">
    $(document).ready(function(){
        detail_colspan();
    });
</script>

{? charge_result !== FALSE }
<div class="layer payment_result">
    <article class="pop_wrap lyr_wrap">
        <!-- header -->
        <header class="header">
            <h1>신용카드 결제결과</h1>
            <!-- //titile_main -->
            <a href="javascript:" class="close btn_pop_close" data-hide-type="remove"></a>
        </header>
        <!-- //header -->
        <div>
            <section class="container">
                {? charge_result.sResultCode == "0000" }
                <table border="0" cellspacing="0" cellpadding="1">
                    <tr>
                        <td height="10" align="center">
                            <br>
                            <strong>[결제처리내역]</strong><br><br>
                            <div class="table_wrap2">
                                <table class="table_row1">
                                    <tr>
                                        <th scope="row">주문번호</th>
                                        <td width="65%" align="left">{charge_result.sOrderNumber}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">결제수단</th>
                                        <td width="65%" align="left">신용카드 ({charge_result.sFinanceName})</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">처리결과</th>
                                        <td width="65%" align="left">{charge_result.sResultMessage}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">결제금액</th>
                                        <td width="65%" align="left"> <strong><?= number_format({charge_result.nAmount})?> 원</strong> (부가세 포함가격임)</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="hx10"></p>
                            <center>서비스를 이용해 주셔서 감사합니다.</center>
                            <p class="hx10"></p>
                            <div class="button">
                                <div class="center">
                                    <span class="btn_pack large">
                                        <a href="javascript:" class="btn_pop_close" data-hide-type="remove">닫기</a>
                                    </span>
                                </div>
                            </div>
                            <p class="hx20"></p>
                        </td>
                    </tr>
                </table>
                {:}
                <table width="100%" border="0" cellspacing="0" cellpadding="1">
                    <tr>
                        <td height="10" align="center">
                            <br>
                            <strong>[결제처리내역]</strong><br><br>
                            <div class="table_wrap2">
                                <table class="table_row1">
                                    <tr>
                                        <th scope="row">결과</th>
                                        <td width="65%" align="left">카드결제 실패 하였습니다.({charge_result.sResultCode})</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">결과내용</th>
                                        <td width="65%" align="left">{charge_result.sResultMessage}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="hx10"></p>
                            <center>카드결제 실패 내용을 확인하시고,  고객센터에 문의해 주세요.</center>
                            <p class="hx10"></p>
                            <div class="button">
                                <div class="center">
                                    <span class="btn_pack large">
                                        <a href="javascript:" class="btn_pop_close" data-hide-type="remove">닫기</a>
                                    </span>
                                </div>
                            </div>
                            <p class="hx20"></p>
                        </td>
                    </tr>
                </table>
                {/}
            </section>
        </div>
    </article>
</div>
<script language="javascript">
    $(document).ready(function () {
        let maskH = $(document).height();
        let maskW = $(document).width();
        let winH  = $(window).height();

        $("body").append($('.payment_result'));
        $('.layerMask').css({'width':maskW,'height':maskH});
        $('.layerMask').fadeTo('300',0.5);
        $('.payment_result').show();

        $(".btn_pop_close").unbind('click').on("click", function(e){
            let _url = $(location).attr('pathname').replace('/fail.html', '.html');
            _url = _url.replace('/success.html', '.html');
            window.location.replace(_url);
        });
    });

</script>
{/}




{ #layout_myfooter }