{ #common_html_header }
{ #layout_myheader }
<!-- my/  결제관리 -->
<div id="container">
	{ #menu_my }
	<div id="content">
			<h3><img src="/images/my/h3_payment.png"   alt="결제 관리" /></h3>
			<!-- title_main -->

			<form method="post" action="/payment/index{url_suffix}">
				<fieldset>
				<legend>서비스 검색</legend>
				<div class="table_wrap">
					<table summary="서비스 검색" class="table_row">
					<caption>서비스 검색</caption>
					<colgroup>
						<col width="20%" /><col width="80%" />
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">
								<label for="#">기간</label>
							</th>
							<td colspan="3">
								<span class="select" style="width:110px">
									<select name="datetype" title="기간">
										<option value="udate" {? secParams.datetype==="udate"}selected="selected"{ / }>사용일</option>
										<option value="cdate" {? secParams.datetype==="cdate"}selected="selected"{ / }>청구일</option>
										<option value="pdate" {? secParams.datetype==="pdate"}selected="selected"{ / }>결제일</option>
									</select>
								</span>
								<input type="text" name="sdate" title="시작일자" class="input dateYMDStart" style="width:100px" value="{secParams.sdate}" />
								~ &nbsp;<input type="text" name="edate" title="종료일자" class="input dateYMDEnd" style="width:100px" value="{secParams.edate}" />

							</td>
						</tr>
						<tr>
							<th scope="row">
								<label for="#">세금계산서</label>
							</th>
							<td>
								<span class="select" style="width:110px">
									<select name="sStatus" title="세금계산서">
										<option value="" selected="selected">전체</option>
										<option value="A" {? secParams.sStatus==="A"}selected="selected"{ / }>발행</option>
										<option value="X" {? secParams.sStatus==="X"}selected="selected"{ / }>미발행</option>
										<!-- option value="#" {? secParams.sStatus===""}selected="selected"{ / }>취소</option-->
										<option value="Z" {? secParams.sStatus==="Z"}selected="selected"{ / }>신용카드결제</option>
									</select>
								</span>

								<span class="btn_pack large f_right" style="margin-right:10px"><input type="submit" value="검색" /></span>
							</td>
						</tr>
					</tbody>
					</table>
				</div>
				</fieldset>
			</form>
			<!-- //search_box -->
			<p class="hx20"></p>

			<div class="button hx25">
				{*
				<div class="right">
					<span class="btn_pack small2"><a href="#">결제하기</a></span>
				</div>
				*}
				{ ? is_checkin }
				<div class="left">
					<span class="gray">※ <strong>결제하기</strong>는 상세페이지에서 하실 수 있습니다.</span>
				</div>
				{ / }

			</div>
			<!-- //button -->


			<div class="table">
				<table summary="서비스 목록" class="table_col">
				<caption>서비스 목록</caption>
				<colgroup>
					<col width="70px" />
					{? chk_showname == TRUE }<col width="#" />{/}
					<col width="140px" />
					{? chk_showname == FALSE }<col width="70px" />{/}
					<col width="#" />
					<col width="#" />
					<col width="#" />
					<col width="60px" />
					<col width="60px" />
				</colgroup>
				<thead>
					<tr>

						<th scope="col">발급일</th>
						{? chk_showname == TRUE }<th>청구서명</th>{/}
						<th scope="col">사용기간</th>
						{? chk_showname == FALSE }<th scope="col">결제일</th>{/}
						<th scope="col">청구액</th>
						<th scope="col">결제금액</th>
						<th scope="col">미수잔액</th>
						<th scope="col" style="line-height: 18px!important;">세    금<br/>계산서</th>
						<th scope="col" style="line-height: 18px!important;">상세<br/>보기</th>
					</tr>
				</thead>
				<tbody>
					{ @list }
					<tr>

						<td class="center">{=substr(.dtChargeDate,0,10)}</td>
						{? chk_showname == TRUE }<td>{.sShowName}</td>{/}
						<td>{.sUseDate}</td>
						{? chk_showname == FALSE }<td>{ ? substr(.dtIncome,0,10) == "0000-00-00"}-{:}{=substr(.dtIncome,0,10)}{/}</td>{/} <!-- 결제일-->
						<td class="right">
							{ ? .billmonth_currency == "KRW" }
								{=.sBillMonthPrice} {=.sCurrency}
							{ : }
								{=.sCurrency} {=.sBillMonthPrice}
							{ / }
						</td><!-- 청구액-->
						{ ? .nIncomeprice > 0 }
						<td class="right"><!-- 결제금액-->
							{? .billmonth_currency == "KRW" }
								{= .sIncomeprice} {=(.sCurrency)}
							{ : }
								{=(.sCurrency)} {= .sIncomeprice}
							{ / }
						{ : }
						<td>-
						{ / }
						</td>
						<td { ? .sDeadFlag==1 }class="right"{ / }><!-- 미수잔액-->
							{ ? .sDeadFlag==1 } <span style="color:red;"> { / }
							{ ? .nRemaindPrice > 0}
									{ ? .billmonth_currency == "KRW" }
										{=.sRemaindPrice} {=(.sCurrency)}
									{ : }
										{=(.sCurrency)} {=.sRemaindPrice}
									{ / }

							{ : }
								없음
							{ / }
							{ ? .sDeadFlag } </span> { / }
						</td>
						<td>
							{ ? .sStatus === "X" }
							미발행
							{ : .sStatus === "A" }
							발행
							{ : .sStatus === "B" }
							재발행(신)
							{ : .sStatus === "C" }
							재발행(구)
							{ : .sStatus === "D" }
							수정발행(기존)
							{ : .sStatus === "E" }
							수정발행(신규)
							{ / }
						</td>
						<td>
							{ ? .dvcnt > 0 }
								<span class="btn_pack small"><a href="/payment/detail_new/<?=seed({.nTaxInvoiceSeq}.'||'.{.nBillMonthSeq});?>{url_suffix}">상세</a></span>
							{ : }
							<span class="btn_pack small"><a href="/payment/detail/<?=seed({.nTaxInvoiceSeq}.'||'.{.nBillMonthSeq});?>{url_suffix}">상세</a></span>
							{ / }
						</td>
					</tr>
					{ : }
					<tr>
						<td colspan="8" class="nodata">해당 내용이 없습니다.</td>
					</tr>
					{ / }
				</tbody>
				</table>
				<div style="text-align:right">
					<span class="gray">* 청구액은 VAT 포함금액입니다.</span>
				</div>
				<div class="paginate">{pager}</div>
				</div>
			<!-- //table_col -->
		</div>
</div>

<div class="layerMask"></div>
{ #layout_myfooter }