{ #common_html_header}
    <div class="zipcodeWarp" style="width:500px;margin:0 auto;">
        <div style="width:500px;border-bottom:3px solid #2c76b8;margin-bottom:10px;">
		<h2>우편번호검색</h2>
        </div>
        <div style="width:500px;margin-bottom:10px;">
            <form name="zipcode" id="zipcode" method="post">
            <input type="hidden" name="type" value="0">
			<div class="tab_menu">
				<ul>
					<li class="active"><a href="javascript:">도로명검색</a></li>
					<li class=""><a href="javascript:">지번검색</a></li>
				</ul>
			</div>
            <div class="input_box" style="display:block;">
                <div style="float:left;display:block;">도로명 + 건물번호(예: 세종로 17)를 입력하세요.</div> 
                <div style="float:left;display:none;">찾고자 하는 동 또는 면(읍)명을 입력하세요.</div>
                &nbsp;&nbsp;<input type="text" name="word" placeholder=" 검색어 입력 후 엔터" style="border:1px solid #bcbcbc;height:18px;width:235px;float:right;"/>
            </div>
            </form>
        </div>
        <div style="width:500px;margin-bottom:10px;border:1px solid #bcbcbc;">
        <div>
            <div class="zipcode" id="zipcode_list" style="overflow-y:scroll;height:250px;"></div>
        </div>
        </div>
    </div>
    <script>
    	$(function(){
    		$(".tab_menu ul li").on("click",function(){
    			var _i = $(this).index();
    			$("input[name=type]").val(_i);
    			$(".input_box div","#zipcode").hide();
    			$(".input_box div","#zipcode").eq(_i).show();
    		});
    	});
    </script>
{#common_html_footer}