<style>
th{background-color:#e8e8e8;}
</style>
<div class="table_wrap box">
	<div>
		<div class="title t_center">
			<h4>국내 Traffic (단위: Mbps	)</h4>
		</div>
		<!-- //title_sub -->
		<table class="table_col2">
		<caption>국내 Traffic</caption>
		<colgroup>
			<col  style="width:86px;" /><col /><col /><col /><col />
			<col /><col /><col  style="width:75px;" /><col style="width:75px;" />
		</colgroup>
		<thead>
			<tr>
				<th scope="row" rowspan="2">기간</th>
				<th scope="row" rowspan="2">계약 Traffic</th>
				<th scope="col" colspan="3">Output Traffic</th>
				<th scope="col" colspan="2">Input Traffic</th>
				<th scope="row" rowspan="2">Over Traffic(%)</th>
				<th scope="row" rowspan="2">상세보기</th>
			</tr>
			<tr>
				<th scope="col" class="second">현재 Traffic (Mbps)</th>
				<th scope="col">최대 Traffic (Mbps)</th>
				<th scope="col">평균 Traffic (Mbps)</th>
				<th scope="col">현재 Traffic (Mbps)</th>
				<th scope="col">최대 Traffic (Mbps)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{=date('Y-m-d' ,daySum.dtCreateDate)}</td>
				<td>{=number_format(daySum.nVolume/1000000, 0)}</td>
				<td>{=number_format((daySum.nTrafficOut_now / 1000000),1)}</td>
				<td>{=number_format((daySum.nTrafficOutMax / 1000000),1)}</td>
				<td>{=number_format((daySum.nTrafficOutAvg / 1000000),1)}</td>
				<td>{=number_format((daySum.nTrafficIn_now / 1000000),1)}</td>
				<td>{=number_format((daySum.nTrafficInMax / 1000000),1)}</td>
				<td>
					{ ? daySum.nVolume > 0}
						{ ? daySum.nTrafficInMax > daySum.nTrafficOutMax }
						{=number_format(daySum.nTrafficInMax / daySum.nVolume * 100 ,1)}
						{ : }
						{=number_format(daySum.nTrafficOutMax / daySum.nVolume * 100 ,1)}
						{ / }
					{ : }
					0
					{ / }
					%
				</td>
				<td><span class="btn_pack small"><a href="#" class="btn_stat_detail chkday">상세보기</a></span></td>
			</tr>
		</tbody>
		</table>
		<!-- //table_col -->
	</div>
</div>