<div class="table_wrap box">
	<div>
		<div class="title t_center">
			<h4>국내 Traffic (단위: Mbps	)</h4>
		</div>
		<!-- //title_sub -->
		<table class="table_col2">
		<caption>국내 Traffic</caption>
		<colgroup>
			<col  style="width:86px;" /><col /><col /><col /><col />
			<col /><col /><col  style="width:75px;" />
		</colgroup>
		<thead>
			<tr>
				<th scope="row" rowspan="2">기간</th>
				<th scope="row" rowspan="2">계약 Traffic</th>
				<th scope="col" colspan="3">Output Traffic</th>
				<th scope="col" colspan="2">Input Traffic</th>
				<th scope="row" rowspan="2">Over Traffic(%)</th>
			</tr>
			<tr>
				<th scope="col" class="second">현재 Traffic</th>
				<th scope="col">최대 Traffic</th>
				<th scope="col">평균 Traffic</th>
				<th scope="col">현재 Traffic</th>
				<th scope="col">최대 Traffic</th>
			</tr>
		</thead>
		<tbody>
			{ @day }
			<tr>
				<td>{=date('Y-m-d H' ,.dtCreateDate)}</td>
				<td>{=number_format(.nVolume/1000000, 0)}</td>
				<td>{=number_format((.nTrafficOut_now / 1000000),1)}</td>
				<td>{=number_format((.nTrafficOutMax / 1000000),1)}</td>
				<td>{=number_format((.nTrafficOutAvg / 1000000),1)}</td>
				<td>{=number_format((.nTrafficIn_now / 1000000),1)}</td>
				<td>{=number_format((.nTrafficInMax / 1000000),1)}</td>
				<td>
					{ ? .nVolume > 0}
						{ ? .nTrafficInMax > .nTrafficOutMax }
						{=number_format(.nTrafficInMax / .nVolume * 100 ,1)}
						{ : }
						{=number_format(.nTrafficOutMax / .nVolume * 100 ,1)}
						{ / }
					{ : }
					0
					{ / }
					%
				</td>
			</tr>
			{ / }
		</tbody>
		</table>
		<!-- //table_col -->
	</div>
</div>