{ #common_html_header }
{ #layout_myheader }
<!-- my/  통계관리 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_statistics.png"  alt="통계" /></h3>
		<!-- //title_main -->

		<div class="guide statistics">
			<h5>[안내]</h5>
			<ul>
				<li>서비스를 선택하여 서비스별 통계를 볼 수 있습니다.</li>
				<li>사용중인 서비스가 없는 경우 서비스 목록이 없습니다.</li>
				<li>CDN과 클라우드 서비스는 각 서비스 대시보드에서 통계를 보실 수 있습니다.</li>
			</ul>
		</div>
		<!-- //guide -->

		<div class="table_wrap">
			<div class="table_row statistics">
				<form method="post" id="searchFm">
					<fieldset>
						<span class="select" style="width:150px">
							<select name="nMrtgInfoSeq" title="서비스 선택">
								<option value="" selected="selected">서비스 선택</option>
								{ @mrtg_list }
								<option value="{.nMrtgInfoSeq}">{.sMrtgServerTitle}</option>
								{ / }
							</select>
						</span>
						<input type="text" name="flagDt" title="서비스 기준 일자" class="input dateYMD" style="width:100px" value="{=date("Y-m-d")}" />
						<div class="right">
							<span class="btn_pack small"><a target="_blank" href="http://xstats.nowcdn.co.kr/">CDN 통계보기</a></span>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- //table_wrap -->
		<p class="hx15"></p>

		<div class="statistics">
			<div class="tab_menu">
				<ul>
					<li class="active" data-type="day"><a href="javascript:void(0);">일간 그래프</a></li>
					<li data-type="week"><a href="javascript:void(0);">주간 그래프</a></li>
					<li data-type="month"><a href="javascript:void(0);">월간 그래프</a></li>
				</ul>
			</div>
			<div class="tab_sub tab_box1">
				<p class="hx5"></p>
				<div class="graphdetail"></div>
				<p class="hx10"></p>
				<div id="day_graph_container" class="graph null">
					{mrtg_list_msg}
				</div>
				<br/><br/>
				<div id="day_graph_container2" class="graph null" style="display:none">
					{mrtg_list_msg}
				</div>
			</div>
			<div class="tab_sub tab_box2" style="display:none;">
				<p class="hx5"></p>
				<div class="graphdetail"></div>
				<p class="hx10"></p>
				<div id="week_graph_container" class="graph null">
					{mrtg_list_msg}
				</div>
				<br/><br/>
				<div id="week_graph_container2" class="graph null" style="display:none">
					{mrtg_list_msg}
				</div>
			</div>
			<div class="tab_sub tab_box3" style="display:none;">
				<p class="hx5"></p>
				<div class="graphdetail"></div>
				<p class="hx10"></p>
				<div id="month_graph_container" class="graph null">
					{mrtg_list_msg}
				</div>
				<br/><br/>
				<div id="month_graph_container2" class="graph null" style="display:none">
					{mrtg_list_msg}
				</div>
			</div>
		</div>
		<!-- //statistics -->
	</div>
	<!-- //content -->
</div>

<div class="layerMask"></div>
<div id="dialog-stat" title="상세보기" class="dialog">
	<article class="pop_wrap lyr_wrap pop_stat" style="border:0;max-height:700px;over-flow:scroll">
		<div class="pop_stat_day pop_stat_grid"></div>
		<div class="pop_stat_week pop_stat_grid" ></div>
		<div class="pop_stat_month pop_stat_grid" ></div>
	</article>
</div>
<script>
	var $memberId = "{member.sMemberId}";
	var _gw = 753;
</script>
{ #layout_myfooter }