﻿{ #common_html_header }
{ #layout_myheader_etc }
<!-- my/ k클린 신청페이지 step3-->
<div id="container_etc">
	<div id="content">
			<h3><img src="/images/my/kclean/h3_request.png"   alt="서비스 신청" /></h3>
			<p class="h3_txt"><img src="/images/my/kclean/h4_member_step.png"  alt="K-클린 SOS 서비스를 신청합니다." /></p>
			<!-- title_main -->
			<p class="hx30"></p>

			<p><img src="/images/my/kclean/img_member_step3.gif" width="755" height="70" alt="완료" /></p>
			<p class="hx10"></p>
{? respcode !== "0000" }
			<p class="mt20 kclean_box">결제요청이 실패하였습니다.</p>
			<div class="member_regist">
				<h4>오류 정보</h4>
				<fieldset>
				<legend>신청 정보</legend>
				<div class="table_wrap2">
					<table class="table_row1">
					<caption>신청 정보</caption>
					<colgroup>
						<col style="width:20%" /><col style="width:80%" />
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">결과</th>
								<td>결제 실패</td>
						</tr>
						<tr>
							<th scope="row">결과내용</th>
								<td>{charge_result.sResultMessage}({charge_result.sResultCode})</td>
						</tr>
					</tbody>
					</table>
					<!-- //table_row -->
				</div>
				<!-- //table_wrap -->
				</fieldset>
				<p class="hx30"></p>
			</div>
{:}
            <p class="mt20 kclean_box">신청 및 결제가 완료되었습니다.</p>

			<div class="member_regist">
				<h4>신청 정보</h4>

				<fieldset>
				<legend>신청 정보</legend>
				<div class="table_wrap2">
					<table class="table_row1">
					<caption>신청 정보</caption>
					<colgroup>
						<col style="width:20%" /><col style="width:30%" /><col style="width:20%" /><col style="width:30%" />
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">주문번호</th>
								<td scope="row">{charge_result.sOrderNumber}</td>
							<th scope="row">처리결과</th>
								<td>{charge_result.sResultMessage}</td>
						</tr>
						<tr>
							<th scope="row">서비스</th>
								<td>K-클린</td>
                            <th scope="row">서비스 타입</th>
								<td>SOS 서비스</td>
						</tr>
						<tr>
							<th scope="row">글로벌 서비스</th>
								<td>{? kclean.sGlobal==0}미사용{:}사용{/}</td>
                            <th scope="row">추가 IP 개수</th>
								<td>{kclean.nDomainCount}개</td>
						</tr>
                        <tr>
							<th scope="row">기간</th>
								<td>{kclean.nServiceMonth}개월</td>
                            <th scope="row">설치비</th>
								<td>무료</td>
						</tr>
                        <tr>
                        	<th scope="row">이용료</th>
								<td>{=number_format(kclean.nServicePrice)} 원</td>
							<th scope="row">부가가치세</th>
								<td>{=number_format(kclean.nServicePrice/10)} 원</td>
						</tr>
						<tr>
							<th scope="row">결제 금액</th>
								<td>{=number_format(charge_result.nAmount)} 원</td>
							<th scope="row">결제수단</th>
								<td>신용카드({charge_result.sFinanceName})</td>
						</tr>
					</tbody>
					</table>
					<!-- //table_row -->
				</div>
				<!-- //table_wrap -->
				</fieldset>
				<p class="hx30"></p>
			</div>
{/}
			<!-- //member_regist -->
		</div>
		<!-- //content -->
	</div>
	<!-- //container -->

{ #layout_myfooter }

