﻿{ #common_html_header }
{ #layout_myheader_etc }
<!-- my/ k클린 신청페이지 step2 -->
<div id="container_etc">
    <div id="content">
        <h3><img src="/images/my/kclean/h3_request.png"   alt="서비스 신청" /></h3>
        <p class="h3_txt"><img src="/images/my/kclean/h4_member_step.png"   alt="K-클린 SOS 서비스를 신청합니다." /></p>
        <!-- title_main -->
        <p class="hx30"></p>

        <p><img src="/images/my/kclean/img_member_step2.gif" width="755" height="70" alt="결제" /></p>
        <p class="hx10"></p>

    <form method="post" id="form-payment" name="form-payment"  >
        <input type="hidden" name="ts_ordername"      id="ts_ordername"      value="{ts_ordername}">
        <input type="hidden" name="ts_productinfo"    id="ts_productinfo"    value="{ts_productinfo}">
        <input type="hidden" name="ts_amount"         id="ts_amount"         value="{ts_amount}">
        <input type="hidden" name="ts_buyer"          id="ts_buyer"          value="{ts_buyer}">
        <input type="hidden" name="ts_customername"   id="ts_customername"   value="{ts_customername}">
        <input type="hidden" name="ts_customeremail"  id="ts_customeremail"  value="{ts_customeremail}">
        <input type="hidden" name="ts_customermobile" id="ts_customermobile" value="{ts_customermobile}">
        <input type="hidden" name="strServiceTypeEtc" id="strServiceTypeEtc" value="{strServiceTypeEtc}"> <!-- 기존(기술지원-결제사유 값)  -->
        <input type="hidden" name="strServiceType"    id="strServiceType"    value="{strServiceType}">    <!-- 기존(기술지원-서비스유형'신규' 값)  -->
        <input type="hidden" name="skcleanid"         id="skcleanid"         value="{skcleanid}">         <!-- db insertid -->

        <div class="member_regist">
            <h4>신청 정보</h4>
            <fieldset>
            <legend>신청 정보</legend>
            <div class="table_wrap2">
                <table class="table_row1">
                <caption>신청 정보</caption>
                <colgroup>
                    <col style="width:20%" /><col style="width:30%" /><col style="width:20%" /><col style="width:30%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">서비스</th>
                            <td>K-클린</td>
                        <th scope="row">서비스 타입</th>
                            <td>SOS 서비스</td>
                    </tr>
                    <tr>
                        <th scope="row">글로벌 서비스</th>
                            <td>{sGlobal}</td>
                        <th scope="row">추가 IP 개수</th>
                            <td>{nAddDomainCount} 개</td>
                    </tr>
                    <tr>
                        <th scope="row">기간</th>
                            <td>{nServiceMonth} 개월</td>
                        <th scope="row">설치비</th>
                            <td>무료</td>
                    </tr>
                    <tr>
                        <th scope="row">이용료</th>
                            <td>{=number_format(nServicePrice)} 원</td>
                        <th scope="row">부가가치세</th>
                            <td>{=number_format(nVat)} 원</td>
                    </tr>
                    <tr>
                        <th scope="row">결제 금액</th>
                            <td>{=number_format(nServicePrice + nVat)} 원</td>
                        <th scope="row"></th>
                            <td></td>
                    </tr>
                </tbody>
                </table>
                <!-- //table_row -->
            </div>
            <!-- //table_wrap -->
            </fieldset>

            <p class="mt10">결제할 서비스 내용을 확인하였으며 구매에 동의하시겠습니까?</p>
            <p class="mt5"><label for="payment"><input type="checkbox" name="chkpayment" id="chkpayment" title="신용카드로 자동결제" /> 동의합니다. <a href="http://www.law.go.kr/lsInfoP.do?lsiSeq=140566#0000" target="_blank">(전자상거래법 제8조 2항)</a></label></p>
            <p class="hx30"></p>

            <div class="button">
                <div class="center">
                    <div id="LGD_BUTTON2">
                        <span class="btn_pack xlarge2"><button type="button" onclick="location.href='/kclean/request/request_step1'">취소</button></span>
                        <span class="btn_pack xlarge span-payment-btn01"><button type="submit">결제하기</button></span>
                    </div>
                </div>
            </div>
            <!-- //button -->
        </div>
        <!-- //member_regist -->
        </form>
    </div>
    <!-- //content -->
</div>
<!-- //container -->

<div id="div-toss-payment" class="if-none">
    <iframe name="if_toss_payment" width="100%" height="100%"></iframe>
</div>


{ #layout_myfooter }
