﻿{ #common_html_header }
{ #layout_myheader_etc }
<!-- my/ k클린 신청페이지 step1 -->
<div id="container_etc">
		<div id="content">
			<h3><img src="/images/my/kclean/h3_request.png"  alt="서비스 신청" /></h3>
			<p class="h3_txt"><img src="/images/my/kclean/h4_member_step.png"   alt="K-클린 SOS 서비스를 신청합니다." /></p>
			<!-- title_main -->
			<p class="hx30"></p>

			<p><img src="/images/my/kclean/img_member_step1.gif" width="755" height="70" alt="정보 입력" /></p>
			<p class="hx10"></p>

			<form method="post" id="request1Form" name="request1Form">
			<div class="member_regist">
				<h4>고객 정보</h4>
                    <div class="hx20" style="margin-top:-20px;">  
                        <!-- span class="f_left">이미 kinx.net 회원이라면 <a href="#" class="orange">로그인</a>을 하세요.</span-->                      
                        <span class="f_right small"><font color="red">*</font> 표시는 필수 입력 항목입니다.</span>
                    </div>
					<fieldset>
					<legend>고객 정보</legend>
					<div class="table_wrap2">
						<table class="table_row1">
						<caption>고객 정보</caption>
						<colgroup>
							<col style="width:20%" /><col style="width:30%" /><col style="width:20%" /><col style="width:30%" />
						</colgroup>
						<tbody>
                            <tr>
								<th scope="row">
									<label for="comp">업체명<font color="red">*</font></label>
								</th>
								<td colspan="3">
									<input type="text" name="sCompanyName" id="sCompanyName" title="업체명" class="input" style="width:295px" />
								</td>
							</tr>
                            <tr>
								<th scope="row">업체 유형<font color="red">*</font></th>
								<td colspan="3">
									<label for="cor"><input type="radio" name="sOwnerType" id="cor" title={sOwnerType[0].sCodeName} value={sOwnerType[0].sCode} checked="checked" /> {sOwnerType[0].sCodeName}</label>
                                    <label for="personal"><input type="radio" name="sOwnerType" id="personal" title={sOwnerType[1].sCodeName} value={sOwnerType[1].sCode} /> {sOwnerType[1].sCodeName}</label>
									<label for="individual"><input type="radio" name="sOwnerType" id="individual" title={sOwnerType[2].sCodeName} value={sOwnerType[2].sCode} /> {sOwnerType[2].sCodeName}</label>
									<label for="government"><input type="radio" name="sOwnerType" id="government" title={sOwnerType[3].sCodeName} value={sOwnerType[3].sCode} /> {sOwnerType[3].sCodeName}</label>
								</td>
							</tr>
                            <tr>
								<th scope="row" id="conum_th" class="biznum">
									<label for="conum">사업자번호<font color="red">*</font></label>
								</th>
								<td class="biznum">
									<input type="text" name="sBusinessNumber" id="sBusinessNumber" title="사업자번호" class="input" style="width:195px" placeholder="사업자번호 형식 (000-00-00000)" />
								</td>
								<th scope="row" id="conum_th" class="personnum" style="display:none;">
									<label for="conum">주민등록번호</label>
								</th>
								<td class="personnum"  style="display:none;">
									<input type="text" name="sPersonalNumber" id="sPersonalNumber" title="주민등록번호" class="input" style="width:195px" />
								</td>
                                <th scope="row">해외 구분<font color="red">*</font></th>
								<td>
									<label for="kor"><input type="radio" name="sForeignYn" id="sForeignYn" title={sForeignYn[0].sCodeName} value={sForeignYn[0].sCode} checked="checked" /> 국내</label>
                                    <label for="glo"><input type="radio" name="sForeignYn" id="sForeignYn" title={sForeignYn[1].sCodeName} value={sForeignYn[1].sCode} /> 해외</label>
								</td>
							</tr>
                                <tr>
								<th scope="row">
									<label for="ceon">대표자명<font color="red">*</font></label>
								</th>
								<td colspan="3">
									<input type="text" name="sPresidentName" id="sPresidentName" title="대표자명" class="input" style="width:295px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="address">주소</label>
								</th>
								<td colspan="3">
									<span class="btn_pack small31"><button type="button" onclick="return utility.openZipcode();">우편번호 검색</button></span>									
									<!-- input type="text" name="sZipcode1" id="zipcode1" title="우편번호 앞자리" class="input" style="width:90px" onclick="return utility.openZipcode();" readonly/>-
									<input type="text" name="sZipcode2" id="zipcode2" title="우편번호 뒷자리" class="input" style="width:90px" onclick="return utility.openZipcode();" readonly /-->
									<input type="text" name="zip_code" id="zip_code" title="우편번호" class="input" style="width:90px" readonly />
									<p class="hx5"></p>
									<input type="text" name="sAddress1" id="address_default" title="주소" class="input" style="width:250px" onclick="return utility.openZipcode();" readonly />
									<input type="text" name="sAddress2" id="address2" title="주소" class="input" style="width:300px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="mobile">전화번호<font color="red">*</font></label>
								</th>
								<td>
									<span class="select" style="width:52px">
										<select name="tel_first_select" id="tel_first_select" title="전화 첫번째자리">											
										</select>
									</span>
									-
									<input type="text" name="tel_Phone2" id="tel_Phone2" title="전화 가운데자리" class="input" style="width:46px" />-
									<input type="text" name="tel_Phone3" id="tel_Phone3" title="전화 세번째자리" class="input" style="width:46px" />
								</td>
                                    <th scope="row">
									<label for="fax">팩스번호</label>
								</th>
								<td>
									<span class="select" style="width:52px">
										<select name="fax_first_select" id="fax_first_select" title="팩스번호 첫번째자리">											
										</select>
									</span>
									-
									<input type="text" name="fax2" id="fax2" title="팩스번호 가운데자리" class="input" style="width:46px" />-
									<input type="text" name="fax3" id="fax3" title="팩스번호 세번째자리" class="input" style="width:46px" />									
								</td>
							</tr>
                                <tr>
								<th scope="row">
									<label for="name">담당자 이름<font color="red">*</font></label>
								</th>
								<td colspan="3">
									<input type="text" name="sName" id="name" title="담당자 이름" class="input" style="width:295px" />
								</td>
							</tr>
                            <tr>
								<th scope="row">
									<label for="nmobile">담당자 전화<font color="red">*</font></label>
								</th>
								<td>
									<span class="select" style="width:52px">
									<select name="tel2_first_select" id="tel2_first_select" title="전화번호 앞자리">
									</select>
									</span>
									-
										<input type="text" name="tel2_Phone2" id="tel2_Phone2" title="전화번호 가운데" class="input" style="width:46px" />-
										<input type="text" name="tel2_Phone3" id="tel2_Phone3" title="전화번호 뒷자리" class="input" style="width:46px" />									
								</td>
								
                                <th scope="row">
									<label for="nnmobile">담당자 휴대전화<font color="red">*</font></label>
								</th>
								<td>
									<span class="select" style="width:52px">
										<select name="hp_first_select" id="hp_first_select" title="담당자휴대전화번호 앞자리">									
										</select>
									</span>
									-
									<input type="text" name="hp_second" id="hp_second" title="담당자 휴대전화 가운데" class="input" style="width:46px" />-
									<input type="text" name="hp_third" id="hp_third" title="전담당자 휴대전화 뒷자리" class="input" style="width:46px" />
								</td>
							</tr>
                                <tr>
								<th scope="row">
									<label for="nemail">담당자 이메일<font color="red">*</font></label>
								</th>
								<td colspan="3">
									<input type="text" name="sEmail" id="sEmail" title="대표자명" class="input" style="width:295px" placeholder="이메일형식 (예:user@ixcloud.net)" />
								</td>
							</tr>
						</tbody>
						</table>
						<!-- //table_row -->
					</div>
					<!-- //table_wrap -->
					</fieldset>
				</div>
				<!-- //member_regist -->
                <p class="hx20"></p>
                
                <div class="member_regist">
				<h4>서비스 정보</h4>
					<fieldset>
					<legend>서비스 정보</legend>
					<div class="table_wrap2">
						<table class="table_row1">
						<caption>서비스 정보</caption>
						<colgroup>
							<col style="width:20%" /><col style="width:30%" /><col style="width:20%" /><col style="width:30%" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">서비스</th>
								<td>K-클린</td>
                                    <th scope="row">서비스 타입</th>
								<td>SOS 서비스</td>
							</tr>
                            <tr>
								<th scope="row">
									<label for="globalservide">글로벌 서비스<span class="ico_info" id="layer_kclean_global"></span></label> 
									<div id="layer_kclean_globalinfo">
									<p>글로벌 서비스</p>
										해외에 위치한 케이아이엔엑스의 글로벌 CDN POP을 거점으로 Anycast 및 Caching 방식을 이용하여 
										해외에서 발생하는 공격을 분산 처리할 수 있습니다.
									</div>
								</th>
								
								<td>
									<label for="gok"><input type="radio" name="sGlobal" id="gok" title={sGlobal[0].sCodeName} value={sGlobal[0].sCode} /> 사용</label>
                                    <label for="gno"><input type="radio" name="sGlobal" id="gno" title={sGlobal[1].sCodeName} value={sGlobal[1].sCode} checked="checked" /> 미사용</label>
								</td>
                                    <th scope="row">
                                    	<label for="domain">도메인 개수<span class="ico_info" id="layer_kclean_domain"></span></label> 
										<div id="layer_kclean_domaininfo">										
											방어할 도메인은 기본 1개입니다. 
											추가할 도메인을 포함한 개수를 입력하세요
										</div>
                                    </th>
								<td><input type="text" name="nDomainCount" id="nDomainCount" title="도메인 개수" class="input" style="width:50px" />개</td>
							</tr>
                                <tr>
								<th scope="row">기간
									<label for="money"><span class="ico_money" id="layer_kclean_money"></span></label> 
										<div id="layer_kclean_moneyinfo">										
											12개월인 경우 2개월이 무료입니다.
										</div>
								</th>
								<td colspan="3">
									<label for="1m"><input type="radio" name="nServiceMonth" id="1m" title={nServiceMonth[0].sCodeName} value={nServiceMonth[0].sCode} checked="checked" /> 1개월</label>
                                    <label for="3m"><input type="radio" name="nServiceMonth" id="3m" title={nServiceMonth[1].sCodeName} value={nServiceMonth[1].sCode} /> 3개월</label>
                                    <label for="6m"><input type="radio" name="nServiceMonth" id="3m" title={nServiceMonth[2].sCodeName} value={nServiceMonth[2].sCode} /> 6개월</label>
                                    <label for="12m"><input type="radio" name="nServiceMonth" id="3m" title={nServiceMonth[3].sCodeName} value={nServiceMonth[3].sCode} /> 12개월</label>
								</td>
							</tr>
                                <tr>
								<th scope="row">설치비</th>
								<td>무료</td>
                                    <th scope="row">서비스 비용</th>
								<td>
									<span class="serviceprice" style="font-weight:bold">0</span> 원
									<input type="hidden" name="nServicePrice"  title="" class="input" style="width:0px" value="0"/>
								</td>
							</tr>
                            </tbody>
						</table>
						<!-- //table_row -->
                        <div class="mt5">
                            <span class="f_right small"><font style="font-size:12px;">※</font> 부가세(VAT) 별도</span>
                        </div>
					</div>
					<!-- //table_wrap -->
					</fieldset>
				</div>
				<!-- //member_regist -->
                
                <div class="member_regist">
				<h4>운영 사이트 정보</h4>
					<fieldset>
					<legend>운영 사이트 정보</legend>
					<div class="table_wrap2">
						<table class="table_row1">
						<caption>운영 사이트 정보</caption>
						<colgroup>
							<col style="width:20%" /><col style="width:30%" /><col style="width:20%" /><col style="width:30%" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">DNS운영<font color="red">*</font></th>
								<td colspan="3">
                                        <label for="1"><input type="radio" name="sDNS" id="1" title={sDNS[0].sCodeName} value={sDNS[0].sCode} checked="checked" /> 자체 운영</label>
                                        <label for="2"><input type="radio" name="sDNS" id="2" title={sDNS[1].sCodeName} value={sDNS[1].sCode} /> 타사 운영</label>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">서비스 URL<font color="red">*</font></th>
								<td colspan="3" class="urlpart">
									<div class="urlgroup" style="padding-bottom:5px;">
										<input type="text" name="URL[]" id="url" title="URL" class="input" style="width:195px" />&nbsp;&nbsp;&nbsp;IP 
										<input type="text" name="IP[]" id="ip" title="IP" class="input" style="width:100px" />&nbsp;&nbsp;&nbsp;TTL정보 
										<input type="text" name="TTL[]" id="ttl" title="TTL정보" class="input" style="width:100px" />
	                                    <span class="btn_pack small31"><button type="button" class="btn_addurl">+ 추가</button></span>
                                    </div>
                                    <p class="small mt10 gray">(서비스 정보에 선택한 도메인 개수 만큼 입력 가능합니다. 호스트가 다른 경우 다른 도메인으로 처리됩니다.)</p>
								</td>
							</tr>
                                <tr>
								<th scope="row">테스트 계정</th>
								<td colspan="3">
                                        ID <input type="text" name="sTestID" id="sTestID" title="ID" class="input" style="width:150px" />
                                          &nbsp;&nbsp;&nbsp;PW <input type="text" name="sTestPW" id="sTestPW" title="PW" class="input" style="width:150px" />
                                 </td>
							</tr>
                                <tr>
								<th scope="row">방화벽(보안장비)</th>
								<td colspan="3">
                                        <label for="ok1"><input type="radio" name="sWall" id="ok1" title={sWall[0].sCodeName} value={sWall[0].sCode} checked="checked" /> 있음</label>
                                        <label for="no1"><input type="radio" name="sWall" id="no1" title={sWall[0].sCodeName} value={sWall[0].sCode} /> 없음</label>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">
									<label for="sitet">사이트 설명<font color="red">*</font></label>
								</th>
								<td colspan="3">
									<input type="text" name="sSiteDesc" id="sSiteDesc" title="사이트 설명" class="input" style="width:570px" />
								</td>
							</tr>
                                <tr>
								<th scope="row">
									<label for="sitet">일간 peak Traffic량 (out)/세션량<font color="red">*</font></label>
								</th>
								<td colspan="3">
									<input type="text" name="sTraffic" id="sTraffic" title="일간 peak Traffic량 (out)/세션량" class="input" style="width:295px" />
								</td>
							</tr>
                                <tr>
								<th scope="row">인증서(SSL)사용<font color="red">*</font></th>
								<td colspan="3">
                                        <label for="ok2"><input type="radio" name="sSSL" id="ok2" title={sSSL[0].sCodeName} value={sSSL[0].sCode} checked="checked" /> {sSSL[0].sCodeName}</label>
                                        <label for="no2"><input type="radio" name="sSSL" id="no2" title={sSSL[1].sCodeName} value={sSSL[1].sCode} /> {sSSL[1].sCodeName}</label>
                                        <span class="small gray">(SSL 페이지가 서비스 URL과 경로가 다르다면 미사용으로 선택하세요.)</span>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">서비스 port<font color="red">*</font></th>
								<td colspan="3">
                                        <label for="port1"><input type="radio" name="sPortRadio" id="port1" title={sPort[0].sCodeName} value={sPort[0].sCode} checked="checked" /> {sPort[0].sCodeName}</label>
                                        <label for="port2"><input type="radio" name="sPortRadio" id="port2" title={sPort[1].sCodeName} value={sPort[1].sCode} /> {sPort[1].sCodeName}</label>
                                        <input type="text" name="sPort" id="domainn" title="서비스 port" class="input" style="width:50px" />
                                        <span class="small gray">(80 port와 443 port 이외의 서비스 제공 중인 port가 있으면 기입)</span>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">웹서버 O/S정보</th>
								<td colspan="3">
                                        <label for="os1"><input type="radio" name="sOS" id="os1" title={sOS[0].sCodeName} value={sOS[0].sCode} checked="checked" /> {sOS[0].sCodeName}</label>
                                        <label for="os2"><input type="radio" name="sOS" id="os2" title={sOS[1].sCodeName} value={sOS[1].sCode}  /> {sOS[1].sCodeName}</label>
                                        <label for="os3"><input type="radio" name="sOS" id="os3" title={sOS[2].sCodeName} value={sOS[2].sCode}  /> {sOS[2].sCodeName}</label>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">L4사용 유무</th>
								<td colspan="3">
                                        <label for="l41"><input type="radio" name="sL4" id="l41" title={sL4[0].sCodeName} value={sL4[0].sCode} checked="checked" /> {sL4[0].sCodeName}</label>
                                        <label for="l42"><input type="radio" name="sL4" id="l42" title={sL4[1].sCodeName} value={sL4[1].sCode} /> {sL4[1].sCodeName}</label>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">DB정보</th>
								<td colspan="3">
                                        <label for="db1"><input type="radio" name="sDB" id="db1" title={sDB[0].sCodeName} value={sDB[0].sCode} checked="checked" /> {sDB[0].sCodeName}</label>
                                        <label for="db2"><input type="radio" name="sDB" id="db2" title={sDB[1].sCodeName} value={sDB[1].sCode} /> {sDB[1].sCodeName}</label>
                                        <label for="db3"><input type="radio" name="sDB" id="db3" title={sDB[2].sCodeName} value={sDB[2].sCode} /> {sDB[2].sCodeName}</label>
                                        <label for="db4"><input type="radio" name="sDB" id="db4" title={sDB[3].sCodeName} value={sDB[3].sCode} /> {sDB[3].sCodeName}</label>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">대역폭</th>
								<td colspan="3">
                                        <label for="ma1"><input type="radio" name="sBandwidth" id="ma1" title={sBandwidth[0].sCodeName} value={sBandwidth[0].sCode} checked="checked" /> {sBandwidth[0].sCodeName}</label>
                                        <label for="ma2"><input type="radio" name="sBandwidth" id="ma2" title={sBandwidth[1].sCodeName} value={sBandwidth[1].sCode} /> {sBandwidth[1].sCodeName}</label>
                                        <label for="ma3"><input type="radio" name="sBandwidth" id="ma3" title={sBandwidth[2].sCodeName} value={sBandwidth[2].sCode} /> {sBandwidth[2].sCodeName}</label>
                                        <label for="ma4"><input type="radio" name="sBandwidth" id="ma4" title={sBandwidth[3].sCodeName} value={sBandwidth[3].sCode} /> {sBandwidth[3].sCodeName}</label>
                                        <label for="ma5"><input type="radio" name="sBandwidth" id="ma5" title={sBandwidth[4].sCodeName} value={sBandwidth[4].sCode} /> {sBandwidth[4].sCodeName}</label>
                                        <label for="ma6"><input type="radio" name="sBandwidth" id="ma6" title={sBandwidth[5].sCodeName} value={sBandwidth[5].sCode} /> {sBandwidth[5].sCodeName}</label>
                                        <p class="mt5"><label for="ma7"><input type="radio" name="sBandwidth" id="ma7"  title={sBandwidth[6].sCodeName} value={sBandwidth[6].sCode} /> {sBandwidth[6].sCodeName}</label></p>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">로그인 페이지</th>
								<td colspan="3">
                                        <label for="login1"><input type="radio" name="sLoginpage" id="login1" title={sLoginpage[0].sCodeName} value={sLoginpage[0].sCode} checked="checked" /> {sLoginpage[0].sCodeName}</label>
                                        <label for="login2"><input type="radio" name="sLoginpage" id="login2" title={sLoginpage[1].sCodeName} value={sLoginpage[1].sCode} /> {sLoginpage[1].sCodeName}</label>
                                    </td>
							</tr>
                                <tr>
								<th scope="row">해외 서비스</th>
								<td colspan="3">
                                        <label for="ok3"><input type="radio" name="sGlobalService" id="ok3" title={sGlobalService[0].sCodeName} value={sGlobalService[0].sCode} checked="checked" /> {sGlobalService[0].sCodeName}</label>
                                        <label for="no3"><input type="radio" name="sGlobalService" id="no3" title={sGlobalService[1].sCodeName} value={sGlobalService[1].sCode} /> {sGlobalService[1].sCodeName}</label>
                                        <span class="small gray">(해외로부터 접속이 필요하여 글로벌 서비스가 필요한 경우 선택합니다.)</span>
                                    </td>
							</tr>
                                <!--<tr>
								<th scope="row">약관 동의*</th>
								<td colspan="3">
									<label for="use_agreement"><input type="checkbox" name="#" id="use_agreement" title="서비스 이용 약관 동의" /> 케이아이엔엑스 서비스 이용 약관에 동의합니다.&nbsp; <a href="<?= $path ?>/agreement/cloudService.php" class="orange" target="_blank">[자세히보기]</a></label>
									<p class="mt5"><label for="per_agreement"><input type="checkbox" name="#" id="per_agreement" title="개인정보 수집, 이용에 동의" /> 개인정보 수집, 이용에 동의합니다.&nbsp; <a href="<?= $path ?>/agreement/privacy.php" class="orange" target="_blank">[자세히보기]</a></label></p>
								</td>
							</tr>-->
                            </tbody>
						</table>
						<!-- //table_row -->
                        <p class="mt15"><label for="use_agreement"><input type="checkbox" name="chkag01" id="use_agreement" title="서비스 이용 약관 동의" /> K-클린 서비스 이용 약관에 동의합니다.&nbsp; <a href="<?= 'http://'.WWW_DOMAIN_NAME ?>/agreements/agreements/agreement05/" class="orange" target="_blank">[자세히보기]</a></label>
						<p class="mt5"><label for="per_agreement"><input type="checkbox" name="chkag02" id="per_agreement" title="개인정보 수집, 이용에 동의" /> 개인정보 수집, 이용에 동의합니다.&nbsp; <a href="<?= 'http://'.WWW_DOMAIN_NAME ?>/agreements/agreements-3/" class="orange" target="_blank">[자세히보기]</a></label></p>
					</div>
					<!-- //table_wrap -->
					</fieldset>						
				</div>
				<!-- //member_regist -->
				
				<p class="hx30"></p>
				
				<div> 
						<div class="g-recaptcha" data-sitekey="6LekUw8UAAAAAEOFq68h_PxFDtqg8ITekxTgGKYF"  style="width:800px;"></div>
						<input type="hidden" name="secretkey" value="6LekUw8UAAAAALvJvm3CbLv-AgHH2LDl5866ZzeH">
				</div>
				 
				
				<p class="hx30"></p>
				
				<div class="button">
					<div class="center">
                        <span class="btn_pack xlarge2"><button type="button" onclick="$(this).parents('form')[0].reset();return false;">취소</button></span>
						<span class="btn_pack xlarge"><button type="submit">다음단계</button></span>
					</div>
				</div>
				<!-- //button -->
			
			</form>
                
		</div>
		<!-- //content -->
	</div>
	<!-- //container -->

<script src='https://www.google.com/recaptcha/api.js?hl=ko'></script>
<script language="javascript">

$(document).ready(function(){
	request.step1.init();
});

 

</script>

{ #layout_myfooter }