@charset "utf-8";

body, p, img, a, ul, li{ border:none; margin:0; padding:0; text-align:left; font-family:"Malgun Gothic"; font-size:14px; color:#303030;}
a{ text-decoration:none }
a:hover,a:active,a:focus{ text-decoration:underline }
input, textarea, select {margin:0; padding:0; outline:0 none; border:0; resize:none; vertical-align:middle; font-family:"Malgun Gothic"; }
table { border-collapse:collapse; }
table td {word-wrap:break-word}
ul, ol, ul  {list-style:none; padding:0}

html {background: url(images.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover; 
          -moz-background-size: cover; 
          -o-background-size: cover; 
          background-size: cover; 
}  



/* 공통 */
.b		{font-weight:bold;}
.tc		{text-align:center;}
.ora	{color:#ff8b01;}
.under	{text-decoration:underline;}
.ft18	{font-size:18px;}
.mt10	{margin:10px 0 0 0;}
.mt20	{margin:20px 0 0 0;}
.mt30	{margin:30px 0 0 0;}
.mt40	{margin:40px 0 0 0;}
.mt50	{margin:40px 0 0 0;}
.mt60	{margin:60px 0 0 0;}
.mt70	{margin:70px 0 0 0;}
.mt100	{margin:100px 0 0 0;}
.c1000	{width:1000px; margin:auto;}



#main_01		{width:100%;}
.main_title		{width:900px;}
.main_txt1		{font-size:40px; color:#ffffff; padding:220px 0 0 0; letter-spacing:-1px; line-height:42px; text-align:center;}
.main_txt2		{font-size:16px; color:#ffffff; padding:30px 0 0 0; letter-spacing:-0.5px; line-height:25px; text-align:center;}
.main_txt3		{font-size:16px; color:#eeeeee; padding:20px 0 0 0; letter-spacing:-1px; line-height:25px; text-align:center;}
.main_txt4		{font-size:22px; color:#ff8c01; letter-spacing:0px; line-height:25px; text-align:center;}
.main_img		{padding:100px 0 0 0; text-align:center;}
.topimg_box		{width:970px; height:1000px; margin:auto;}





