﻿@charset "utf-8";

body, p, img, a, ul, li{ border:none; margin:0; padding:0; text-align:left; font-family:"Malgun Gothic"; font-size:14px; color:#303030;}
a{ text-decoration:none }
a:hover,a:active,a:focus{ text-decoration:underline }
input, textarea, select {margin:0; padding:0; outline:0 none; border:0; resize:none; vertical-align:middle; font-family:"Malgun Gothic"; }
table { border-collapse:collapse; }
table td {word-wrap:break-word}
ul, ol, ul  {list-style:none; padding:0}



/* 공통 */
.b		{font-weight:bold;}
.tc		{text-align:center;}
.ora	{color:#ff8b01;}
.under	{text-decoration:underline;}
.ft18	{font-size:18px;}
.mt10	{margin:10px 0 0 0;}
.mt20	{margin:20px 0 0 0;}
.mt30	{margin:30px 0 0 0;}
.mt40	{margin:40px 0 0 0;}
.mt50	{margin:40px 0 0 0;}
.mt60	{margin:60px 0 0 0;}
.mt70	{margin:70px 0 0 0;}
.mt100	{margin:100px 0 0 0;}
.c1000	{width:1000px; margin:auto;}



#main_01		{background:url(/images/announce/bg_pop.jpg) no-repeat; width:400px; height:500px;}
.main_title		{width:400px;}
.main_txt1		{font-size:32px; color:#ffffff; padding:80px 0 0 0; letter-spacing:-1px; line-height:35px; text-align:center;}
.main_txt2		{font-size:13px; color:#ffffff; padding:40px 0 0 0; letter-spacing:0px; line-height:18px; text-align:center;}
.main_txt3		{font-size:13px; color:#eeeeee; padding:30px 0 0 0; letter-spacing:-1px; line-height:25px; text-align:center;}
.main_txt4		{font-size:16px; color:#ff8c01; letter-spacing:0px; line-height:25px; text-align:center;}
.main_img		{margin-top:15px; text-align:center;}
.topimg_box		{width:400px; height:600px; margin:auto;}





