<div class="title">
	<h4>정보통신기기 반입 신청 (선택)</h4>
</div>
<table summary="정보통신기기 반입 신청" class="table_row2">
<caption>정보통신기기 반입 신청</caption>
<colgroup>
	<col width="15%" /><col width="85%" />
</colgroup>				
<tbody>
	<tr>
		<th scope="row">
			<label for="tools_type">장비 종류</label>
		</th>
		{ ? basic.sResultStatus == 'F' }
			<td>
				{basic.sToolInfo}
			<td>
		{:}
			<td>
				<label for="notebook"><input type="checkbox" name="tool_info[]" value="N" id="tool_notebook" title="노트북PC" {basic.tool_notebook}  /> 노트북PC</label>
				<label for="tablet"><input type="checkbox" name="tool_info[]" value="T" id="tool_tablet" title="스마트폰/테블릿" {basic.tool_tablet} /> 스마트폰/테블릿</label>
				<label for="usb"><input type="checkbox" name="tool_info[]" value="U" id="tool_usb" title="USB/HDD" {basic.tool_usb} /> USB/HDD</label>
			</td>
		{/}
		
	</tr>
	<tr>
		<th scope="row">
			<label for="tools_use">사용 용도</label>
		</th>
		{ ? basic.sResultStatus == 'F' }
			<td>
				{basic.sTooluse}
			<td>
		{:}
			<td>							
				<textarea name="sTooluse" id="sTooluse" title="사용용도" class="textarea" style="height:70px">{basic.sTooluse}</textarea>
			</td>
		{/}
		
	</tr>	
</tbody>
</table>
					
<div class="detail_view3">	
	<div class="wrap3 guide3">	
		<h5>* 정보통신기기의 인정 범위</h5>			
		<ol>
			<li>1) 개인용 PC 및 노트북/PDA(태블릿, 스마트폰 포함) 등 현대사회에서 구동되는 모든 Operation System을 탑재한 컴퓨터 장비</li>
			<li>2) 전자적인 촬영 및 데이터 저장 복제 등이 가능한 카메라/이동식저장소(USB, HDD) 등</li>
			<li>3) 정보보안 담당자가 판단하여 회사의 정보보호 기능에 문제를 일으킬 수 있는 기타 전자적인 장비</li>
		</ol>
		<p class="hx15"></p>

		<h5>* 정보통신기기 사용자 반입 사용자 유의사항</h5>
		<p>허가되지 않은 정보통신기기를 ㈜케이아이엔엑스 (이하 "회사"라 함)에서 사용하기 위해선 본 신청서를 제출하셔야 하며 정보보안 담당자의 승인 후 사용이 가능합니다. 승인 후 상기 정보통신기기의 사용 시 아래 사항을 준수하여 주시기 바랍니다.</p>
		<p class="hx15"></p>
		<p align="center">- 다    음 -</p>		
		<p class="hx15"></p>
		
		<ol>
			<li>1. 해당 기기를 가지고 보안구역 및 통제구역에 무단으로 출입하지 않도록 유의 바랍니다.</li>
			<li>2. 허용되지 않은 정보자산에 접근을 시도하거나 정보보호 기능을 우회하는 시도를 금지하여 주십시오.</li>
			<li>3. 업무상 취득한 회사의 자산을 무단으로 복제/저장/촬영을 금지합니다.</li>
			<li>4. 회사의 통신망을 이용하여 외부인 접근이 금지된 타 회사나 기관의 통신망 또는 시스템에 임의로 접속을 금지합니다.</li>
			<li>5. 기타 회사의 정보보호 관련 규정을 준수하여 주십시오.</li>
			<li>6. 사용자는 상기 사항을 준수하여야 하며 만일 이를 위반하였을 경우 정보보호법 및 영업비밀에 관한 법률 등 관련 법령에 따른 민·형사상의 책임을 감수함은 물론, 회사는 손해에 대해 지체 없이 변상·복구를 요청할 수 있음을 유의하여 주십시오.</li>
		</ol>
	</div> 
</div>

