﻿﻿<!-- //단체 -->
<div class="tab_sub tab_box1">
<form method="post" id="idpwReqCompForm" name="idpwReqCompForm" enctype="multipart/form-data">
	<input type="hidden" name="check_info" id="check_info" value="">
	<input type="hidden" name="check_doc" id="check_doc" value="A">
	<input type="file" name="addfile1_1img" id="addfile1_1img" style="position:absolute; top : -200px;"  value="" />
	<input type="file" name="addfile1_2img" id="addfile1_2img" style="position:absolute; top : -200px;"  value="" />
	<input type="hidden" name="secretkey" value="6LekUw8UAAAAALvJvm3CbLv-AgHH2LDl5866ZzeH">
	<table class="table_row1 mb2">
	<caption>단체 회원 정보</caption>
	<colgroup>
		<col style="width:17%" /><col style="width:33%" /><col style="width:17%" /><col style="width:33%" />
	</colgroup>
	<tbody>
		<tr>
			<th scope="row">
				<label for="company">업체명 *</label>
			</th>
			<td>
				<input type="text" name="companyName" id="companyName" title="업체명" class="input" style="width:220px" />
			</td>
			<th scope="row">
				<label for="companynumber">사업자번호 *</label>
			</th>
			<td>
				<input type="text" name="bizNo" id="bizNo" title="사업자번호" class="input" style="width:220px" />
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="name">신청자  *</label>
			</th>
			<td>
				<input type="text" name="reqName" id="reqName" title="신청자 명" class="input" style="width:220px" />
			</td>
			<th scope="row">
				<label for="relation">관계 *</label>
			</th>
			<td>
				<input type="text" name="relation" id="relation" title="관계" class="input" style="width:220px" />
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="phone">일반전화 *</label>
			</th>
			<td>
				<input type="text" name="phone" id="phone"  class="input" style="width:220px" />
			</td>
			<th scope="row">
				<label for="cellphone">휴대전화 *</label>
			</th>
			<td>
				<input type="text" name="cellphone" id="cellphone" title="휴대전화" class="input" style="width:150px" />
				<span class="btn_pack small3" id="btn_comp_self_auth" onclick="fnPopup(); return false;" ><p>인증하기</p></span>
				<span class="btn_pack small3" id="btn_comp_self_auth_success" onclick="return false;" style="display:none; "><p style="color:#2290db; cursor:default; ">인증완료</p></span>
				<br><p id="msg_comp_cellphone_validate"></p>
				<p id="msg_comp_self_auth"></p>
				<input type="hidden" name="chk_comp_certification" id="chk_comp_certification" value="NO">
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="#">이메일 <span>*</span></label>
			</th>
			<td colspan="3">
				<input type="text" name="email_1" id="email_1" class="input" style="width:100px" />
			@ &nbsp;<input type="text" name="email_2" id="email_2" title="" class="input" style="width:120px" />
				<span class="select" style="width:120px">
					<select name="email_select" id="email_select" title="이메일 주소">
					</select>
				</span>
				<span id='email_errmsg'></span>
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="info">정보 선택 *</label>
			</th>
			<td colspan="3"><label for="find_id"><input type="checkbox" name="find_idpw" id="find_id" value="I" onclick="click_info_id();" /> 아이디 분실</label>
                         <label for="find_pw"><input type="checkbox" name="find_idpw" id="find_pw" value="P" onclick="click_info_pw();"  /> 비밀번호 분실</label>
               <span id='errmsg2'></span>
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="reason">사유 *</label>
			</th>
			<td colspan="3">
				<textarea name="reason" id="reason" title="사유" class="textarea" style="height:70px"></textarea>
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="info">서류접수 방법 *</label>
			</th>
			<td colspan="3"><label for="addfile"><input type="radio" name="reception" id="addfile1" onclick="radio_click_docinfo_addfile();" title="첨부파일" value="A" checked="checked" /> 첨부파일</label>
				<label for="fax"><input type="radio" name="reception" id="fax" onclick="radio_click_docinfo_fax();" title="팩스" value="F" /> 팩스</label>
			</td>
		</tr>
        <tr id="doc_addfile">
			<th scope="row">
				<label for="info">첨부파일 *</label>
			</th>
			<td colspan="3">사업자등록증  사본, 신청자의 신분증 사본을 첨부해주십시오.<span id='errmsg3'></span>
                <input type="text" name="addfile1_1img_dp" id="addfile1_1img_dp" class="input" readonly="1" style="width:400px" />
                <label for="addfile1_1img" style="margin:0"><span class="btn_pack small3"><p>찾아보기</p></span></label>
                <p class="mt5"></p>
                <input type="text" name="addfile1_2img_dp" id="addfile1_2img_dp" title="첨부파일" class="input" style="width:400px" />
                <label for="addfile1_2img" style="margin:0"><span class="btn_pack small3"><p>찾아보기</p></span></label>
			</td>
		</tr>
		<tr id="doc_fax" style="display:none">
			<th scope="row">
				<label for="info">첨부파일 *</label>
			</th>
			<td colspan="3">본 신청을 완료 하신 후 해당 서류를 팩스 (02-526-0999) 로 보내주시기바랍니다<br>
			* 필요한 서류 :<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인 - 신분증 사본<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;단체 - 사업자등록증 사본, 신청자의 신분증 사본
			</td>
		</tr>
		<tr>
			<th scope="row">
				<label for="#">자동입력방지 <strong>*</strong></label>
			</th>
			<td colspan="3" id="chk-auto-captcha1"></td>
		</tr>
	</tbody>
	</table>
	<!-- //table_row -->

	{ #privacyassent_detailview }
	<!-- //table_wrap -->
	<p class="hx30"></p>

	<div class="button">
		<div class="center">
			<span class="btn_pack xlarge"><button type="submit" >신청</button></span>
		</div>
	</div>
	<!-- //button -->
</form>
</div>
<!-- //단체 -->
