﻿﻿<!-- //개인 -->
<div class="tab_sub tab_box2" style="display:none">
<form method="post" id="idpwReqPrivForm" name="idpwReqPrivForm" enctype="multipart/form-data">
	<input type="hidden" name="check_info2" id="check_info2" value="">
	<input type="hidden" name="check_doc2" id="check_doc2" value="A">
	<input type="file" name="addfile2_1img" id="addfile2_1img" style="position:absolute; top : -200px;"  value="" />
	<input type="hidden" name="secretkey" value="6LekUw8UAAAAALvJvm3CbLv-AgHH2LDl5866ZzeH">
	<table class="table_row1 mb2">
	<caption>일반 회원 정보</caption>
	<colgroup>
		<col style="width:17%" /><col style="width:33%" /><col style="width:17%" /><col style="width:33%" />
	</colgroup>
	<tbody>
        <tr>
			<th scope="row">
				<label for="name">회원명 *</label>
			</th>
			<td>
				<input type="text" name="userName" id="userName" title="회원명" class="input" style="width:220px" />
			</td>
			<th scope="row">
				<label for="relation">주민등록번호 *</label>
			</th>
			<td>
				<input type="text" name="residentNo" id="residentNo" title="주민등록번호" class="input" style="width:110px" />&nbsp;앞 6자리 입력&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id='errmsg7'></span>
			</td>
		</tr>
                 <tr>
			<th scope="row">
				<label for="phone2">일반전화 *</label>
			</th>
			<td>
				<input type="text" name="phone2" id="phone2" title="일반전화" class="input" style="width:220px" />
			</td>
			<th scope="row">
				<label for="cellphone2">휴대전화 *</label>
			</th>
			<td>
				<input type="text" name="cellphone2" id="cellphone2" title="휴대전화" class="input" style="width:150px" />
				<span class="btn_pack small3" id="btn_priv_self_auth" onclick="fnPopup(); return false;" ><p>인증하기</p></span>
				<span class="btn_pack small3" id="btn_priv_self_auth_success" onclick="return false;" style="display:none;"><p style="color:#2290db; cursor:default; ">인증완료</p></span>
				<br><p id="msg_priv_cellphone_validate"></p>
				<p id="msg_priv_self_auth"></p>
				<input type="hidden" name="chk_priv_certification" id="chk_priv_certification" value="NO">
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="#">이메일 <span>*</span></label>
			</th>
			<td colspan="3">
				<input type="text" name="email2_1" id="email2_1" class="input" style="width:100px" />
			@ &nbsp;<input type="text" name="email2_2" id="email2_2" class="input" style="width:120px" />
				<span class="select" style="width:120px">
					<select name="email_select" id="email_select" title="이메일 주소">
					</select>
				</span>
				<span id='email2_errmsg'></span>
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="info">정보 선택 *</label>
			</th>
			<td colspan="3"><label for="find_id2"><input type="checkbox" name="find_idpw2" id="find_id2" value="I" onclick="click_info2_id();" /> 아이디 분실</label>
                         <label for="find_pw2"><input type="checkbox" name="find_idpw2" id="find_pw2" value="P" onclick="click_info2_pw();"  /> 비밀번호 분실</label>
                  <span id='errmsg5'></span>
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="reason2">사유 *</label>
			</th>
			<td colspan="3">
				<textarea name="reason2" id="reason2" title="사유" class="textarea" style="height:70px"></textarea>
			</td>
		</tr>
        <tr>
			<th scope="row">
				<label for="info">서류접수 방법 *</label>
			</th>
			<td colspan="3"><label for="addfile"><input type="radio" name="reception" id="addfile2" onclick="radio_click_docinfo2_addfile();" title="첨부파일" value="A" checked="checked" /> 첨부파일</label>
				<label for="fax"><input type="radio" name="reception" id="fax2" onclick="radio_click_docinfo2_fax();" title="팩스" value="F" /> 팩스</label>
			</td>
		</tr>
        <tr id="doc_addfile2">
			<th scope="row">
				<label for="info">첨부파일 *</label>
			</th>
			<td colspan="3">신청자의 신분증 사본을 첨부해주십시오.<span id='errmsg6'></span>
				<input type="text" name="addfile2_1img_dp" id="addfile2_1img_dp" title="첨부파일" class="input" style="width:400px" />
                <label for="addfile2_1img" style="margin:0"><span class="btn_pack small3"><p>찾아보기</p></span></label>
			</td>
		</tr>
		<tr id="doc_fax2" style="display:none">
			<th scope="row">
				<label for="info">첨부파일 *</label>
			</th>
			<td colspan="3">본 신청을 완료 하신 후 해당 서류를 팩스 (02-526-0999) 로 보내주시기바랍니다<br>
			* 필요한 서류 :<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인 - 신분증 사본<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;단체 - 사업자등록증 사본, 신청자의 신분증 사본
			</td>
		</tr>
		<tr>
			<th scope="row">
				<label for="#">자동입력방지 <strong>*</strong></label>
			</th>
			<td colspan="3" id="chk-auto-captcha2"></td>
		</tr>
	</tbody>
	</table>
	<!-- //table_row -->

	{ #privacyassent_detailview2 }
	<!-- //table_wrap -->
	<p class="hx30"></p>

	<div class="button">
		<div class="center">
			<span class="btn_pack xlarge"><button type="submit" >신청</button></span>
		</div>
	</div>
	<!-- //button -->
</form>
</div>
<!-- //개인 -->
