{ #common_html_header }
{ #layout_myheader_etc }
<!-- my/ 결제안내 -->
<div id="container_etc">
	<div id="content">
		<h3><img src="/images/my/payment/h3_payment.png"  alt="결제안내" /></h3>
		<!-- title_main -->

		<div class="tab_wrap">
			<h4>이용료 납부 방법</h4>
		</div>
		<p class="hx10"></p>
		{#payment_payment}
		<!-- //tab_menu -->

		<div class="tab_sub tab_box3">
			<div class="tab_wrap2">
				<strong>CMS자동이체란?</strong><br />
				매월 특정 날짜에 사용하신 서비스 요금이 자동으로 이체 출금되는 결제방법입니다.<br />
				자동이체를 신청하시면 매월 결제하시는 번거로움 없이 서비스 요금을 납부하실 수 있습니다.<br />
				자동이체 신청을 원하시면 <strong class="orange">신청서 양식을 다운</strong> 받으신 후 작성하여 접수해 주시기 바랍니다.
				<p class="hx20"></p>

				<ul>
					<li>- 신청 방법 : 팩스 접수 02-526-0999 (팩스 발송 후 확인 전화 부탁드립니다.)</li>
					<li>- 관련 문의 : 02-526-0932 </li>
				</ul>
			</div>
			<!-- //tab_wrap -->

			<div class="button">
				<div class="center">
					<span class="btn_pack xlarge"><a href="/payment_doc_down">신청서 다운</a></span>
				</div>
			</div>
			<!-- //button -->
			<p class="hx20"></p>

			<div class="table_view">
				<div class="th2">
					<strong>CMS자동이체 접수 안내 사항</strong>
					<ol>
						<li>1. 자동이체일은 다음과 같습니다.
							<ul>
								<li>- 서버호스팅, 코로케이션, IX, 회선임대 : 매월 25일</li>
								<li>- CLOUD : 매월 5일</li>
							</ul>
						</li>
						<li>2. 월 금액한도 : 400만원 이하(월 사용액이 400만원 이상인 경우 신청이 불가합니다.)</li>
						<li>3. 법인의 경우 반드시 법인인감을 날인해주십시오.</li>
					</ol>
				</div>
			</div>
			<!-- //table_view -->
			</div>
			<!-- //CMS 자동이체 -->

	<p class="hx50"></p>
			
	{#payment_paymentconditionCMS}
			
	</div>
	<!-- //content -->
</div>
<!-- //container -->
{ #layout_myfooter }