{ #common_html_header }
{ #layout_myheader_etc }

<!-- my/support/payment -->
<div id="container_etc">
    <div id="content">
        <h3><img src="/images/my/payment/h3_payment.png"  alt="결제안내" /></h3>
        <!-- title_main -->

        <div class="tab_wrap"><h4>이용료 납부 방법</h4></div>
        <p class="hx10"></p>
        {#payment_payment}
        <!-- //tab_menu -->


        <div class="tab_sub tab_box2">
            <div class="tab_wrap2">
                신용카드 결제가 가능합니다.<br />
                입금 내용을 입력하신 후 하단의 <strong class="orange">결제하기</strong> 버튼을 누르시면 토스 결제창으로 연결됩니다.<br />
                청구서에는 'tosspayment' 명의로 대금이 청구됩니다.
            </div>
            <!-- //tab_wrap2 -->

            <form method="post" id="form-payment" name="form-payment">
            <div class="table_wrap2">
                <table class="table_row1">
                    <caption>신용카드</caption>
                    <colgroup>
                        <col style="width:20%" /><col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="#">서비스 구분 <strong>*</strong></label></th>
                            <td>
                                <label for="#"><input type="radio" name="ts_ordername" title="서버호스팅" value="서버호스팅" checked="checked" /> 서버호스팅</label>
                                <label for="#"><input type="radio" name="ts_ordername" title="코로케이션" value="코로케이션" /> 코로케이션</label>
                                <label for="#"><input type="radio" name="ts_ordername" title="기타" value="기타" id="ts_ordername" /> 기타</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">결제사유 <strong>*</strong></label></th>
                            <td>
                                <input type="text" value="" name="ts_productinfo" id="ts_productinfo" title="결제사유" class="input" style="width:300px" required/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">서비스 요금 <strong>*</strong></label></th>
                            <td>
                                <select name="ts_amount" id="ts_amount" title="서비스 요금" class="input"   style="width:310px"  required>
                                { @ amount_list }
                                <option value="{ .amount_num }">{ .amount_str }</option>
                                { / }
                                </select>
                                <div style="margin-bottom: -8px;"><span class="small orange">부가세 포함 금액으로 선택해 주세요.</span></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">결제자명 <strong>*</strong></label></th>
                            <td>
                                <input type="text" value="" name="ts_buyer" id="ts_buyer" title="결제자명" class="input"  style="width:300px" required/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">업체명 <strong>*</strong></label></th>
                            <td>
                                <input type="text" value="" name="ts_customername" id="ts_customername" title="업체명" class="input" style="width:300px" required/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">이메일 <strong>*</strong></label></th>
                            <td>
                                <input type="text" value="" name="ts_customeremail" id="ts_customeremail" title="이메일" class="input" style="width:300px" required/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">휴대폰 번호 <strong>*</strong></label></th>
                            <td>
                                <input type="text" value="" name="ts_customermobile" id="ts_customermobile" title="휴대폰 번호" class="input" style="width:300px" required/>
                                <div style="margin-bottom: -8px;"><span class="small orange">'-'없이 숫자만 입력해 주세요.</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- //table_row -->
                <p class="hx20"></p>

                <div class="button">
                    <div class="center">
                        <div id="div-payment-btn01">
                            <p class="right">
                                <span class="small gray"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //table_wrap -->
            </form>

        </div>
        <!-- //tab_sub tab_box2 -->

        <p class="hx50"></p>
        {#payment_paymentcondition}

    </div>
    <!-- //content -->
</div>
<!-- //container_etc -->


{? charge_result !== FALSE }
<div class="layer payment_result">
    <article class="pop_wrap lyr_wrap">
        <!-- header -->
        <header class="header">
            <h1>신용카드 결제결과</h1>
            <!-- //titile_main -->
            <a href="javascript:" class="close btn_pop_close" data-hide-type="remove"></a>
        </header>
        <!-- //header -->
        <div>
            <section class="container">
                {? charge_result.sResultCode == "0000" }
                <table border="0" cellspacing="0" cellpadding="1">
                    <tr>
                        <td height="10" align="center">
                            <br>
                            <strong>[결제처리내역]</strong><br><br>
                            <div class="table_wrap2">
                                <table class="table_row1">
                                    <tr>
                                        <th scope="row">주문번호</th>
                                        <td width="65%" align="left">{charge_result.sOrderNumber}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">결제수단</th>
                                        <td width="65%" align="left">신용카드 ({charge_result.sFinanceName})</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">처리결과</th>
                                        <td width="65%" align="left">{charge_result.sResultMessage}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">결제금액</th>
                                        <td width="65%" align="left"> <strong><?= number_format({charge_result.nAmount})?> 원</strong> (부가세 포함가격임)</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="hx10"></p>
                            <center>서비스를 이용해 주셔서 감사합니다.</center>
                            <p class="hx10"></p>
                            <div class="button">
                                <div class="center">
                                    <span class="btn_pack large">
                                        <a href="javascript:" class="btn_pop_close" data-hide-type="remove">닫기</a>
                                    </span>
                                </div>
                            </div>
                            <p class="hx20"></p>
                        </td>
                    </tr>
                </table>
                {:}
                <table width="100%" border="0" cellspacing="0" cellpadding="1">
                    <tr>
                        <td height="10" align="center">
                            <br>
                            <strong>[결제처리내역]</strong><br><br>
                            <div class="table_wrap2">
                                <table class="table_row1">
                                    <tr>
                                        <th scope="row">결과</th>
                                        <td width="65%" align="left">카드결제 실패 하였습니다.({charge_result.sResultCode})</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">결과내용</th>
                                        <td width="65%" align="left">{charge_result.sResultMessage}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="hx10"></p>
                            <center>카드결제 실패 내용을 확인하시고,  고객센터에 문의해 주세요.</center>
                            <p class="hx10"></p>
                            <div class="button">
                                <div class="center">
                                    <span class="btn_pack large">
                                        <a href="javascript:" class="btn_pop_close" data-hide-type="remove">닫기</a>
                                    </span>
                                </div>
                            </div>
                            <p class="hx20"></p>
                        </td>
                    </tr>
                </table>
                {/}
            </section>
        </div>
    </article>
</div>
<div class="layerMask"></div>
<script language="javascript">
    $(document).ready(function () {
        let maskH = $(document).height();
        let maskW = $(document).width();
        let winH  = $(window).height();

        $("body").append($('.payment_result'));
        $('.layerMask').css({'width':maskW,'height':maskH});
        $('.layerMask').fadeTo('300',0.5);
        $('.payment_result').show();

        $(".btn_pop_close").unbind('click').on("click", function(e){
            window.location.replace(window.location.origin+"/support/payment/payment02");
        });
    });

</script>
{/}

{ #layout_myfooter }