{ #common_html_header }
{ #layout_myheader_etc }
<!-- my/ 결제안내 -->
<div id="container_etc">
	<div id="content">
		<h3><img src="/images/my/payment/h3_payment.png"   alt="결제안내" /></h3>
		<!-- title_main -->

		<div class="tab_wrap">
			<h4>이용료 납부 방법</h4>
		</div>
		<p class="hx10"></p>
		{#payment_payment}
		<!-- //tab_menu -->
		<form method="post" id="payment01" name="payment01" >
		<div class="tab_sub tab_box1">
			<div class="tab_wrap2">
				<ul>
					<li><strong>- 입금계좌 : 신한은행 140-004-504074</strong></li>
					<li><strong>- 예금주 : (주)케이아이엔엑스</strong></li>
				</ul>
				<p class="hx20"></p>

				무통장 입금의 경우 실시간 입금 확인이 되지 않습니다.<br />
				입금하신 후 입금내역을 하단의 입력폼을 통해 알려주시면 빠른 처리가 가능합니다.<br />
				<span class="orange">관련문의 : 02-526-0900</span>
			</div>
			<!-- //tab_wrap -->

			<div class="table_wrap2">
				<table class="table_row1">
				<caption>무통장 입금</caption>
				<colgroup>
					<col style="width:20%" /><col style="width:*" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="#">업체명 <strong>*</strong></label>
						</th>
						<td>
							<input type="text" name="sCompanyName" id="sCompanyName" title="업체명" class="input" style="width:300px" />
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">입금자명 <strong>*</strong></label>
						</th>
						<td>
							<input type="text" name="sDepositName" id="sDepositName" title="입금자명" class="input" style="width:300px" />
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">입금일 <strong>*</strong></label><?php date("Y");?>
						</th>
						<td>
							<span class="select" style="width:80px">
							<select name="nDepositYear" id="nDepositYear" title="년">
							<?php
								for ($i = date("Y", strtotime("-1 years")) ; $i <= date("Y") ; $i++){
									if( $i == date("Y") ){
										echo "<option value=\"" . $i . "\" selected=\"selected\">". $i . "</option>";
									}else{
										echo "<option value=\"" . $i . "\">". $i . "</option>";
									}
								}
							?>
							</select>
							</span>년&nbsp;
							<span class="select" style="width:50px">
							<select name="nDepositMonth" id="nDepositMonth" title="월">
								<?php
								for ($i = 1 ; $i <= 12 ; $i++){
									if( $i == date("m") ){
										echo "<option value=\"" . $i . "\" selected=\"selected\">". $i . "</option>";
									}else{
										echo "<option value=\"" . $i . "\">". $i . "</option>";
									}
								}
								?>
							</select>
							</span>월&nbsp;
							<span class="select" style="width:50px">
							<select name="nDepositDay" id="nDepositDay" title="일">
								<?php
								for ($i = 1 ; $i <= 31 ; $i++){
									if( $i == date("d") ){
										echo "<option value=\"" . $i . "\" selected=\"selected\">". $i . "</option>";
									}else{
										echo "<option value=\"" . $i . "\">". $i . "</option>";
									}
								}
								?>
							</select>
							</span>일
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">결제사유 <strong>*</strong></label>
						</th>
						<td>
							<input type="text" name="sPaymentComment" id="sPaymentComment" title="서비스 요금" class="input" style="width:300px" />
							<span class="small gray">예 : 2013년 1월 코로케이션 비용</span>
							<span id='errmsg1'></span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">결제유형 <strong>*</strong></label>
						</th>
						<td>
							<label for="#"><input type="radio" name="nPaymentType" id="nPaymentType" title="신규신청" value="신규신청" /> 신규신청</label>
							<label for="#"><input type="radio" name="nPaymentType" id="nPaymentType" title="이용료납입" value="이용료납입" checked="checked" /> 이용료납입</label>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">납부금액 <strong>*</strong></label>
						</th>
						<td>
							<input type="text" name="nPaymentPrice" id="nPaymentPrice" title="납부금액" class="input" style="width:300px" />
							<span class="small orange">부가세 포함 금액</span>
							<span id='errmsg2'></span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">이메일 <strong>*</strong></label>
						</th>
						<td>
							<input type="text" name="sEmail" id="sEmail" title="이메일" class="input" style="width:300px" />
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">휴대폰 번호 <strong>*</strong></label>
						</th>
						<td>
							<input type="text" name="sPhone" id="sPhone" title="휴대폰 번호" class="input" style="width:300px" />
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">자동입력방지 <strong>*</strong></label>
						</th>
						<td>
							<div class="g-recaptcha" data-sitekey="6LekUw8UAAAAAEOFq68h_PxFDtqg8ITekxTgGKYF"></div>
						    <input type="hidden" name="secretkey" value="6LekUw8UAAAAALvJvm3CbLv-AgHH2LDl5866ZzeH">
						</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			<p class="hx20"></p>

			<div class="button">
				<div class="center">
					<span class="btn_pack xlarge"><button type="submit" >저장</button></span>
				</div>
			</div>
			<!-- //button -->
		</div>
		<!-- //무통장 입금 -->

		<p class="hx50"></p>

	{#payment_paymentcondition}

		</form>
		<!-- //무통장 입금 -->
	</div>
	<!-- //content -->
</div>
<!-- //container -->

<script src='https://www.google.com/recaptcha/api.js?hl=ko'></script>
<script language="javascript">
	$(document).ready(function(){
		my_payment01.init();
	})
</script>

{ #layout_myfooter }