<div class="tab_menu">
	<ul>
		<li { ? rsegment_2 === "payment01" }class="active"{ / } ><a href="/support/payment/payment01">무통장 입금</a></li>
		<li { ? rsegment_2 === "payment02" }class="active"{ / } ><a href="/support/payment/payment02">신용카드</a></li>
		<li { ? rsegment_2 === "payment03" }class="active"{ / } ><a href="/support/payment/payment03">CMS 자동이체</a></li>
	</ul>
</div>
<!-- //tab_menu -->