<div class="tab_wrap">
	<h4>서비스별 결제 조건</h4>
	<table class="table_col1">
	<caption>서비스별 전화번호 안내</caption>
	<colgroup>
		<col style="width:20%" /><col style="width:40%" /><col style="width:40%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col" class="second">서버호스팅</th>
			<th scope="col">코로케이션 및 기타 서비스</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row" class="row2">결제 방법</th>
			<td class="left">무통장 계좌이체/신용카드</td>
			<td class="left">무통장 계좌이체/신용카드</td>
		</tr>
		<tr>
			<th scope="row" class="row2">납부 방식</th>
			<td class="left">당월제</td>
			<td class="left">계약별 협의</td>
		</tr>
		<tr>
			<th scope="row" class="row2">결제일</th>
			<td class="left">매월 말일 이내</td>
			<td class="left">매월 말일 이내</td>
		</tr>
		<tr>
			<th scope="row" class="row2">계약 조건</th>
			<td class="left">2년 약정(계약에 따라 변경 가능)</td>
			<td class="left">1년 약정(계약에 따라 변경 가능)</td>
		</tr>
		<tr>
			<th scope="row" class="row2">비고</th>
			<td class="left">월별 서비스 비용청구(보증금 포함)<br />입금확인 후 서비스 개시</td>
			<td class="left">월별 서비스 비용 청구<br />(계약 조건에 따라 변경될 수 있음)</td>
		</tr>
	</tbody>
	</table>
	<!-- //table_col -->
</div>
<!-- //서비스별 결제 조건 -->