{ #encommon_html_header }

<div id="wrap_login" >
    <div class="header-container">
        <nav class="navbar navbar-static-top nav-header-1200" role="navigation">
            <div class="navbar-header">
                            <span><a href="https://www.kinx.net/?lang=en" target="_blank"><img src="/images/login/kinx_ci.png"></a></span>
                            <span><img src="/images/login/kinx_fullname.png"></span>

            </div>
            <ul class="nav navbar-top-links ">
                <a href="http://company.kinx.net/?lang=en" target="_blank"><span style="font-size:12px;color:#363636;">Company</span></a>
                <span style="font-size:12px;color:#898989;"> | </span>
                <a href="/" ><span style="font-size:12px;color:#363636;">KOREAN</span></a>
            </ul>
        </nav>
    </div>
    <!-- 헤더 끝 -->
    <div class="middle-box text-center loginscreen animated fadeInDown">
            <div class="my_logo"><img src="/images/login/logo_mykinx.png"></div>
            <div class="basic_size">
                <!-- start -->
                <form class="m-t-none" role="form"   name="loginForm" method="post" action="/en/auth/sign_in{url_suffix}">
                    <div style="margin:0 auto; width:300px; text-align:center;">
                        <span class="login_font_1">My KINX</span><span class="login_font_2">&nbsp;Login<small>.</small></span>
                    </div>
                    <div class="form-group m-b-10 m-t-30">
                            <input type="text" class="form-control form_label_size" placeholder="  Id"  style="width: 290px;height:40px;padding-left:10px;"  name="sMemberId"  value="{ saveid }">
                    </div>
                    <div class="form-group m-b-15">
                            <input type="password"  class="form-control form_label_size" style="width: 290px;height:40px;padding-left:10px;" placeholder="  Password"  name="sPassword"  >
                    </div>
                    <div class="form-group m-b-15">
                        <a href="#" onclick="alert('If you forget your ID or password, please send us an globalbiz@kinx.net. We will get back to you right away.');"><span class="login_font_3" style="float:right;">Forgot ID / Password</span></a>
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b-15 submit_btn login_font_5" style="background-color:#ff620c;border-color:#ff620c; cursor:pointer;">Login</button>
                    <p class="login_font_4">Only service user can login.</p>

                    <div class="m-b-15" style="border-bottom: 1px solid #d7d7d7; position: relative; width: 360px;right: 30px;"></div>

                    <p class="login_label2">* Contact sales : +82-2-526-9000 (ext.0)<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:sales@kinx.net" target="_top" onclick="gtag('event', 'click', {'event_category': '메일문의', 'event_label': 'sales@kinx.net'});">sales@kinx.net</a></p>
                    <p class="login_label2">* Get Support : +82-2-526-0900 (ext.2) <a href="mailto:tech@kinx.net" target="_top" onclick="gtag('event', 'click', {'event_category': '메일문의', 'event_label': 'tech@kinx.net'});">tech@kinx.net</a></p>
                </form>
                <!-- end -->
            </div><!--end basic_size -->


    </div><!-- end middle box -->

    <div class="footer-container" style="background-color: #242424;">
        <nav class="navbar navbar-static-bottom nav-footer-1200" role="navigation">
                <div class="float-right" style="float: right!important; text-align:right;">
                                <span style="font-size:13px;color:#898989;">©KINX Inc. All Rights Reserved.</span>
                </div>
                <div>
                        <span style="font-size:13px;color:#898989;padding-right:10px;">(주)케이아이엔엑스</span>
                        <span style="font-size:12px;color:#898989;padding-right:10px;">Korea Internet Neutral Exchange</span>
                </div>
        </nav>
</div>
</div><!-- end wrap-->
<!-- #layout_myfooter -->
