{ #encommon_html_header }

<div id="wrap">
<div id="container">
    <div id="new_login">
        <div class="lgn_title"><img src="/images/my/en/login_title_eng.png"></div>
        <form name="loginForm" method="post" action="/en/auth/sign_in{url_suffix}">
            <div class="lgn_etc">
            	<div class="lgn_txt1 bold">Account Management</div>
            	<div class="lgn_box">
                	<div class="lgn_id bold">ID</div>
                	<div class="lgn_pw bold">PW</div>
                	<div class="lgn_input1"><input type="text" name="sMemberId" placeholder="ID" title="아이디" class="input" style="width:140px" value="{ saveid }"  /></div>
                	<div class="lgn_input2"><input type="password" name="sPassword"  placeholder="password" title="비밀번호" class="input" style="width:140px" /></div>
                	<div class="lgn_btn"><input type="image" src="/images/my/en/btn_login_eng.gif" width="56" height="56" alt="로그인" /></div>
                </div>
            	<div class="lgn_find"><span class="lgn_txt3"><a href="#" onclick="alert('If you forget your ID or password, please send us an globalbiz@kinx.net. We will get back to you right away.');">Forgot ID/ Password</a></span></div>
            </div><!-- end lgn_etc -->
        </form>

        <form name="cloud_login" method="post" action="/en/auth/sign_in_cloud{url_suffix}">
            <div class="lgn_cloud">
            	<div class="lgn_txt1 bold">Cloud Account Management</div>
                <div class="cloud_login_section">
                {? cloud_user == null }
                    <div class="cloud_login_section_form">
                    	<div class="lgn_box">
                            <p class="error_place" style="margin-top:10px;"></p>
                        	<div class="lgn_id bold">Email</div>
                        	<div class="lgn_pw bold">PW</div>
                        	<div class="lgn_input1"><input type="text" name="userid" placeholder="ID" title="id" class="input" style="width:140px" value="{saved_cloud_id}"/></div>
                        	<div class="lgn_input2"><input type="password" name="password"  placeholder="password" title="pw" class="input" style="width:140px" value=""/></div>
                        	<div class="lgn_btn"><input type="image" src="/images/my/en/btn_login_eng.gif" width="56" height="56" alt="로그인" /></div>
                        </div>
                    	<div class="lgn_find">
                            <span class="lgn_txt3">
                                <a role="button" onclick="ixcAccount.findpwd();" style="cursor:pointer;">Forget password</a> &nbsp;/&nbsp;
                                <a role="button" onclick="ixcAccount.join();" style="cursor:pointer;">sign up for</a>
                            </span>
                        </div>
                    </div>
                {:}
                    <div class="cloud_login_section_signed">
                        <div class="lgn_txt2">&nbsp;</div>
                        <div class="lgn_box">
                            <div class="lgn_txt4 mt40">You are logged in as <span class="bold">{cloud_user}</span> </div>
                            <div class="lgn_txt2"><a href="/en/auth/sign_out_cloud{url_suffix}"><img src="/images/my/btn_logout2.gif"></a></div>
                        </div>
                    </div>
                {/}
                </div>
            </div><!-- end lgn_cloud -->
        </form>

        <form name="grizzly_auth" method="post">
            <input type="hidden" name="key"/>
            <input type="hidden" name="next" value="dashboard/project"/>
        </form>
        <form name="juno_auth" method="post">
            <input type="hidden" name="key"/>
        </form>
        <div id="id_modal_cloud_grizzly_auth">
            Open the cloud management console?
            <div class="btn_box" style="margin-top:30px;text-align:center;">
                <span class="btn_pack xlarge">
                    <button name="btn_grizzly_dashboard" style="cursor:pointer">Open</button>
                </span>
            </div>
        </div>
        <div id="id_modal_cloud_juno_auth">
            Open the Manage Clouds page?
            <div class="btn_box" style="margin-top:30px;text-align:center;">
                <span class="btn_pack xlarge">
                    <button name="btn_myixcloud_manage" style="cursor:pointer">Open</button>
                </span>
            </div>
        </div>
        <div id="id_modal_cloud_all_auth" autofocus>
            <p>You are using two versions of the cloud service.<br/>Please select the service you want to sign in below.</p>
            <table class="table_col" style="margin:15px 0;">
                <colgroup>
                    <col style="width:30%">
                    <col style="width:40%">
                    <col style="width:30%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Service Version</th>
                        <th scope="col">Project name in use</th>
                        <th scope="col">Connect</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>IxcloudG</td>
                        <td id="id_ixc_g_project_desc"></td>
                        <td><button name="btn_grizzly_dashboard" class="btn btn-sm" style="background-image:none;width:120px;">Open the cloud management console</button></td>
                    </tr>
                    <tr>
                        <td>IxcloudJ/K</td>
                        <td id="id_ixc_j_project_desc"></td>
                        <td><button name="btn_myixcloud_manage" class="btn btn-sm" style="background-image:none;width:120px;">Open the Manage Clouds page</button></td>
                    </tr>
                </tbody>
            </table>
            <p>If you have any questions, please contact us at 02-526-0900 (No. 1)</p>
        </div>


    </div>
</div>
<!-- //container -->


{ #enlayout_myfooter }
