{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_consult.png" width="141" height="26" alt="My Inquiries" /></h3>
		<!-- title_main -->

		<div class="guide2">
			<h5>[Guide]</h5>
			<ul>
				<li>You can see the details of your application for consultation and answers in KINX’s website. (But, the details you’ve consulted without log-in will not be saved.)</li>
			</ul>
		</div>
		<!-- //guide -->
		<p class="hx25"></p>

		<div class="table">
			<table class="table_col">
			<caption>My Inquiries</caption>
			<colgroup>
				<col style="width:10%" /><col style="width:15%" /><col style="width:*" /><col style="width:20%" /><col style="width:10%" /><col style="width:15%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">Ticket Number</th>
					<th scope="col">Date of application</th>
					<th scope="col">Title</th>
					<th scope="col">Subject</th>
					<th scope="col">Status</th>
					<th scope="col">Detail view</th>
				</tr>
			</thead>
			<tbody>
				{ @ list }
				<tr>
					<td>{ .sTicketNo }</td>
					<td>{= date('Y-m-d', strtotime(.dtRegDate))}</td>
					<td class="left">{ .sTitle }</td>
					<td class="center">{ .sSubjectName }</td>
					<td class="center">{ .nStatusName }</td>
					<td><span class="btn_pack small"><a href="/en/counsel/view/<?=encryptIt({.nCounSeq});?>{url_suffix}" class="small">view</a></span></td>
				</tr>
				{ : }
				<tr>
					<td colspan="6" class="nodata">There is no related content.</td>
				</tr>
				{ / }
			</tbody>
			</table>
			<div class="paginate">{pager}</div>
		</div>
		<!-- //table_col -->
	</div>
	<!-- //content -->
</div>
{ #enlayout_myfooter }