{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_consult.png" width="141" height="26" alt="My Inquiries" /></h3>
		</h3>
		<!-- title_main -->

		<div class="table_wrap2">
			<table class="table_row1">
			<caption>My Inquiries view</caption>
			<colgroup>
				<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">Ticket No</th>
					{ ? basic.sInquiryType == 'T' }
						{ ? basic.sTicketNo != "" } <td>{basic.sTicketNo}</td> {:} <td>-</td>{/}
					{:}
						<td>-</td>
					{/}
					
					<th scope="row">Status</th>
					<!-- td>{ ? basic.nStatus : '0' }접수{:'5'}처리완료{:'9'}취소{/}</td-->
					<td>{ basic.nStatusName  }</td>
				</tr>
				<tr>
					<th scope="row">Date of application</th>
					<td>{= date('Y-m-d H:i', strtotime(basic.dtRegDate))}</td>
					<th scope="row">Date of Completion</th>
					{? basic.dtAnswerDate!=""}
					<td>{= date('Y-m-d H:i', strtotime(basic.dtAnswerDate))}</td>
					{:}
					<td>-</td>
					{/}
				</tr>				
				<tr>
					<th scope="row">Subject</th>
					<td colspan="3">{ basic.sSubjectName } </td>
				</tr>
				<tr>
					<th scope="row">Title</th>
					<td colspan="3">{ basic.sTitle }</td>
				</tr>
				<tr>
					<th scope="row">Request</th>
					<td colspan="3">{ =nl2br(basic.sQuestion) }</td>
				</tr>
				<?if( {basic.sInquiryType} == 'S' && {basic.nStatus}=='5' ){?>
					<tr>
						<th scope="row">Answer</th>
						<td colspan="3">{ =nl2br(basic.sAnswer) }</td>
					</tr>
				<?}else{?>
					{ @answerlist }
						{ ? answerlist.size_ > 0 }
							
							<tr>
								<th scope="row" rowspan="2">Answer</th>
								<td colspan="3">{=nl2br(.sAnswerTitle)} &nbsp;&nbsp;&nbsp; (등록일 : {.dtRegDate})</td>
								<tr>
								<td colspan="3" style="border-left:1px solid #EBEBEB;">{=nl2br(.sAnswer)}</td>
								</tr>
							</tr>							
						{:}
							<tr>
								<th scope="row">Answer</th>
								<td colspan="3"> - </td>
							</tr>
						{/}
					{/}	
				<?}?>
			</tbody>
			</table>
			<!-- //table_row -->
		</div>
		<!-- //table_wrap -->
		<p class="hx30"></p>

		<div class="button">
			<div class="center">
				<span class="btn_pack xlarge"><a href="/en/counsel/index{url_suffix}">LIST</a></span>
			</div>
		</div>
		<!-- //button -->
	</div>
	<!-- //content -->
</div>
{ #enlayout_myfooter }