{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / 시스템현황 / 상세 -->
<div id="container">
    { #menu_my }
    <div id="content">
        <h3><img src="/images/my/h3_usage_view.png"   alt="청구사용량 상세보기" /></h3>
        <!-- //title_main -->

        <div class="table_wrap">
            <div class="title">
                <h4>계약 내용</h4>
            </div>
            <!-- //title_sub -->
            <table summary="계약 내용" class="table_row2">
                <caption>계약 내용</caption>
                <colgroup>
                    <col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">상태</th>
                        <td>
                            {? basic.sStatus === "Y"}
                            정상
                            {: basic.sStatus === "S"}
                            해지
                            {: basic.sStatus === "X"}
                            삭제
                            {: basic.sStatus === "U"}
                            미 개통
                            { / }
                        </td>
                        <th scope="row">구분</th>
                        <td>{service.sServiceType}</td>

                    </tr>
                    <tr>
                        <th scope="row">서비스명</th>
                        <td>{service.sServiceName}</td>
                        <th scope="row">계약용량(회선)</th>
                        <td>{ ? basic.nVolume < 1 } - { : }{basic.nVolume}{ / }</td>
                    </tr>
                    <tr>
                        <th scope="row">세부내용</th>
                        <td>{service.sServiceDetail}</td>
                        <th scope="row">수량</th>
                        <td>{ basic.nQuantity }</td>
                    </tr>
                    <tr>
                        {? basic.sStatus === "U"}
                        <th scope="row">계약기간</th>
                        <td> - </td>
                        <th scope="row">잔여기간</th>
                        <td> - </td>
                        {:}
                        <th scope="row">계약기간</th>
                        <td>{basic.dtStartDate} ~ {basic.dtEndDate}</td>
                        <th scope="row">잔여기간</th>
                        <td>{?basic.dtEndDate=='0000-00-00'}-{:}{=get_unexpired_term(basic.dtEndDate)}일{/}</td>
                        {/}
                    </tr>
                </tbody>
            </table>
            <!-- //table_row -->
        </div>
        <!-- //table_wrap -->




        <p class="hx20"></p>
        <div class="table_wrap">
            <div class="title">
                <h4>청구 내용</h4>
            </div>
            <!-- //title_sub -->
            <table summary="청구 내용" class="table_row2">
                <caption>청구 내용</caption>
                <colgroup>
                    <col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">청구월</th>
                        <td scope="row">{=substr(billing.dtBilling,0,7)}</td>
                        <th scope="row">사용량 기간</th>
                        <td scope="row">{ billing.dtUse }</td>
                    </tr>
                    <tr>
                        <th scope="row">사용량</th>
                        <td scope="row">{=number_format(billing.nUsageSize)} {billing.sUsageUnit}</td>
                        <th scope="row">데이터 기준</th>
                        <td scope="row">{billing.dataRule}</td>
                    </tr>
                </tbody>
            </table>
            <!-- //table_row -->
        </div>
        <!-- //table_wrap -->


        <p class="hx30"></p>
        <div id="bill_day_data_graph_container" class="graph null" style="border: 1px solid #afafaf;">

        </div>



        <p class="hx20"></p>
        <div class="table_wrap">
            <div class="title">
                <h4>일별 사용량</h4>
            </div>
            <!-- //title_sub -->
            <table summary="일별 사용량" class="table_row2">
                <caption>일별 사용량</caption>
                <colgroup>
                    <col width="35%" /><col width="65%" />
                </colgroup>
                <tbody>
                    { @usage_list}
                    <tr>
                        <th scope="row" class="center">{ .key_ }</th>
                        <td scope="row" class="right" style="padding-right:20px">{ =number_format_clean(.value_,2) } {unit}</td>
                    </tr>
                    {/}
                </tbody>
            </table>
            <!-- //table_row -->
        </div>
        <!-- //table_wrap -->



        <p class="hx20"></p>
        <div class="button">
            <div class="center">
                <span class="btn_pack xlarge"><a href="/usage/index{url_suffix}">목록</a></span>
            </div>
        </div>
        <!-- //button -->
    </div>
    <!-- //content -->
</div>

{ #layout_myfooter }