{ #common_html_header }
{ #layout_myheader }
<!-- my/ 청구사용량 -->
<div id="container">
    { #menu_my }
    <div id="content">
        <h3><img src="/images/my/h3_usage.png"   alt="청구 사용량" /></h3>
        <!-- title_main -->

        <form method="post" action="/usage/index{url_suffix}">
            <fieldset>
            <legend>서비스 검색</legend>
            <div class="table_wrap">
                <table summary="서비스 검색" class="table_row">
                    <caption>서비스 검색</caption>
                    <colgroup>
                        <col width="20%" /><col width="80%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label for="#">청구월</label>
                            </th>
                            <td scope="row">
                                <span class="select" style="width:100px">
                                    <select name="dtBillMonth" title="청구월">
                                        <option value="" >전체</option>
                                        { @ search.billmonth }
                                        <option value="{.key_}" {.selected}>{.value}</option>
                                        {/}
                                    </select>
                                </span>
                                <span class="btn_pack large f_right" style="margin-right:10px"><input type="submit" value="검색" /></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </fieldset>
        </form>
        <!-- //search_box -->
        <p class="hx20"></p>







        <div class="table">
            <table summary="서비스 목록" class="table_col">
                <caption>서비스 목록</caption>
                <colgroup>
                    <col style="width:80px"/>
                    <col style="width:70px"/>
                    <col/>
                    <col/>
                    <col style="width:150px"/>
                    <col style="width:110px"/>
                    <col style="width:80px"/>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">청구월</th>
                        <th scope="col">구분</th>
                        <th scope="col">서비스명</th>
                        <th scope="col">세부내용</th>
                        <th scope="col">사용기간</th>
                        <th scope="col">사용량</th>
                        <th scope="col">상세보기</th>
                    </tr>
                </thead>
                <tbody>
                    { @list }
                    <tr>
                        <td class="center">{=substr(.dtBilling,0,7)}</td>
                        <td class="center">{.sServiceType}</td>
                        <td class="left">{=cutstr(.sServiceName, 24)}</td>
                        <td class="left">{=cutstr(.sServiceDetail, 30)}</td>
                        <td class="center">{ .dtUse }</td>
                        <td class="right">{=number_format(.nUsageSize)} {.sUsageUnit}</td>
                        <td>
                            <span class="btn_pack small"><a href="/usage/detail/<?=encryptIt({.nBillDetailSeq});?>{url_suffix}">상세보기</a></span>
                        </td>
                    </tr>
                    { : }
                    <tr>
                        <td colspan="7" class="nodata">해당 내용이 없습니다.</td>
                    </tr>
                    { / }
                </tbody>
            </table>
            <div class="paginate">{pager}</div>
        </div>
        <!-- //table_col -->
    </div>
</div>

{ #layout_myfooter }
