﻿담당자 변경으로 인해 정보 확인이 불가능한 경우 아이디/비밀번호 찾기 신청을 통해 계정정보를 찾으실 수 있습니다.
<br />
접수된 내용 확인 후 아이디 또는 임시 비밀번호를 발급해드립니다.

<br /><br />
<a href="/auth/find_idpw_req"><span class="underline">아이디/비밀번호 찾기 신청하기</span></a>

<br /><br />
<p class="small">접수내용 확인에 시간이 다소 길게 소요될 수 있으니 급하신 경우 접수 후 전화 문의해주시면 빠른 처리가 가능합니다.
<br />(단 업무시간 종료 후, 주말, 휴일의 경우 업무시간 개시 후 확인 가능합니다.)</p>