<style>
th{background-color:#e8e8e8;}
</style>
<div class="table_wrap box">
	<div>
		<div class="title t_center">
			<h4>Domestic Traffic (Unit: Mbps	)</h4>
		</div>
		<!-- //title_sub -->
		<table class="table_col2">
		<caption>Domestic Traffic</caption>
		<colgroup>
			<col  style="width:86px;" /><col /><col /><col /><col />
			<col /><col /><col  style="width:75px;" /><col style="width:75px;" />
		</colgroup>
		<thead>
			<tr>
				<th scope="row" rowspan="2">Duration</th>
				<th scope="row" rowspan="2">Contractual Traffic</th>
				<th scope="col" colspan="3">Output Traffic</th>
				<th scope="col" colspan="2">Input Traffic</th>
				<th scope="row" rowspan="2">Over Traffic(%)</th>
				<th scope="row" rowspan="2">Details</th>
			</tr>
			<tr>
				<th scope="col" class="second">Current Traffic (Mbps)</th>
				<th scope="col">Maximum Traffic (Mbps)</th>
				<th scope="col">Average Traffic (Mbps)</th>
				<th scope="col">Current Traffic (Mbps)</th>
				<th scope="col">Maximum Traffic (Mbps)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{=date('Y-m-d' ,monthSum.dtStartDate)}<br/> ~ <br/>{=date('Y-m-d' ,monthSum.dtEndDate)}</td>
				<td>{=number_format(monthSum.nVolume/1000000, 0)}</td>
				<td>{=number_format((monthSum.nTrafficOut_now / 1000000),1)}</td>
				<td>{=number_format((monthSum.nTrafficOutMax / 1000000),1)}</td>
				<td>{=number_format((monthSum.nTrafficOutAvg / 1000000),1)}</td>
				<td>{=number_format((monthSum.nTrafficIn_now / 1000000),1)}</td>
				<td>{=number_format((monthSum.nTrafficInMax / 1000000),1)}</td>
				<td>
					{ ? monthSum.nVolume > 0}
						{ ? monthSum.nTrafficInMax > monthSum.nTrafficOutMax }
						{=number_format(monthSum.nTrafficInMax / monthSum.nVolume * 100 ,1)}
						{ : }
						{=number_format(monthSum.nTrafficOutMax / monthSum.nVolume * 100 ,1)}
						{ / }
					{ : }
					0
					{ / }
					%
				</td>
				<td><span class="btn_pack small"><a href="#" class="btn_stat_detail chkmonth">Details</a></span></td>
			</tr>
		</tbody>
		</table>
		<!-- //table_col -->
	</div>
</div>