{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_statistics.png" width="103" height="20" alt="statistics" /></h3>
		<!-- //title_main -->

		<div class="guide statistics">
			<h5>[Guide]</h5>
			<ul>
				<li>If you select services, you can see the statistics by service.</li>
				<li>If you don’t use any service currently, there is no service list.</li>
				<li>For statistics of CDN and cloud service, you can see them on the dashboard of each service.</li>
			</ul>
		</div>
		<!-- //guide -->

		<div class="table_wrap">
			<div class="table_row statistics">
				<form method="post" id="searchFm">
					<fieldset>
						<span class="select" style="width:150px">
							<select name="nMrtgInfoSeq" title="서비스 선택">
								<option value="" selected="selected">Select</option>
								{ @mrtg_list }
								<option value="{.nMrtgInfoSeq}">{.sNickName}</option>
								{ / }
							</select>
						</span>
						<input type="text" name="flagDt" title="서비스 기준 일자" class="input dateYMD" style="width:100px" value="{=date("Y-m-d")}" />
						<!-- div class="right">
							<span class="btn_pack small"><a target="_blank" href="http://xstats.nowcdn.co.kr/">CDN 통계보기</a></span>
							<span class="btn_pack small"><a href="#" class="btn_cloud_stat">클라우드 통계보기</a></span>
						</div-->
					</fieldset>
				</form>
			</div>
		</div>
		<!-- //table_wrap -->
		<p class="hx15"></p>

		<div class="statistics">
			<div class="tab_menu">
				<ul>
					<li class="active" data-type="day"><a href="javascript:void(0);">Daily Graph</a></li>
					<li data-type="week"><a href="javascript:void(0);">Weekly Graph</a></li>
					<li data-type="month"><a href="javascript:void(0);">Monthly Graph</a></li>
				</ul>
			</div>
			<div class="tab_sub tab_box1">
				<p class="hx5"></p>
				<div class="graphdetail"></div>
				<p class="hx10"></p>
				<div id="day_graph_container" class="graph null">
					{mrtg_list_msg}
				</div>
				<br/><br/>
				<div id="day_graph_container2" class="graph null" style="display:none">
					{mrtg_list_msg}
				</div>
			</div>
			<div class="tab_sub tab_box2" style="display:none;">
				<p class="hx5"></p>
				<div class="graphdetail"></div>
				<p class="hx10"></p>
				<div id="week_graph_container" class="graph null">
					{mrtg_list_msg}
				</div>
				<br/><br/>
				<div id="week_graph_container2" class="graph null" style="display:none">
					{mrtg_list_msg}
				</div>
			</div>
			<div class="tab_sub tab_box3" style="display:none;">
				<p class="hx5"></p>
				<div class="graphdetail"></div>
				<p class="hx10"></p>
				<div id="month_graph_container" class="graph null">
					{mrtg_list_msg}
				</div>
				<br/><br/>
				<div id="month_graph_container2" class="graph null" style="display:none">
					{mrtg_list_msg}
				</div>
			</div>
		</div>
		<!-- //statistics -->
	</div>
	<!-- //content -->
</div>
 
<div class="layerMask"></div>
<div id="dialog-stat" title="Detail" class="dialog">
	<article class="pop_wrap lyr_wrap pop_stat" style="border:0;max-height:700px;over-flow:scroll">
		<div class="pop_stat_day pop_stat_grid"></div>
		<div class="pop_stat_week pop_stat_grid" ></div>
		<div class="pop_stat_month pop_stat_grid" ></div>
	</article>
</div>
<script>
	var $memberId = "{member.sMemberId}";
	var _gw = 753;
</script>
{ #enlayout_myfooter }