{ #common_html_header }
{ #layout_myheader }
<!-- my/ 나의 상담내역 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_consult.png"  alt="나의 상담내역" /></h3>
		<!-- title_main -->

		<div class="guide2">
			<h5>[안내]</h5>
			<ul>
				<li>KINX사이트에서 상담신청하신 내용 및 답변내용을 보실 수 있습니다. (단, 로그인을 하지 않고 문의하신 경우 저장되지 않습니다.)</li>
			</ul>
		</div>
		<!-- //guide -->
		<p class="hx25"></p>

		<div class="table">
			<table class="table_col">
			<caption>나의 상담내역 목록</caption>
			<colgroup>
				<col style="width:15%" /><col style="width:*" /><col style="width:20%" /><col style="width:10%" /><col style="width:10%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">신청일</th>
					<th scope="col">제목</th>
					<th scope="col">서비스</th>
					<th scope="col">상태</th>
					<th scope="col">상세보기</th>
				</tr>
			</thead>
			<tbody>
				{ @ list }
				<tr>
					<td>{= date('Y년 m월 d일', strtotime(.dtRegDate))}</td>
					<td class="left">{ .sTitle }</td>
					<td class="center">{ .sServiceName }</td>
					<td class="center">{ .nStatusName }</td>
					<td><span class="btn_pack small"><a href="/counsel/view/<?=encryptIt({.nCounSeq});?>{url_suffix}" class="small">상세보기</a></span></td>
				</tr>
				{ : }
				<tr>
					<td colspan="5" class="nodata">해당 내용이 없습니다.</td>
				</tr>
				{ / }
			</tbody>
			</table>
			<div class="paginate">{pager}</div>
		</div>
		<!-- //table_col -->
	</div>
	<!-- //content -->
</div>
{ #layout_myfooter }