{ #common_html_header }
{ #layout_myheader }
<!-- my/ 나의 상담내역 상세보기 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_consult.png"  alt="나의 상담내역" />
		</h3>
		<!-- title_main -->

		<div class="table_wrap2">
			<table class="table_row1">
			<caption>나의 상담내역 상세보기</caption>
			<colgroup>
				<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">신청일</th>
					<td>{= date('Y년 m월 d일 H시 i분', strtotime(basic.dtRegDate))}</td>
					<th scope="row">상태</th>
					<td>{ ? basic.nStatus : '0' }접수{:'5'}처리완료{:'9'}취소{/}</td>
				</tr>
				<tr>
					<th scope="row">신청자</th>
					<td colspan="3">{ basic.sManagerName }</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="#">전화번호</label>
					</th>
					<td colspan="3">{ basic.sPhone }</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="#">이메일</label>
					</th>
					<td colspan="3" class="pb5">{ basic.sEmail }</td>
				</tr>
				<tr>
					<th scope="row">서비스</th>
					<td colspan="3">{ basic.sServiceName }</td>
				</tr>
				<tr>
					<th scope="row">제목</th>
					<td colspan="3">{ basic.sTitle }</td>
				</tr>
				<tr>
					<th scope="row">문의사항</th>
					<td colspan="3">{ =nl2br(basic.sQuestion) }</td>
				</tr>
				<tr>
					<th scope="row">상담 가능시간</th>
					<td colspan="3">{ basic.sOfficehours }</td>
				</tr>
				<tr>
					<th scope="row">답변 내용</th>
					<td colspan="3">{ =nl2br(basic.sAnswer) }</td>
				</tr>
			</tbody>
			</table>
			<!-- //table_row -->
		</div>
		<!-- //table_wrap -->
		<p class="hx30"></p>

		<div class="button">
			<div class="center">
				<span class="btn_pack xlarge"><a href="/counsel/index{url_suffix}">목록</a></span>
			</div>
		</div>
		<!-- //button -->
	</div>
	<!-- //content -->
</div>
{ #layout_myfooter }