    <div class="layer service_detail">
    <article class="pop_wrap lyr_wrap">
        <header class="header">
            { ? mode === "e" }
            <h1>Change person in charge</h1>
            { : mode === "c" }
            <h1>Change account manager in charge</h1>
            { / }
            <!-- //titile_main -->
            <a href="javascript:" class="close btn_pop_close" data-hide-type="remove"></a>
        </header>
        <!-- //header -->
        <section class="container">
            <form method="post" name="frm_modifyAm" id="frm_modifyAm" action="/en/member/modifyAM{url_suffix}">
                <input type="hidden" name="sDutyType" value="{mode}" />
                <input type="hidden" name="nAccountMemberSeq" value="{nAccountMemberSeq}" />
                <div class="table_wrap2">
                    <table class="table_row">
                    <caption>Change account manager</caption>
                    <colgroup>
                        <col style="width:30%" /><col style="width:70%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="#">Name <span style="color:red">*</span></label></th>
                            <td><input type="text" name="sName" title="Name" class="input" style="width:70%" value="{data.sName}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">Title</label></th>
                            <td><input type="text" name="sRank" title="Title" class="input" style="width:30%" value="{data.sRank}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">Team/Divisioin</label></th>
                            <td><input type="text" name="sDepartment" title="Team/Divisioin" class="input" style="width:100%" value="{data.sDepartment}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">Email <span style="color:red">*</span></label></th>
                            <td><input type="text" name="sEmail" title="Email" class="input" style="width:100%" value="{data.sEmail}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">Phone</label></th>
                            <td><input type="text" name="sInternalPhone" title="Phone" class="input" style="width:100%" value="{data.sInternalPhone}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">Mobile Number</label></th>
                            <td><input type="text" name="sMobilePhone" title="Mobile Number" class="input" style="width:100%" value="{data.sMobilePhone}" /></td>
                        </tr>
                    </tbody>
                    </table>
                    <!-- //table_row -->
                </div>
                <!-- //table_wrap -->
                <p class="hx20"></p>

                <div class="button">
                    <div class="center">
                        <span class="btn_pack large"><a href="#" class="btn_ac_submit">Save</a></span>
                    </div>
                </div>
            </form>
            <!-- //button -->
        </section>
        <!-- //container -->
    </article>
    <!-- //wrap -->
</div>