{ #encommon_html_header }
{ #enlayout_myheader } 
<div id="container">
	{ #enmenu_my }
	<div id="content">
			<h3><img src="/images/my/en/h3_member.png" width="256" height="25" alt="Account Management" /></h3>
			<!-- title_main --> 
			<form method="post" id="memberFrm" action="/en/member/proc">
			<div class="table_wrap">
				<table summary="Customer Information" class="table_row1">
				<caption>Customer Information</caption>
				<colgroup>
					<col width="17%" /><col width="33%" /><col width="17%" /><col width="33%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col" colspan="4">Customer Information</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">ID</th>
						<td colspan="3">{member.sMemberId}</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">Change password</label>
						</th>
						<td>
							<input type="password" name="sPassword"  title="Change password" class="input" style="width:220px" />
						</td>
						<th scope="row">
							<label for="#">Confirm password</label>
						</th>
						<td>
							<input type="password" name="rePassword" title="Confirm password" class="input" style="width:220px" />
						</td>
					</tr>
					<tr>
						<th scope="row">Registration Date</th>
						<td>{member.dtCreateDate}</td>
						<th scope="row">Personnel</th>
						<td>{manager.sName} / {manager.sRank} / {=format_phone(manager.sMobilePhone)}
					</tr>
				</tbody>
				
				</table>
				<!-- //table_row -->
				<p class="hx40"></p>

				<table summary="Company Information" class="table_row1">
				<caption>Company Information</caption>
				<colgroup>
					<col width="17%" /><col width="33%" /><col width="17%" /><col width="33%" />
				</colgroup>
				<thead>
					<tr style="border-top:2px solid #575757;">
						<th scope="col" colspan="4">Company name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Company name</th>
						<td>{company.sCompanyName}</td>
						<th scope="row">Registration number</th>
						<td>{company.sBusinessNumber}</td>
					</tr>
					<tr>
						<th scope="row">Director name</th>
						<td>{company.sPresidentName}</td>
						<th scope="row">Type / Category of Business</th>
						<td>{company.sBusinessType} / {company.sItemType}</td>
					</tr>
					<tr>
						<th scope="row">Address</th>
						<td colspan="3">{company.sAddress1} {company.sAddress2}</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			
			<p class="hx30"></p>
			<div class="guide statistics">
			<h5>[Guide]</h5>
			<ul>
				<li>You can change password.</li>
				<li>For change of other information, contact sales representative or customer center.</li>
			</ul>
			</div>
			<!-- //guide -->
			<p class="hx30"></p>

			<div class="button">
				<div class="center">
					
					<span class="btn_pack xlarge"><a href="#" class="btn_submit">SAVE</a></span>
				</div>
			</div>
			<!-- //button -->
		</div>
		</form>
</div>

<div class="layerMask"></div>
{ #enlayout_myfooter }