{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	<div id="content">
			<h3><img src="/images/my/en/h3_member.png" width="256" height="25" alt="Account Management" /></h3>
			<!-- title_main -->
			<form method="post" id="memberFrm" action="/en/member/proc">
			<div class="table_wrap">
                            <table summary="Customer Information" class="table_row1">
				<caption>Customer Information</caption>
				<colgroup>
					<col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col" colspan="4">Customer Information</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">ID</th>
						<td>{member.sMemberId}</td>
                                                <th scope="row">Registration Date</th>
						<td>{member.dtCreateDate}</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">Change password</label>
						</th>
						<td>
							<input type="password" name="sPassword"  title="Change password" class="input" style="width:197px" />
						</td>
						<th scope="row">
							<label for="#">Confirm password</label>
						</th>
						<td>
							<input type="password" name="rePassword" title="Confirm password" class="input" style="width:197px" />
						</td>
					</tr>
				</tbody>
                            </table>
                            <p class="hx5"></p>
                            <div class="button">
                                <div class="right">
                                        <span class="btn_pack small"><a href="#" class="btn_submit">Save</a></span>
                                </div>
                            </div>
                            <!-- //button -->
                        </div>
                        <!-- //회원정보 -->


                        <p class="hx25"></p>
                        <div>
                            <table summary="Company Information" class="table_row1">
                            <caption>Company Information</caption>
                            <colgroup>
                                    <col width="17%" /><col width="33%" /><col width="17%" /><col width="33%" />
                            </colgroup>
                            <thead>
                                    <tr style="border-top:2px solid #575757;">
                                            <th scope="col" colspan="4">Company name</th>
                                    </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                            <th scope="row">Company name</th>
                                            <td>{company.sCompanyName}</td>
                                            <th scope="row">Registration number</th>
                                            <td>{company.sBusinessNumber}</td>
                                    </tr>
                                    <tr>
                                            <th scope="row">Director name</th>
                                            <td>{company.sPresidentName}</td>
                                            <th scope="row">Type / Category of Business</th>
                                            <td>{company.sBusinessType} / {company.sItemType}</td>
                                    </tr>
                                    <tr>
                                            <th scope="row">Address</th>
                                            <td colspan="3">{company.sAddress1} {company.sAddress2}</td>
                                    </tr>
                            </tbody>
                            </table>
                            <!-- //table_row -->
			</div>
			<!-- //-->

                        <p class="hx30"></p>
                    <div>
                        <table summary="Personnel(Contract / Operation)" class="table_col">
                        <caption>Personnel(Contract / Operation)</caption>
                        <colgroup>
                                <col width="25%" /><col width="20%" /><col width="25%" /><col width="20%" /><col width="10%" />
                        </colgroup>
                        <thead>
                                <tr>
                                    <th scope="col">Personnel(Contract / Operation)<br>Name(Title)</th>
                                        <th scope="col">Team/Division</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Edit</th>
                                </tr>
                        </thead>
                        <tbody>
                                { @managerE }
                                <tr>
                                        <td class="center">{.sNameRank}</td>
                                        <td class="left">{.sDepartment}</td>
                                        <td class="left">{.sEmail}</td>
                                        <td class="left">{.sMobile}/{.sPhone}</td>
                                        <td>
                                            {? account.sStatus != "S" && account.sStatus != "X"}
                                                <span class="btn_pack small"><a href="#" class="btn_modify_AM" data-type="e">Edit</a></span>
                                            {/}
                                        </td>
                                        <input type="hidden" name="nAccountMemberSeq" value="<?=encryptIt({.nAccountMemberSeq});?>">
                                </tr>
                                { : }
                                <tr>
                                        <td colspan="7" class="nodata">There is no related content.</td>
                                </tr>
                                { / }

                        </tbody>
                        </table>
                    </div>
                    <!-- //업무담당자 -->

                    <p class="hx30"></p>
                    <div>
                        <table summary="Personnel (Billing)" class="table_col">
                        <caption>Personnel (Billing)</caption>
                        <colgroup>
                                <col width="25%" /><col width="20%" /><col width="25%" /><col width="20%" /><col width="10%" />
                        </colgroup>
                        <thead>
                                <tr>
                                        <th scope="col">Personnel (Billing)<br>Name(title)</th>
                                         <th scope="col">Team/Division</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Edit</th>
                                </tr>
                        </thead>
                        <tbody>
                                { @managerC }
                                <tr>
                                        <td class="center">{.sNameRank}</td>
                                        <td class="left">{.sDepartment}</td>
                                        <td class="left">{.sEmail}</td>
                                        <td class="left">{.sMobile}/{.sPhone}</td>
                                        <td>
                                            {? account.sStatus != "S" && account.sStatus != "X"}
                                                <span class="btn_pack small"><a href="#" class="btn_modify_AM" data-type="c">Edit</a></span>
                                            {/}
                                        </td>
                                        <input type="hidden" name="nAccountMemberSeq" value="<?=encryptIt({.nAccountMemberSeq});?>">
                                </tr>
                                { : }
                                <tr>
                                        <td colspan="7" class="nodata">There is no related content.</td>
                                </tr>
                                { / }

                        </tbody>
                        </table>
                        <!-- //요금담당자 -->
                    </div><!--//table_wrap  -->


			<p class="hx30"></p>
			<div class="guide statistics">
			<h5>[Guide]</h5>
			<ul>
				<li>Change of information of persons in charge of each contract and billing is available.</li>
				<li>Change of the contents of contracts is available after directly consulting with the administrator.</li>
			</ul>
			</div>
			<!-- //guide -->
			<p class="hx30"></p>


		</div>
		</form>
</div>

<div class="layerMask"></div>
{ #enlayout_myfooter }