{? respcode === "0000" }
{@payment02result}
<table width="500" border="0" cellspacing="0" cellpadding="1">
	<tr>
		<td height="10" colspan="4" align="center">
		<br>
		<strong>[결제처리내역]</strong><br><br>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7">  주문번호</td>
				<td width="75%" align="left">{.sOrderNumber}</td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7">  결제수단</td>
				<td width="75%" align="left">
					{? .sPaymentType === "SC0010" } 신용카드 ({.sFinanceName})
					{: .sPaymentType === "SC0030" } 계좌이체
					{: .sPaymentType === "SC0040" } 무통장입금
					{: .sPaymentType === "SC0060" } 휴대폰결제
					{:}
					{/}
				</td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7">  처리결과</td>
				<td width="75%" align="left">
					{? respcode === "0000" }
						{? .sPaymentType === "SC0040" }
							 {? .sCasFlag == "R" } 가상계좌 입금대기
							 {: .sCasFlag == "I" } 가상계좌 입금완료
							 {: .sCasFlag == "C" } 취소
							 {:} 결제실패
							 {/}
						{:} 결제완료
						{/}
					{:} 결제실패
					{/}					
				</td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			{? .sPaymentType === "SC0040" }
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7">  입금은행</td>
				<td width="75%" align="left">  <strong>{.sFinanceName}(은행)</strong></td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7" class="padding_l10">  입금계좌번호(가상계좌)</td>
				<td width="75%" align="left">  <strong>{.nAccountNumber}</strong></td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			{:}
			{/}
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7" class="padding_l10">  결제금액</td>
				<td width="75%" align="left"> <strong><?= number_format({.nAmount})?> 원</strong> (부가세 포함가격임)</td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" colspan="2" height="80" class="padding_l10">
				  <center>서비스를 이용해 주셔서 감사합니다.<br><br><a style="cursor:hand;" onclick="javascript:self.close();parent.opener.location.reload();"><b>[닫기]</b></a></center>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table> 
{/}  
{:}
<table width="500" border="0" cellspacing="0" cellpadding="1">
	<tr>
		<td height="10" colspan="4" align="center">
		<br>
		<strong>[결제처리내역]</strong><br><br>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7">  결과</td>
				<td width="75%" align="left">{respcode} ({payment02_result})</td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" height="27" bgcolor="#f7f7f7">  결과내용</td>
				<td width="75%" align="left">{payment02_result_msg}</td>
			</tr>
			<tr> 
				<td height="1" bgcolor="#E8E8E8"></td>
				<td bgcolor="#E8E8E8"></td>
			</tr>
			<tr> 
				<td width="25%" colspan="2" height="80" class="padding_l10">
				  <center>서비스를 이용해 주셔서 감사합니다.<br><br><a style="cursor:hand;" onclick="javascript:self.close();parent.opener.location.reload();"><b>[닫기]</b></a></center>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
{/}

<script language="javascript">
	window.onload=function(){
		console.log('popop ');
		document.body.style.minWidth = "0px";
		document.body.style.backgroundImage = "none";
	};
 
</script>