{ #common_html_header }

<div id="wrap_login" >
    <div class="header-container">
        <nav class="navbar navbar-static-top nav-header-1200" role="navigation">
            <div class="navbar-header">
							<span><a href="https://www.kinx.net/" target="_blank"><img src="/images/login/kinx_ci.png"></a></span>
							<span><img src="/images/login/kinx_fullname.png"></span>
            </div>
        </nav>
    </div>
	<div class="middle-box text-center animated fadeInDown" style="top:45% !important;">
		<div class="event_outer" style="display:flex; justify-content: center;">
			<div class="text-center animated fadeInDown" style="position:absolute; width:500px;">
				<div class="basic_size_event">
						<!-- start -->
						<form class="m-t-none" role="form" id="eventForm"  name="eventForm" method="post"  >
							<input type="hidden" name="nBillTypeSeq" value={nBillTypeSeq}>
							<input type="hidden" name="nTaxInvoiceSeq" value={nTaxInvoiceSeq}>
							<div style="margin:0 auto; width:300px; text-align:center;">
								<span class="login_font_1">입금계좌 변경 이벤트</span>
							</div>
							<div class="m-t-30"></div>
							<div class="event-box-label">고객명<br>(회사명)</div>
							<div class="m-b-15 event-box-data">
									<input type="text" class="form-control form_label_size" placeholder="고객명(회사명)"  style="height:40px;padding-left:10px;" name="sCustomerName">
							</div>

							<div class="event-box-label" style="margin-top:15px !important;">이메일</div>
							<div class="m-b-15 event-box-data">
									<input type="text" class="form-control form_label_size" placeholder="이벤트 안내메일을 수신한 메일주소"  style="height:40px;padding-left:10px;" name="sCustomerEmail">
							</div>

							<div class="event-box-label">이벤트<br>참여자</div>
							<div class="m-b-15 event-box-data" >
									<input type="text" class="form-control form_label_size" placeholder="이벤트 참여자 성함"  style="height:40px;padding-left:10px;" name="sPaymentName">
							</div>

							<div class="event-box-label">참여자<br>전화번호</div>
							<div class="event-box-data" style="margin-bottom:30px;" >
									<input type="text" class="form-control form_label_size" placeholder="이벤트 참여자 전화번호(숫자만 입력)"  style="height:40px;padding-left:10px;" name="sPaymentPhone">
							</div>


							<button class="btn btn-primary block m-b-15 submit_btn" id="event_submit" style="width:350px; margin-left:15px; background-color:#ff620c;border-color:#ff620c; cursor:pointer;">
							이벤트 신청</button>

							<div style="border-bottom: 1px solid #d7d7d7; position: relative; width: 440px;right: 30px;"></div>

							<div style="width:450px; margin-left:-20px; margin-top:15px;">
								<p class="login_label2" style="height:20px;">※ 확인해 주세요</p>
								<p class="login_label2" style="height:20px;">- 1개월분 이용요금 전액을 입금한 경우에 한하여 쿠폰을 드립니다.</p>
								<p class="login_label2" style="height:20px;">&nbsp;&nbsp;(일부 요금만 입금한 경우 쿠폰 증정 대상에서 제외) </p>
								<p class="login_label2" style="height:20px;">- 쿠폰발송 : 8월 중순에 일괄 발송됩니다.</p>
								<p class="login_label2" style="height:20px;">- 수신인 메일주소당 한 분만 참여 가능하며, 동일인의 중복참여는 불가능합니다.</p>
							</div>
						</form>
						<!-- end -->
				</div><!--end basic_size_event -->
			</div><!-- end text-center -->
		</div><!-- end event_outer -->
	</div><!-- end middle-box -->

		<div class="footer-container" style="background-color: #242424;">
			<nav class="navbar navbar-static-bottom nav-footer-1200" role="navigation">
				<div class="float-right" style="float: right!important; text-align:right;">
					<span style="font-size:13px;color:#898989;">©KINX Inc. All Rights Reserved.</span>
				</div>
				<div>
					<span style="font-size:13px;color:#898989;padding-right:10px;">(주)케이아이엔엑스</span>
					<span style="font-size:12px;color:#898989;padding-right:10px;">Korea Internet Neutral Exchange</span>
					<a href="https://www.kinx.net/agreements/agreements/agreement01/" target="_blank"><span style="font-size:13px;color:#ffffff;padding-right:10px;">이용약관</span></a>
					<span style="font-size:12px;color:#898989;padding-right:10px;"> | </span>
					<a href="https://www.kinx.net/agreements/agreements-3/" target="_blank"><span style="font-size:13px;color:#ffffff;padding-right:10px;">개인정보처리방침</span></a>
				</div>
			</nav>
	</div><!--end footer-container-->
</div><!-- end wrap_login-->

<script src="/scripts/my_event.js">

</script>