                <div class="cloud_login_section_signed">
                    <div class="lgn_txt2">&nbsp;</div>
                    <div class="lgn_box">
                        <div class="lgn_txt4 mt40"><span class="bold">{cloud_user}</span> 로 로그인 하였습니다.</div>
                        <div class="lgn_txt2"><a href="/auth/sign_out_cloud.html"><img src="/images/my/btn_logout2.gif"></a></div>
                    </div>
                </div>
