                    <div class="cloud_login_section_form">
                        <div class="lgn_txt2">클라우드 서비스 정보관리와 대시보드에 접근할 수 있습니다.</div>
                        <div class="lgn_box">
                            <p class="error_place" style="margin-top:10px;"></p>
                            <div class="lgn_id bold">아이디</div>
                            <div class="lgn_pw bold">패스워드</div>
                            <div class="lgn_input1"><input type="text" name="userid" placeholder="아이디" title="아이디" class="input" style="width:140px" value=""/></div>
                            <div class="lgn_input2"><input type="password" name="password"  placeholder="비밀번호" title="비밀번호" class="input" style="width:140px" value=""/></div>
                            <div class="lgn_btn"><input type="image" src="/images/my/btn_login2.gif" width="56" height="56" alt="로그인" /></div>
                        </div>
                        <div class="lgn_chk">
                            <input type="checkbox" id="save_cloud_id">
                            <label class="lgn_txt3" for="save_cloud_id" style="cursor:pointer;">아이디 저장</label>
                        </div>
                        <div class="lgn_find">
                            <span class="lgn_txt3">
                                <a role="button" onclick="ixcAccount.findpwd();" style="cursor:pointer;">비밀번호 찾기</a> &nbsp;|&nbsp;
                                <a role="button" onclick="ixcAccount.join();" style="cursor:pointer;">클라우드 회원가입</a>
                            </span>
                        </div>
                    </div>
