                <div class="cloud_login_section_signed">
                    <div class="lgn_box">
                        <div class="lgn_txt4 mt40"><span class="bold">{cloud_user}</span></div>
                        <div class="lgn_txt2"><a href="/auth/sign_out_cloud.html?next=/en"><img src="/images/my/btn_logout_eng.gif"></a></div>
                    </div>
                </div>
