<div class="layer service_detail">
	<article class="pop_wrap lyr_wrap">
		<header class="header">
			{ ? mode === "e" }
			<h1>업무 담당자 변경</h1>
			{ : mode === "c" } 
			<h1>요금 담당자 변경</h1>
			{ / }
			<!-- //titile_main -->
			<a href="javascript:" class="close btn_pop_close" data-hide-type="remove"></a>
		</header>
		<!-- //header -->
		<section class="container">
			<form method="post" action="/service/proc/competent{url_suffix}">
				<input type="hidden" name="sDutyType" value="{mode}" />
				<div class="table_wrap2">
					<table class="table_row">
					<caption>업무 담당자 변경</caption>
					<colgroup>
						<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">
								<label for="#">이름</label>
							</th>
							<td>
								<input type="text" name="sName" title="이름" class="input" style="width:70px" value="{data.sName}" />
								<input type="text" name="sRank" title="직급" class="input" style="width:32px" value="{data.sRank}" />
							</td>
							<th scope="row">
								<label for="#">전화번호</label>
							</th>
							<td>
								<input type="text" name="sInternalPhone" title="전화번호" class="input" style="width:120px" value="{data.sInternalPhone}" />
							</td>
						</tr>
						<tr>
							<th scope="row">
								<label for="#">부서</label>
							</th>
							<td>
								<input type="text" name="sDepartment" title="부서" class="input" style="width:120px" value="{data.sDepartment}" />
							</td>
							<th scope="row">
								<label for="#">휴대폰번호</label>
							</th>
							<td>
								<input type="text" name="sMobilePhone" title="휴대폰번호" class="input" style="width:120px" value="{data.sMobilePhone}" />
							</td>
						</tr>
						<tr>
							<th scope="row">
								<label for="#">이메일</label>
							</th>
							<td colspan=3>
								<input type="text" name="sEmail" title="이메일" class="input" style="width:120px" value="{data.sEmail}" />
							</td>
							<!-- th scope="row">
								<label for="#">팩스번호</label>
							</th>
							<td>
								<input type="text" name="sfax" title="팩스번호" class="input" style="width:120px" value="{data.sfax}" />
							</td-->
						</tr>
					</tbody>
					</table>
					<!-- //table_row -->
				</div>
				<!-- //table_wrap -->
				<p class="hx20"></p>

				<div class="button">
					<div class="center">
						<span class="btn_pack large"><input type="submit" value="변경" /></span>
					</div>
				</div>
			</form>
			<!-- //button -->
		</section>
		<!-- //container -->
	</article>
	<!-- //wrap -->
</div>