{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / 시스템현황 / 상세 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_service_view.png"   alt="서비스 정보 상세보기" /></h3>
		<!-- //title_main -->

		<div class="table_wrap">
			<div class="title">
				<h4>계약 내용</h4>
			</div>
			<!-- //title_sub -->
			<table summary="계약 내용" class="table_row2">
			<caption>계약 내용</caption>
			<colgroup>
				<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">상태</th>
					<td>
						{? basic.sStatus === "Y"}
						정상
						{: basic.sStatus === "S"}
						해지
						{: basic.sStatus === "X"}
						삭제
                                                {: basic.sStatus === "U"}
						미 개통
						{ / }
					</td>
					<th scope="row">구분</th>
					<td>{service.sServiceType}</td>
					
				</tr>
				<tr>
					<th scope="row">서비스명</th>
					<td>{service.sServiceName}</td>
					<th scope="row">계약용량(회선)</th>
					<td>{ ? basic.nVolume < 1 } - { : }{basic.nVolume}{ / }</td>
				</tr>
				<tr>
					<th scope="row">세부내용</th>
					<td>{service.sServiceDetail}</td>
					<th scope="row">수량</th>
					<td>{ basic.nQuantity }</td>
				</tr>
				<tr>
                                    {? basic.sStatus === "U"}
                                    <th scope="row">계약기간</th>
                                    <td> - </td>
                                    <th scope="row">잔여기간</th>
                                    <td> - </td>
                                    {:}
                                    <th scope="row">계약기간</th>
                                    <td>{basic.dtStartDate} ~ {basic.dtEndDate}</td>
                                    <th scope="row">잔여기간</th>
                                    <td>{?basic.dtEndDate=='0000-00-00'}-{:}{=get_unexpired_term(basic.dtEndDate)}일{/}</td>
                                    {/}
				</tr>
				<tr>
					<th scope="row">안정화기간</th>
					{ ? basic.stabilize != ""}
					<td>{ basic.stabilize }</td>
					{ : }
					<td>{ ? basic.dtSafeStartDate=="0000-00-00"}없음{ : }{basic.dtSafeStartDate} ~ {basic.dtSafeEndDate}{ / }</td>
					{ / }
					<th scope="row">과금개시일</th>
                                        {? basic.sStatus === "U"}
                                        <td> - </td>
                                        {:}
					<td>{basic.dtChargeDate}</td>
                                        {/}
				</tr>
				<tr>
					<th scope="row">계약금액</th>
					<td>{=number_format(basic.nPrice)} 원</td>
					<th scope="row">납입방식</th>
					<td>
						{ ? basic.nMonthlyType === "0"}
						월납
						{ : basic.nMonthlyType === "98"}
						완납-전액인식
						{ : basic.nMonthlyType === "99"}
						완납-기간안분
						{ : }
						{basic.nMonthlyType} 개월보증금
						{ / }
					</td>
				</tr>
			</tbody>
			</table>
			<!-- //table_row -->

			   
			{? service.sServiceType == 'IXCloud'}
			<div class="title">
				<h4>결제 카드 변경</h4>
			</div>
			<!-- //title_sub -->
			<table summary="결제 카드 변경" class="table_row2">
			<caption>결제 카드 변경</caption>
			<tbody>
				<tr>
					<td style='background:none;'>카드를 변경 하시더라도 기존과 같이 비용 청구 전 미리 과금 내역을 고지하여 드리며 <br>고객님의 서비스 사용량 만큼 종량제로 후불 청구 됩니다.<br>
						<form id="LGD_PAYINFO" name="LGD_PAYINFO" method="post">
				            <!--결제 서비스 정보(Start)-->
				            <input type="hidden" name="LGD_MID"             value="{lgdacom['mid']}">         <!-- 상점아이디 -->
				            <input type="hidden" name="LGD_BUYERSSN"        value="{lgdacom['buyerssn']}">        <!-- 인증요청 주민등록번호  -->
				            <input type="hidden" name="LGD_CHECKSSNYN"      value="{lgdacom['checkssnyn']}">        <!-- 인증요청 주민등록번호 일치여부 확인 플래그 -->
				            <input type="hidden" name="LGD_PAYWINDOWTYPE"   value="CardBillingAuth">          <!-- 수정불가 -->
				            <div style="margin-top:10px;"></div>
				            <label for="agree_chk"><input type="checkbox" name="agree_chk" id="agree_chk" title=""  /> 서비스 사용량에 따라 이용료가 청구되는 카드 자동 결제에 동의 합니다</label>
				            <div style="margin-top:10px;"></div>
				            <div class="bottom_button_box">
				                <div class="clo_sub_member_btn sub_idps_btn" style="margin-top:5px; margin-left:0px;">
				                    <input type="submit" value="카드 변경"  class="clo_sub_form_btn1 sub_form_btn1" style="border:0;  "/>
				                </div>
				            </div>				            
			        	</form>
				        <form name="frmPayment" method="POST" action='/cloud/public/join/paymentinfoupdate'>
				            <input type="hidden" name="LGD_RESPMSG" value="">
				            <input type="hidden" name="LGD_BILLKEY" value="">
				            <input type="hidden" name="LGD_PAYTYPE" value="">
				            <input type="hidden" name="LGD_PAYDATE" value="">
				            <input type="hidden" name="LGD_FINANCECODE" value="">
				            <input type="hidden" name="LGD_FINANCENAME" value="">
				        </form>
					</td>
				</tr>				
				{/}
			</tbody>
			</table>
			<!-- //table_row -->
		</div>
		<!-- //table_wrap -->
		
		<div class="guide">	
			<h5>[안내]</h5>
			<ul>
				<li>계약 내용 및 사업자 정보 변경은 영업담당자와 상담 후 처리 가능합니다.</li>
				<li>카드 자동 결제가 아닌 자동계좌이체서비스를 이용하실 고객께서는 영업담당자에게 문의하여 주시기 바랍니다.</li>				
                                <li style="background:none;">(전화 : 02-526-0900 (1번), 이메일 : <a href="mailto:sales@kinx.net">sales@kinx.net)</a></li>
			</ul>
		</div>
		<!-- //guide -->

		<div class="button">
			<div class="center">
				<span class="btn_pack xlarge"><a href="/service/index{url_suffix}">목록</a></span>
			</div>
		</div>
		<!-- //button -->
	</div>
	<!-- //content -->
</div>
<div class="layerMask"></div>
{ #layout_myfooter }