﻿{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / dns 관리 -->
<div id="container">
	{ #menu_my }
		<div id="content">
			<h3><img src="/images/my/h3_service2.png"   alt="DNS관리" /></h3>
			<!-- //title_main -->
            
            <div class="button hx30">
				<div class="right">
					<span class="btn_pack medium2"><a href="/service/dns_request">등록하기</a></span>
				</div>
			</div>
			<!-- //button -->

			<div class="table">
				<table class="table_col">
				<caption>서비스 목록</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS</th>
						<th scope="col">HOST</th>
						<th scope="col">IP주소</th>
						<th scope="col">관리명칭</th>
						<th scope="col">등록일</th>
					</tr>
				</thead>
				<tbody>
					{@list}
					<tr onMouseOver="overColor(this)" onMouseout="outColor(this)">
						<td class="left">{.sDns}</td>
						<td class="left">{.sHost}</td>
                        <td>{.sIp}</td>
                        <td class="left">{.sComment}</td>
						<td class="left">{.dtCreateDate}</td>
					</tr>
					{:}					
					<tr>
						<td colspan="5" class="nodata">해당 내용이 없습니다.</td>
					</tr>
					{/}
				</tbody>
				</table>
                <div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
</div>
{ #layout_myfooter }