﻿{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / dns 관리 / 등록하기-->
<div id="container">
	{ #menu_my }
		<div id="content">
			<h3><img src="/images/my/h3_service3.png"  alt="DNS등록" /></h3>
			<!-- //title_main -->
			
			<form method="post" id="DnsRequestForm" name="DnsRequestForm">
			<input type="hidden" name="strDNSChoice" id="strDNSChoice" value="N">
			<div class="table_wrap">			
				<table class="table_row2 mb2">
				<caption>DNS 등록자 정보</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">
							<strong><label for="name">등록자 정보 <span>*</span></label></strong>
						</th>
						<th colspan="3" scope="col">
							<span class="select" style="width:220px">
								<select name="companycontact" id="companycontact" title="등록자 정보" onChange="javascript:getRegistantUserInfo(this.value)">
									<option value="-1" selected="selected">등록자를 선택하세요.</option>
									{@companycontact}										
									<option value="<?=encryptIt({.nCompanyContactSeq});?>">{.sManagerName}</option>
									{:}
									<option value="-1">등록자 정보가 없습니다. </option>
									{/}									
								</select>
							</span>
						</th>
					</tr>
				</thead>
				<tbody id="contactUserInfo">
					<tr>
						<th scope="row">업체명</th>
						<td colspan="3" scope="col" id="sCompanyName"></td>
					</tr>
					<tr>
						<th scope="row">담당자명</th>
						<td id="sManagerName"></td>
						<th scope="row">직위</th>
						<td id="sRank"></td>
					</tr>
                    <tr>
						<th scope="row">전화번호</th>
						<td id="sInternalPhone"></td>
						<th scope="row">팩스번호</th>
						<td id="sfax"></td>
					</tr>
                    <tr>
						<th scope="row">휴대폰</th>
						<td id="sMobilePhone"></td>
						<th scope="row">이메일</th>
						<td id="sEmail"></td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->

				<div class="title">
					<h4>DNS 정보</h4>
				</div>
				<!-- //title_sub -->
				<div class="title2">
					<h5>보유 DNS 리스트</h5> (삭제할 DNS가 있을 경우 선택하세요.)
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>보유 DNS 리스트</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS</th>
						<th scope="col">Host</th>
						<th scope="col">IP주소</th>
						<th scope="col">관리명칭</th>
						<th scope="col">삭제요청</th>
					</tr>
				</thead>
				<tbody id="dnsList">		
					{@companydnslist}
					<tr id='{.nCompanyDnsSeq}'>
						<td class="left dns">{.sDns}</td>
						<td class="left host">{.sHost}</td>
						<td class="left ip">{.sIp}</td>
						<td class="comment">{.sComment}</td>
						<td>
							<span class="btn_pack small"><a href="#" onClick="javascript:delRegistant({.nCompanyDnsSeq});">등록</a></span>
						</td>
					</tr>
					{:}
					<tr>
						<td colspan="5" class="nodata">보유 또는 선택할 DNS가 없습니다.</td>
					</tr>
					{/}									
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title2">
					<h5>신규 DNS 등록</h5> (새로 등록할 DNS를 등록하세요.)
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>신규 DNS 등록</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS <span>*</span></th>
						<th scope="col">Host</th>
						<th scope="col">IP주소</th>
						<th scope="col">관리명칭</th>
						<th scope="col">신청</th>
					</tr>
				</thead>
				<tbody>					
					<tr id="add_dnsinfo">
						<td class="left"><input type="text" name="add_dns" id="add_dns" title="DNS" class="input" style="width:140px" value="" /></td>
						<td class="left"><input type="text" name="add_host" id="add_host" title="Host" class="input" style="width:140px" value="" /></td>
						<td class="left"><input type="text" name="add_ip" id="add_ip" title="IP" class="input" style="width:140px" value="" /></td>
						<td class="left"><input type="text" name="add_cmt" id="add_cmt" title="Content" class="input" style="width:140px" value="" /></td>
						<td>
							<span class="btn_pack small"><a href="#" onClick="javascript:addDNSInfo();">등록</a></span>
						</td>
					</tr>
					<!--<tr>
						<td colspan="5" class="nodata">해당 내용이 없습니다.</td>
					</tr>-->
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title2">
					<h5>DNS 신청 리스트</h5>
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>DNS 신청 리스트</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS</th>
						<th scope="col">Host</th>
						<th scope="col">IP주소</th>
						<th scope="col">관리명칭</th>
						<th scope="col">구분</th>
					</tr>
				</thead>
				<tbody id="requestList">					
					<tr class="request_list" style="display:none">
						<!-- td></td>
						<td class="left"></td>
						<td class="left"></td>
						<td class="left"></td>
						<td></td-->
					</tr>
					<tr id="no_request_list">
						<td colspan="5" class="nodata">처리할 DNS를 입력(or 선택)해 주세요.</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title">
					<h4>기타 요청사항</h4>
				</div>
				<!-- //title_sub -->
				<table class="table_row2">
				<caption>요청사항</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:85%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="request">요청사항</label>
						</th>
						<td>
							<textarea name="request" id="request" title="요청사항" class="textarea" style="height:70px"></textarea>
						</td>
					</tr>
				</tbody>
				</table>
                
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>
			
			<div class="button">
				<div class="center">
					<!-- span class="btn_pack xlarge"><a href="#" onClick="javascript:dnsRequest();">등록하기</a></span-->
					<span class="btn_pack xlarge"><button type="submit">등록하기</button></span>					
				</div>
			</div>
			<!-- //button -->
		</form>
		</div>
		<!-- //content -->
	</div>

{ #layout_myfooter }