{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / 계약관리 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_service.png"   alt="서비스 관리" /></h3>
		<!-- //title_main -->

		<form method="post" action="/service/index{url_suffix}">
			<fieldset>
			<legend>서비스 검색</legend>
			<div class="table_wrap">
				<table summary="서비스 검색" class="table_row">
				<caption>서비스 검색</caption>
				<colgroup>
					<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="#">서비스 구분</label>
						</th>
						<td>
							<span class="select" style="width:200px">
								<select name="sServiceType" title="서비스 구분">
									<option value=""  {? ! secParams.sServiceType}selected="selected"{ / }>전체</option>
									<option value="IX" {? secParams.sServiceType === "IX"}selected="selected"{ / }>IX</option>
									<option value="IDC"  {? secParams.sServiceType === "IDC"}selected="selected"{ / }>IDC</option>
									<option value="CDN"  {? secParams.sServiceType === "CDN"}selected="selected"{ / }>CDN</option>
									<option value="IXCloud"  {? secParams.sServiceType === "IXCloud"}selected="selected"{ / }>IXCloud</option>
									<option value="부가서비스"  {? secParams.sServiceType === "부가서비스"}selected="selected"{ / }>부가서비스</option>
								</select>
							</span>
						</td>
						<th scope="row">
							<label for="#">서비스 상태</label>
						</th>
						<td>
							<span class="select" style="width:200px">
								<select name="sStatus" title="서비스 상태">
									<option value="A" {? secParams.sStatus ==="A"} selected="selected"{ / }>전체</option>
									<option value="Y" {? secParams.sStatus === "Y"}selected="selected"{ / }>정상</option>
									<option value="S" {? secParams.sStatus === "S"}selected="selected"{ / }>해지</option>
                                                                        <option value="U" {? secParams.sStatus === "U"}selected="selected"{ / }>미개통</option>
								</select>
							</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">기간</label>
						</th>
						<td colspan="3">
							<span class="select" style="width:110px">
								<select name="termType" title="기간">
									<option value="dtEndDate" {? secParams.termType === "dtEndDate"}selected="selected"{ / }>만기일</option>
									<option value="dtStartDate"  {? secParams.termType === "dtStartDate"}selected="selected"{ / }>계약일</option>
								</select>
							</span>
							<input type="text" name="sDate" title="시작일자" class="input dateYMD" style="width:100px" value="{secParams.sDate}" />
							~ &nbsp;<input type="text" name="eDate" title="종료일자" class="input dateYMD" style="width:100px" value="{secParams.eDate}" />

							<span class="btn_pack large f_right" style="margin-right:10px"><input type="submit" value="검색" /></span>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
			</fieldset>
		</form>
		<!-- //search_box -->
		<p class="hx40"></p>

		<div class="table">
			<table summary="서비스 목록" class="table_col">
			<caption>서비스 목록</caption>
			<colgroup>
				<col style="width:80px" /><col style="" /><col style="" /><col style="width:100px" /><col style="width:75px" />
				<col style="width:90px" /><col style="width:70px" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">서비스명</th>
					<th scope="col">세부내용</th>
					<th scope="col">계약기간</th>
					<th scope="col">잔여기간</th>
					<th scope="col">상태</th>
					<th scope="col">상세보기</th>
				</tr>
			</thead>
			<tbody>
				{ @list }
				<tr>
					<td class="center">{.sServiceType}</td>
					<td class="left">{=cutstr(.sServiceName, 24)}</td>
					<td class="left">{=cutstr(.sServiceDetail, 30)}</td>
                                        {?.sStatus=='U'}
					<td> - </td>
					<td> - </td>
                                        {:}
                                        <td>{.dtStartDate}<br/>~ {.dtEndDate}</td>
					<td>{?.dtEndDate=='0000-00-00'}-{:}{=get_unexpired_term(.dtEndDate)}일{/}</td>
                                        {/}
					<td class="center">
						{? .sStatus === "Y"}
						정상
						{: .sStatus === "S"}
						해지
						{: .sStatus === "X"}
						삭제
                                                {: .sStatus === "U"}
						미개통
						{ / }
					</td>
					<td>
						<span class="btn_pack small"><a href="/service/detail/<?=encryptIt({.nContractServiceSeq});?>{url_suffix}">서비스정보</a></span>
					</td>
				</tr>
				{ : }
				<tr>
					<td colspan="7" class="nodata">해당 내용이 없습니다.</td>
				</tr>
				{ / }
			</tbody>
			</table>
			<div class="paginate">{pager}</div>
		</div>
	</div>
</div>
{ #layout_myfooter }