﻿{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / 모니터링 ip 관리-->
<div id="container">
	{ #menu_my }
		<div id="content">
			<h3><img src="/images/my/h3_service4.png"   alt="모니터링 IP관리" /></h3>
			<!-- //title_main -->
            
            <div class="button hx30">
				<div class="right">
					<span class="btn_pack medium2"><a href="/service/monitoringip_request">등록하기</a></span>
				</div>
			</div>
			<!-- //button -->

			<div class="table">
				<table class="table_col">
				<caption>서비스 목록</caption>
				<colgroup>
					<col /><col /><col /><col />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">IP주소</th>
						<th scope="col">관리명칭</th>
						<th scope="col">상태</th>
						<th scope="col">등록일</th>
					</tr>
				</thead>
				<tbody>
					{@list}
					<tr onMouseOver="overColor(this)" onMouseout="outColor(this)">
						<td class="left">{.sIp}</td>
						<td class="left">{.sComment}</td>
                        <td class="left">{? sStatus== 0}모니터링중{:}일시중지{/}</td>
						<td class="left">{.dtCreateDate}</td>
					</tr>
					{:}
					<tr>
						<td colspan="4" class="nodata">해당 내용이 없습니다.</td>
					</tr>
					{/}
				</tbody>
				</table>
                <div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
	</div>
{ #layout_myfooter }