﻿{ #common_html_header }
{ #layout_myheader }
<!-- my/서비스 관리 / 시스템현황 -->
<div id="container">
	{ #menu_my }
		<div id="content">
			<h3><img src="/images/my/h3_service1.png"  alt="시스템 현황" /></h3>
			<!-- //title_main -->

			<div class="table">
				<table class="table_col">
				<caption>서비스 목록</caption>
				<colgroup>
					<col /><col style="width:9%" /><col /><col style="width:12%" /><col style="width:10%" />
					<col style="width:8%" /><col style="width:15%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">구분</th>
						<th scope="col">브랜드명</th>
						<th scope="col">모델명</th>
						<th scope="col">IP주소</th>
						<th scope="col">설치일</th>
						<th scope="col">수량</th>
						<th scope="col">비고</th>
					</tr>
				</thead>
				<tbody>
					{@list}
					<tr onMouseOver="overColor(this)" onMouseout="outColor(this)">
						<td class="left">{.sEquipmentName}</td>
						<td class="left">{.sBrand}</td>
						<td class="left">{.sModel}</td>
						<td>{.sUseIP}</td>
						<td class="left">{.dtCreateDate}</td>
						<td>{.nQuantitly}</td>
						<td>{.sEtc}</td>
					</tr>
					{:}
					<tr>
						<td colspan="7" class="nodata">해당 내용이 없습니다.</td>
					</tr>
					{/}
				</tbody>
				</table>
                <div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
</div>
{ #layout_myfooter } 