	<footer id="footer">
		<nav class="nav">
			<ul>
				<li><a href="/company/">회사소개</a></li>
				<li><a href="http://me2.do/FwyP7wHP" target="_blank">블로그 <img src="/images/include/blog_icon.gif" alt="" /></a></li>
				<li><a href="/agreements/agreements/agreement01/">이용약관</a></li>
				<li><a href="/agreements/agreements/privacy/" class="strong">개인정보취급방침</a></li>
			</ul>
		</nav>
		<address>
			<table style="margin:0 auto; width:980px;">
			<colgroup>
				<col width="90%" /><col width="51px" />
			</colgroup>
			<tr>
				<td>
					<div class="address">
						(주)케이아이엔엑스<span>|</span>대표이사 : 이선영<span>|</span>소재지 : 서울시 서초구 서초대로 396 강남빌딩 21층<span>|</span>사업자등록번호 : 101-81-59273<br />
						통신판매업 신고번호 : 제 강남-1134호<span class="cs">24시간 운영센터 : 02-526-0900 (2번)</span> &copy; KINX Inc. All Rights Reserved.
					</div>
				</td>
				<td style="text-align:right;">
					<div style="cursor:pointer; display:inline-block;" memo="<strong>정보보호 관리체계(ISMS)<br>인증 획득</strong><br><br>직접정보통신시설(IDC) 운영<br>(코로케이션, 네트워크 제공)<br><br>2014.12.30~2017.12.29">
						<img src="/images/main/isms.gif" width="51px" height="45px">
					</div>
				</td>
			</tr>
			</table>
		</address>
	</footer>
</div>
{#common_html_footer}