{ #common_html_header }
{ ? isMain }<div id="main_wrap">{:}<div id="wrap">{/}
<a href="#content" class="skip">본문 바로가기</a>
<!-- //skip 네비게이션 -->
	<header id="header">	
		<nav class="nav">
			<h1><a href="/index.php"><img src="/images/include/h1_logo_new.gif" width="68" height="24" alt="KINX - Korea Internet Neutral eXchange" /></a></h1>
			<ul class="lnb">
				<li><a href="/ix/"><img src="/images/include/nav_m1_ix.gif" width="16" height="14" alt="IX" /></a>	
					<div class="ix_">
						<p class="sub ix2"></p>
						<ul>						
							<li><a href="/ix/information/concept">서비스 소개</a></li>							
							<li><a href="/ix/ixService/request">IX 서비스</a></li>
							<li><a href="/ix/multihoming/request">멀티호밍 인터넷서비스</a></li>
							<li class="last"><a href="/ix/globalInternet/request">글로벌 인터넷서비스</a></li>
						</ul>
					</div>
				</li>
				<li><a href="/cdn/"><img src="/images/include/nav_m2_cdn.gif" width="40" height="14" alt="CDN" /></a>
					<div class="cdn_">
						<p class="sub cdn2"></p>
						<ul>				
							<li><a href="/cdn/information/advantage">서비스 소개</a></li>							
							<li><a href="/cdn/download/request">다운로드</a></li>
							<li><a href="/cdn/streaming/request">스트리밍</a></li>
							<li class="last"><a href="/cdn/cache/request">캐시</a></li>
						</ul>
					</div>
				</li>
				<li><a href="/cloud/"><img src="/images/include/nav_m3_cloud.gif" width="62" height="14" alt="CLOUD" /></a>
					<div class="cloud_">
						<p class="sub cloud2"></p>
						<ul>						
							<li><a href="/cloud/intro/ixcloud">서비스 소개</a></li>							
							<li><a href="/cloud/public/intro">퍼블릭 클라우드</a></li>
                            <li><a href="/cloud/private/intro">프라이빗 클라우드</a></li>
                            <li><a href="/cloud/private/promotion">구축지원 사업 안내</a></li>
                            <li><a href="/cloud/hybrid/intro">하이브리드 클라우드</a></li>
							<li class="last"><a href="/cloud/auth/login">서비스 관리</a></li>						
						</ul>
					</div>
				</li>
				<li><a href="/idc/"><img src="/images/include/nav_m4_idc.gif" width="31" height="14" alt="IDC" /></a>
					<div class="idc_">
						<p class="sub idc2"></p>
						<ul>						
							<li><a href="/idc/information/advantage">서비스 소개</a></li>							
							<li><a href="/idc/serverhosting/request">서버호스팅</a></li>
							<li><a href="/idc/colocation/request">코로케이션</a></li>
							<li><a href="/idc/cdc/request">차이나 다이렉트 커넥트</a></li>
							<li class="last"><a href="/idc/aws/request">AWS 다이렉트 커넥트</a></li>						
						</ul>
					</div>
				</li>
				<li><a href="/kclean/"><img src="/images/include/nav_m6_kclean.gif" width="74" height="14" alt="KCLEAN" /></a>
					<div class="kclean_">
						<p class="sub kclean2"></p>
						<ul>						
							<li><a href="/kclean/request">서비스 신청</a></li>							
							<li><a href="/kclean/introduction">서비스 소개</a></li>
							<li><a href="/kclean/charge">요금</a></li>
							<li class="last"><a href="/kclean/consult">상담</a></li>						
						</ul>
					</div>
				</li>
				<li>
					{ ? env == 'd'   }
						<a href="/my/"><img src="/images/include/nav_m5_mykinx.gif" width="80" height="14" alt="MY KINX" /></a>
					{ : }
						<a href="/mypage/"><img src="/images/include/nav_m5_mykinx.gif" width="80" height="14" alt="MY KINX" /></a>
					{ / }
				</li>
			</ul>
			<ul class="gnb">
				<li class="first"><a href="/support/"><img src="/images/include/nav_s1_support.gif" width="50" height="11" alt="기술지원" /></a></li>
				<li><a href="javascript:" class="sitemapLink" title="sitemap"><img src="/images/include/nav_s2_sitemap.gif" width="50" height="11" alt="사이트맵" /></a></li>
				<li><a href="http://global.kinx.net" ><img src="/images/include/nav_s3_english.gif" width="56" height="11" alt="ENGLISH" /></a></li>
			</ul>
		</nav>
		<div class="bar "></div>
	</header>
<div class="sitemap">
		<article class="sitemap_bg">
			<a href="javascript:" class="close"></a>
			<!-- //header -->
			<section class="container">
				<ul>
					<li>
						<p class="tit">
							<a href="/ix/"><img src="/images/main/tit_sitemap_ix.png" width="20" height="17" alt="IX" /></a>
						</p>
						<dl>
							<dt>서비스 소개</dt>
							<dd><a href="/ix/information/concept">IX의 개념과 구성</a></dd>
							<dd><a href="/ix/information/advantage">IX의 장점</a></dd>
							<dd><a href="/ix/information/globalNetworks">국내외 IX현황</a></dd>
							<dd><a href="/ix/information/kinxNetworks">연동현황</a></dd>
							<dd><a href="/ix/information/center">시설</a></dd>
							<dd><a href="/ix/information/location">위치</a></dd>
							<dt>IX 서비스</dt>
							<dd><a href="/ix/ixService/request">서비스 신청</a></dd>
							<dd><a href="/ix/ixService/consult">상담</a></dd>
							<dt>멀티호밍 인터넷서비스</dt>
							<dd><a href="/ix/multihoming/request">서비스 신청</a></dd>
							<dd><a href="/ix/multihoming/consult">상담</a></dd>
							<dt>글로벌 인터넷서비스</dt>
							<dd><a href="/ix/globalInternet/request">서비스 신청</a></dd>
							<dd><a href="/ix/globalInternet/consult">상담</a></dd>
						</dl>
					</li>
					<li>
						<p class="tit">
							<a href="/cdn/"><img src="/images/main/tit_sitemap_cdn.png" width="48" height="17" alt="CDN" /></a>
						</p>
						<dl>
							<dt>서비스 소개</dt>
							<dd><a href="/cdn/information/advantage">KINX CDN 장점</a></dd>
							<dd><a href="/cdn/information/concept">CDN의 개념</a></dd>
							<dt>다운로드</dt>
							<dd><a href="/cdn/download/request">서비스 신청</a></dd>
							<dd><a href="/cdn/download/addService">부가서비스</a></dd>		
							<dd><a href="/cdn/download/reference">구축사례</a></dd>
							<dd><a href="/cdn/download/consult">상담</a></dd>
							<dt>스트리밍</dt>
							<dd><a href="/cdn/streaming/request">서비스 신청</a></dd>
							<dd><a href="/cdn/streaming/addService">부가서비스</a></dd>						
							<dd><a href="/cdn/streaming/reference">구축사례</a></dd>
							<dd><a href="/cdn/streaming/consult">상담</a></dd>
							<dt>캐시</dt>
							<dd><a href="/cdn/cache/request">서비스 신청</a></dd>
							<dd><a href="/cdn/cache/reference">구축사례</a></dd>
							<dd><a href="/cdn/cache/consult">상담</a></dd>
						</dl>
					</li>
					<li>
						<p class="tit">
							<a href="/cloud/"><img src="/images/main/tit_sitemap_cloud.png" width="75" height="17" alt="CLOUD" /></a>
						</p>
						<dl>
							<dt>서비스 소개</dt>
							<dd><a href="/cloud/intro/ixcloud">IXcloud 소개</a></dd>
							<dd><a href="/cloud/intro/ix">IX회선의 장점</a></dd>
							<dt>퍼블릭 클라우드</dt>
							<dd><a href="/cloud/public/intro">개요</a></dd>
							<dd><a href="/cloud/public/price">가격</a></dd>
							<dd><a href="/cloud/public/server">서버</a></dd>
							<dd><a href="/cloud/public/storage">스토리지</a></dd>
							<dd><a href="/cloud/public/add">부가서비스</a></dd>
							<dd><a href="/cloud/public/join/register">서비스 신청</a></dd>
							<dd><a href="/cloud/public/consult">서비스 문의</a></dd>
							<dt>프라이빗 클라우드</dt>
							<dd><a href="/cloud/private/intro">개요</a></dd>
							<dd><a href="/cloud/private/struct">구성 및 특징</a></dd>
							<dd><a href="/cloud/private/product">구축 예시</a></dd>
							<dd><a href="/cloud/private/productsupport">구축 지원</a></dd>
							<dd><a href="/cloud/private/fuel">구축 자동화</a></dd>
							<dd><a href="/cloud/private/managesupport">운영지원</a></dd>
							<dd><a href="/cloud/private/consult">서비스 문의</a></dd>
							<dt>구축지원 사업안내</dt>
							<dd><a href="/cloud/private/promotion">구축지원 사업안내</a></dd>
							<dd><a href="/cloud/private/promotion2">구축지원 사례</a></dd>
							<dt>하이브리드 클라우드</dt>
							<dd><a href="/cloud/hybrid/intro">개요</a></dd>
							<dd><a href="/cloud/hybrid/network">네트워크</a></dd>
							<dd><a href="/cloud/hybrid/corp">기업 클라우드 구축</a></dd>
							<dd><a href="/cloud/hybrid/consulting">컨설팅 서비스</a></dd>
							<dd><a href="/cloud/hybrid/msp">전문 지원 서비스</a></dd>
							<dd><a href="/cloud/hybrid/consult">서비스 문의</a></dd>
							<dt>서비스관리</dt>
							<dd><a href="/cloud/auth/login">대시보드 로그인</a></dd>
							 
						</dl>
					</li>
					<li>
						<p class="tit">
							<a href="/idc/"><img src="/images/main/tit_sitemap_idc.png" width="36" height="17" alt="IDC" /></a>
						</p>
						<dl>
							<dt>서비스 소개</dt>
							<dd><a href="/idc/information/advantage">KINX IDC 장점</a></dd>
							<dd><a href="/idc/information/center">시설</a></dd>
							<dd><a href="/idc/information/location">위치</a></dd>
							<dt>서버호스팅</dt>
							<dd><a href="/idc/serverhosting/request/ALL">서비스 신청</a></dd>
							<dd><a href="/idc/serverhosting/feature">서비스 특징</a></dd>
							<dd><a href="/idc/serverhosting/addService">부가서비스</a></dd>
							<dd><a href="/idc/serverhosting/consult">상담</a></dd>
							<dt>코로케이션</dt>
							<dd><a href="/idc/colocation/request">서비스 신청</a></dd>
							<dd><a href="/idc/colocation/feature">서비스 특징</a></dd>
							<dd><a href="/idc/colocation/addService">부가서비스</a></dd>
							<dd><a href="/idc/colocation/consult">상담/견적</a></dd>
							<dt>차이나 다이렉트 커넥트</dt>
							<dd><a href="/idc/cdc/request">서비스 신청</a></dd>
							<dd><a href="/idc/cdc/consult">상담</a></dd>
							<dt>AWS 다이렉트 커넥트</dt>
							<dd><a href="/idc/aws/request">서비스 신청</a></dd>
							<dd><a href="/idc/aws/consult">상담</a></dd>
						</dl>
					</li>
					<li>
						<p class="tit">
							<a href="/kclean/"><img src="/images/main/tit_sitemap_kclean.png" width="90" height="17" alt="KCLEAN" /></a>
						</p>
						<dl>
							<dt><a href="/kclean/request">서비스 신청</a></dt>							
							<dt><a href="/kclean/introduction">서비스 소개</a></dt>
							<dd><a href="/kclean/introduction/sos">SOS</a></dd>
							<dd><a href="/kclean/introduction/antiddos">안티 디도스</a></dd>
							<dd><a href="/kclean/introduction/gre">GRE</a></dd>
							<dd><a href="/kclean/introduction/circuit">서킷</a></dd>
							<dt><a href="/kclean/charge">요금</a></dt>
							<dt><a href="/kclean/consult">상담</a></dt>
						</dl>
						<p class="tit2">
							<a href="/mypage"><img src="/images/main/tit_sitemap_mykinx.png" width="95" height="17" alt="MY KINX" /></a>
						</p>
						<dl>
							<dt class="blank"></dt>
							<dd><a href="/mypage/service/index{url_suffix}">서비스 관리</a></dd>
							<dd><a href="/mypage/stat/index{url_suffix}">통계</a></dd>
							<dd><a href="/mypage/payment/index{url_suffix}">결제 관리</a></dd>
							<dd><a href="/mypage/member/index{url_suffix}">회원정보 관리</a></dd>
							<dd><a href="/mypage/kinxidc/index{url_suffix}">IDC출입 관리</a></dd>
							<dd><a href="/mypage/kinxidc/techsupport{url_suffix}">기술요청/문의</a></dd>
							<dd><a href="/mypage/counsel/index{url_suffix}">나의 상담내역</a></dd>
						</dl>
						<p class="tit2">
							<a href="/company/"><img src="/images/main/tit_sitemap_company.png" width="78" height="21" alt="회사소개" /></a>
						</p>
						<dl>
							<dt class="blank"></dt>
							<dd><a href="/company/invest/financialStatement">투자</a></dd>
							<dd><a href="/company/pr/ceoMessage">홍보</a></dd>
							<dd><a href="/company/recruit/company01">채용</a></dd>
						</dl>
					</li>
				</ul>			
			</section>
			<!-- //container -->
		</article>
		<!-- //wrap -->
	</div>
	<!-- //sitemap -->