<div id="cscenter">
	<div class="cs_box">
    	<span class="tit bold">고객센터</span>
        <span class="info"><img class="icon" src="/images/my/icon_tel.png">02.526.0900</span> <span class="sub">(서비스문의: 내선1 / 기술지원: 내선2)</span>
        <span class="info"><img class="icon" src="/images/my/icon_mail.png"><a href="mailto:tech@kinx.net">tech@kinx.net</a></span>
    </div>
</div>

<footer id="myfooter">
	<div class="copy">			
		<div class="txt bold">ⓒKINX Inc. All Rights Reserved.</div>
	</div>
</footer>

		
</div> <!-- wrap?? -->
{#common_html_footer}