﻿{ #common_html_header }
{ #layout_myheader }
<div id="container">
	{ #menu_myauth }
	<div id="content">
		<h3><img src="/images/my/h3_idpw.png"  alt="아이디/패스워드 찾기" /></h3>
		<!-- title_main -->
        <input type="hidden" name="tabselect" id="tabselect" value="{tabselect}">
         <div class="tab_menu">
			<ul>
				<li name="tabmenu" id="findid" class="active"><a href="javascript:">아이디 찾기</a></li>
				<li name="tabmenu" id="findpw"><a href="javascript:">비밀번호 찾기</a></li>
			</ul>
		 </div>
		<!-- //tab_menu -->

		<!-- //아이디 찾기 -->
		<div class="tab_sub tab_box1">
			<div class="login_text">
				<img src="/images/my/txt_idlogin.png"   alt="서비스 계약시 설정하신 업무담당자 또는 요금담당자 정보를 통해 아이디를 확인하실 수 있습니다." />
			</div>
			<div class="login_box">
			<form method="post" action="/auth/findid" name="findidForm" id="findidForm">
				<fieldset>
				<legend>로그인영역</legend>
				<div class="account01">
					<input type="radio" name="srch_duty" id="default" title="업무담당자 정보로 찾기" value="E" checked="checked" /> <label for="default">업무담당자 정보로 찾기</label>
                    &nbsp; &nbsp; <input type="radio" name="srch_duty" id="cloud" title="요금담당자 정보로 찾기" value="C" /> <label for="cloud">요금담당자 정보로 찾기</label>
				</div>
				<div class="center">
					<ul>
						<li><label for="name">이름</label><input type="text" name="srch_name" id="name" title="이름" class="input" style="width:200px" /></li>
						<li><label for="mail">이메일</label><input type="text" name="srch_email" id="mail" title="이메일" class="input" style="width:200px" /></li>
					</ul>
					<p class="login_btn" id="btn_find_id"><input type="image" src="/images/my/btn_id.gif" width="63" height="56" alt="아이디 찾기" onclick="return false;" /></p>
				</div>
				</fieldset>
			</form>
			</div>
			<div class="mylogin_text">
				<p class="bold">[안내]</p>
<br />
{ #auth_findidpwinfo }
			</div>
	</div>
	<!-- 아이디 찾기 -->

	<!-- //비밀번호 찾기 -->
	<div class="tab_sub tab_box2" style="display:none">
		<div class="login_text">
				<img src="/images/my/txt_pwlogin.png"   alt="비밀번호를 찾으시려면 아이디와  담당자 이메일 정보가 필요합니다. 아이디를 모르시는 경우 먼저 아이디찾기를 해주세요." />
			</div>
			<div class="login_box">
			<form method="post" action="/auth/findpw" name="findpwForm" id="findpwForm">
				<fieldset>
				<legend>로그인영역</legend>
				<div class="account01">
					<input type="radio" name="srch_duty" id="default" title="업무담당자 정보로 찾기" value="E" checked="checked" /> <label for="default">업무담당자 정보로 찾기</label>
                    &nbsp; &nbsp; <input type="radio" name="srch_duty" id="cloud" title="요금담당자 정보로 찾기" value="C" /> <label for="cloud">요금담당자 정보로 찾기</label>
				</div>
				<div class="center">
					<ul>
						<li><label for="id">아이디</label><input type="text" name="srch_id" id="id" title="아이디" class="input" style="width:200px" /></li>
						<li><label for="mail">이메일</label><input type="text" name="srch_email" id="mail" title="이메일" class="input" style="width:200px" /></li>
					</ul>
					<p class="login_btn" id="btn_find_pw"><input type="image" src="/images/my/btn_pw.gif" width="63" height="56" alt="비밀번호 찾기" onclick="return false;" /></p>
				</div>
				</fieldset>
			</form>
			</div>
			<div class="mylogin_text">
				<p class="bold">[안내]</p>
<br />
{ #auth_findidpwinfo }

			</div>
	</div>
	<!-- //비밀번호 찾기 -->

	</div>
	<!-- //content -->
</div>
<!-- //container -->

<script>
    $(document).ready(function(){
        var tabId = $("#tabselect").val();
        if(tabId){
            $('#'+tabId).click();
        }
	});

	//아이디 찾기
	$('#btn_find_id').on('click',function(){
		var srch_name = $('#findidForm').find('input[name="srch_name"]').val();
		var srch_email = $('#findidForm').find('input[name="srch_email"]').val();
		srch_name = srch_name.trim();
		srch_email = srch_email.trim();
		if(!srch_name.length || !srch_email.length)
		{
			alert('이름 혹은 이메일 정보를 입력하세요');
			return false;
		}
		$('#findidForm').submit();
	});

	//비밀번호 찾기
	$('#btn_find_pw').on('click',function(){
		var srch_id = $('#findpwForm').find('input[name="srch_id"]').val();
		var srch_email = $('#findpwForm').find('input[name="srch_email"]').val();
		console.log('srch_id : '+srch_id);
		console.log('srch_email : '+srch_email);
		srch_id = srch_id.trim();
		srch_email = srch_email.trim();
		if(!srch_id.length || !srch_email.length)
		{
			alert('아이디 혹은 이메일 정보를 입력하세요');
			return false;
		}
		$('#findpwForm').submit();
	});
</script>
{ #layout_myfooter }
