﻿{ #common_html_header }
{ #layout_myheader }
<div id="container">
	{ #menu_myauth }
	<div id="content">
			<h3><img src="/images/my/h3_idpw.png" width="191" height="23" alt="아이디/패스워드 찾기" /></h3>
			<!-- title_main -->

             <div class="tab_menu">
				<ul>
					<li><a href="/auth/findidpw">아이디 찾기</a></li>
					<li class="active"><a href="/auth/findidpw/findpw">비밀번호 찾기</a></li>
				</ul>
			  </div>
			<!-- //tab_menu -->

			<div class="login_box mt40">

				<div class="center t_center">
                    <p class="clo_mt35 t14 bold">입력하신 정보로 비밀번호를 찾을 수 없습니다.</p>
                    <p class="mt20"><a href="/auth/findidpw/findpw"><img src="/images/my/btn_re.gif" width="102" height="35" alt="재시도" /></a></p>
				</div>

			</div>
			<div class="mylogin_text">
				<p class="bold">[안내]</p>
<br />
{ #auth_findidpwinfo }

			</div>
		</div>
		<!-- //content -->
	</div>
	<!-- //container -->
{ #layout_myfooter }
