﻿{ #common_html_header }
{ #layout_myheader }
<div id="container">
	{ #menu_myauth }
	<div id="content">
			<h3><img src="/images/my/h3_idpw.png" width="191" height="23" alt="아이디/패스워드 찾기" /></h3>
			<!-- title_main -->

             <div class="tab_menu">
				<ul>
					<li><a href="/auth/findidpw">아이디 찾기</a></li>
					<li class="active"><a href="/auth/findidpw/findpw">비밀번호 찾기</a></li>
				</ul>
			  </div>
			<!-- //tab_menu -->

			<div class="login_box mt40">

				<div class="center t_center">
                    <p class="mt30"><span>{sCompanyName}</span>님의 임시비밀번호가 아래의 메일 주소로 발송 되었습니다.</p>
                    <p class="mylogin_box mt10">{sEmail}</p>
                    <p class="mt10 small">임시 비밀번호로 로그인 하신 후 <span>비밀번호를 반드시 변경</span> 하시기바랍니다.</p>
				</div>

			</div>
			<div class="mylogin_text">
				<p class="bold">[안내]</p>
<br />
상기 메일 주소로 임시 비밀번호 확인이 어려운 경우, 아이디/비밀번호 찾기 신청을 통해 계정정보를 찾으실 수 있습니다.
<br />
접수된 내용 확인 후 임시 비밀번호를 재발급해드립니다.

<br /><br />
<a href="/auth/find_idpw_req"><span class="underline">아이디/비밀번호 찾기 신청하기</span></a>

<br /><br />
<p class="small">접수내용 확인에 시간이 다소 길게 소요될 수 있으니 급하신 경우 접수 후 전화 문의해주시면 빠른 처리가 가능합니다.
<br />(단 업무시간 종료 후, 주말, 휴일의 경우 업무시간 개시 후 확인 가능합니다.)</p>

			</div>
		</div>
		<!-- //content -->
	</div>
	<!-- //container -->
{ #layout_myfooter }
