﻿{ #common_html_header }
{ #layout_myheader }
<div id="container">
	{ #menu_myauth }
	<div id="content">
		<h3><img src="/images/my/h3_idpw2.png"  alt="아이디/패스워드 찾기 신청" /></h3>
		<!-- title_main -->

		<div class="tab_menu4">
			<input type="hidden" id="tab_active_kinds" value="COMP">
			<ul>
				<li class="active"><a href="javascript:">단체회원</a></li>
				<li><a href="javascript:">개인</a></li>
			</ul>
		</div>
		<!-- //tab_menu -->

		<!-- //단체  -->
        {#my_find_idpw_req_comp}
        <!-- //단체  -->
        <!-- //개인 -->
		{#my_find_idpw_req_priv}
		<!-- //개인 -->

	</div>
	<!-- //content -->
</div>
<!-- //container -->

<!-- 본인인증 서비스 팝업을 호출하기 위해서는 다음과 같은 form이 필요합니다. -->
<form id="form_chk_self_auth" name="form_chk_self_auth" method="post">
	<input type="hidden" name="m" value="checkplusService">				<!-- 필수 데이타로, 누락하시면 안됩니다. -->
	<input type="hidden" name="EncodeData" >		<!-- 위에서 업체정보를 암호화 한 데이타입니다. -->
</form>

<script language="javascript">
	var verifyCallback = function(response) {
	    alert(response);
	  };
	  var widgetId1;
	  var widgetId2;
	  var onloadCallback = function() {
	    // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
	    // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
	    widgetId1 = grecaptcha.render('chk-auto-captcha1', {
	      'sitekey' : '6LekUw8UAAAAAEOFq68h_PxFDtqg8ITekxTgGKYF',
	      'theme' : 'light'
	    });
	    widgetId2 = grecaptcha.render('chk-auto-captcha2', {
	        'sitekey' : '6LekUw8UAAAAAEOFq68h_PxFDtqg8ITekxTgGKYF',
	        'theme' : 'light'
	    });
	  };

	  //본인인증 팝업 띄우기
	  window.name = "Self_auth_Parentwindow";
	  function fnPopup(){
		window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
		document.form_chk_self_auth.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
		document.form_chk_self_auth.target = "popupChk";
		document.form_chk_self_auth.submit();
	  }
	  //초기화
	$(document).ready(function(){
		find_idpw_comp.init();
		find_idpw_priv.init();

		//본인인증 enc_key 받기
		$.ajax({
			url : '/auth/check_certification',
			type : 'POST',
			success : function(data)
			{
				//console.log('success');
				//console.log(data);
				var _form = $('#form_chk_self_auth');
				//console.log(_form);
				_form.find('input[name="EncodeData"]').val(data.data);
			},
			error : function(data)
			{
				console.log('error');
				console.log(data);
			},
			complete : function(data)
			{
				//console.log('complete');
				//console.log(data);
			}
		});
	})

	$(".tab_menu4 li").click(function () {
		$(".tab_menu4 li").removeClass("active");
		$(this).addClass("active");
		var boxVar = $(this).index() + 1;
		$(".tab_sub").css("display","none");
		$(".tab_box"+boxVar).css("display","block");
		if(boxVar == 1) //단체회원
			$('#tab_active_kinds').val('COMP');
		else if(boxVar == 2) //개인
			$('#tab_active_kinds').val('PRIV');
	});
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
{ #layout_myfooter }