{ #common_html_header }
{ #layout_myheader }
<div id="container">
	{ #menu_myauth }
	<div id="content">
			<h3><img src="/images/my/h3_idpw.png"   alt="아이디/패스워드 찾기" /></h3>			
			<!-- title_main --> 

			<div class="login_box mt40">					
				<div class="account02 t14 bold blue">신청이 완료되었습니다. 빠른 시간내에 답변드리겠습니다.</div>
				<div class="account03">
					<ul>
						<li>접수내용 확인 후 해당 메일로 아이디 및 임시비밀번호를 보내드립니다. </li>
						<li>접수  확인 시간이  다소  길게 소요될 수 있으니 급하신 경우 접수 후 전화 문의해주시면 빠른 처리가 가능합니다. 
<br />(단 업무시간 종료 후, 주말, 휴일의 경우 업무시간 개시 후 확인 가능합니다.)</li>
                            <li>관련 서류를 증빙하지 않은 경우 확인이 불가능하오니 반드시 보내주시기 바랍니다.</li>
					</ul>				
				</div>
			</div>
            <div class="center t_center mt20"><a href="/"><img src="/images/my/btn_mykinx.gif" width="102" height="35" alt="MYKINX 홈" /></a></div>
			
		</div>
		<!-- //content -->
</div>
<!-- //container -->
{ #layout_myfooter }