﻿{ #common_html_header }
{ #layout_myheader }
<div id="container">
	{ #menu_myauth }
	<div id="content">
		<h3><img src="/images/my/h3_idpw.png" width="191" height="23" alt="아이디/패스워드 찾기" /></h3>			
		<!-- title_main -->
           
            <div class="tab_menu">
			<ul>
				<li class="active"><a href="/auth/findidpw">아이디 찾기</a></li>
				<li><a href="/auth/findidpw/findpw">비밀번호 찾기</a></li>
			</ul>
		  </div>
		<!-- //tab_menu -->

		<div class="login_box mt40">	
			
			<div class="center t_center">
                   <p class="clo_mt35 t14"><span>{sCompanyName}</span>님의 MY KINX 아이디는 <span class="orange">{findid}</span> 입니다.</p>	
                   <p class="mt20"><a href="/auth/findidpw/findpw"><img src="/images/my/btn_pw_se.gif" width="102" height="35" alt="비밀번호 찾기" /></a>
                   &nbsp;&nbsp;<a href="/"><img src="/images/my/btn_mykinx.gif" width="102" height="35" alt="MY KINX 가기" /></a></p>
			</div>
		</div>
		
	</div>
	<!-- //content -->
</div>
<!-- //container -->
{ #layout_myfooter }
