﻿{ #common_html_header }
	<form name="successForm" id="successForm">
		<div>
			<input type="hidden" name="authtype" id="authtype" value="{authtype}">
			<input type="hidden" name="sname" id="sname" value="{sname}">
			<input type="hidden" name="utf8name" id="utf8name" value="{utf8name}">
			<input type="hidden" name="birthdate" id="birthdate" value="{birthdate}">
			<input type="hidden" name="gender" id="gender" value="{gender}">
			<input type="hidden" name="nationalinfo" id="nationalinfo" value="{nationalinfo}">
			<input type="hidden" name="returnFlag" id="returnFlag" value="S">
			<input type="hidden" name="success_msg" id="success_msg" value="{success_msg}">
			<input type="hidden" name="plaindata" id="plaindata" value="{plaindata}">

		</div>
	</form>

	<script src="/scripts/my_findidpw_req.js"></script>

	<script>
		$(document).ready(function()
		{
			self_auth_result.checkPlusResult(); // 결과처리
		});
	</script>
{#common_html_footer}
