{ #encommon_html_header }
{ #enlayout_myheader }
<!-- myglobal/service / contact / detail -->
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_service.png" width="94" height="20" alt="services" /></h3>
		<!-- //title_main -->

		<div class="table_wrap">
			<div class="title">
				<h4>Contract details and Fees</h4>
			</div>
			<!-- //title_sub -->
			<table summary="Contract details and Fees" class="table_row2">
			<caption>Contract details and Fees</caption>
			<colgroup>
				<col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">Status</th>
					<td>
						{? basic.sStatus === "Y"}
						Normal
						{: basic.sStatus === "S"}
						Termination
						{: basic.sStatus === "X"}
						Removal
						{ / }
					</td>
					<th scope="row">Service option</th>
					<td>{service.sEngServiceType}</td>
				</tr>
				<tr>
					<th scope="row">Service name</th>
					<td>{service.sEngServiceName}</td>
					<th scope="row">Contract bandwidth(Circuit)</th>
					<td>{ ? basic.nVolume < 1 } - { : }{basic.nVolume}{ / }</td>
				</tr>
				<tr>
					<th scope="row">Details</th>
					<td>{service.sEngServiceDetail}</td>
					<th scope="row">Unit</th>
					<td>{ basic.nQuantity }</td>
				</tr>
				<tr>
					<th scope="row">Contrct Period</th>
					<td>{basic.dtStartDate} ~ {basic.dtEndDate}</td>
					<th scope="row">Remaining Period</th>
					<td>{?basic.dtEndDate=='0000-00-00'}-{:}{=get_unexpired_term(basic.dtEndDate)} day{/}</td>
				</tr>
				<tr>
					<th scope="row">Stabilizing Period</th>
					<td>{ ? basic.dtSafeStartDate=="0000-00-00"} - { : }{basic.dtSafeStartDate} ~ {basic.dtSafeEndDate}{ / }</td>
					<th scope="row">Billing Start Date</th>
					<td>{basic.dtChargeDate}</td>
				</tr>
				<tr>
					<th scope="row">Price</th>
					<td>{=number_format(basic.nPrice)} {ExchangeRateType}</td>
					<th scope="row">Billing Option</th>
					<td>
						{ ? basic.nMonthlyType === "0"}
						Monthly Payment
						{ : basic.nMonthlyType === "99"}
						Pay in Full (one-time payment)
						{ : }
						{basic.nMonthlyType} months Deposit
						{ / }
					</td>
				</tr>
			</tbody>
			</table>
			<!-- //table_row --> 
		</div>
		<!-- //table_wrap -->

		<div class="guide">
			<h5>[Guide]</h5>
			<ul>
				<li>Change of the contents of contracts is available after directly consulting with the administrator.</li>
			</ul>
		</div>
		<!-- //guide -->

		<div class="button">
			<div class="center">
				<span class="btn_pack xlarge"><a href="/en/service/index{url_suffix}">LIST</a></span>
			</div>
		</div>
		<!-- //button -->
	</div>
	<!-- //content -->
</div>
<div class="layerMask"></div>
{ #enlayout_myfooter } 