{ #encommon_html_header }
{ #enlayout_myheader }
<!-- myglobal/service / contact / detail -->
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_service.png" width="94" height="20" alt="services" /></h3>
		<!-- //title_main -->

		<div class="table_wrap">
			<div class="title">
				<h4>Contract details and Fees</h4>
			</div>
			<!-- //title_sub -->
			<table summary="Contract details and Fees" class="table_row2">
			<caption>Contract details and Fees</caption>
			<colgroup>
				<col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">Status</th>
					<td>
						{? basic.sStatus === "Y"}
						Normal
						{: basic.sStatus === "S"}
						Termination
						{: basic.sStatus === "X"}
						Removal
						{ / }
					</td>
					<th scope="row">Service option</th>
					<td>{service.sServiceType}</td>
				</tr>
				<tr>
					<th scope="row">Service name</th>
					<td>{service.sServiceName}</td>
					<th scope="row">Contract bandwidth(Circuit)</th>
					<td>{ ? basic.nVolume < 1 } - { : }{basic.nVolume}{ / }</td>
				</tr>
				<tr>
					<th scope="row">Details</th>
					<td>{service.sServiceDetail}</td>
					<th scope="row">Unit</th>
					<td>{ basic.nQuantity }</td>
				</tr>
				<tr>
					<th scope="row">Contrct Period</th>
					<td>{basic.dtStartDate} ~ {basic.dtEndDate}</td>
					<th scope="row">Remaining Period</th>
					<td>{?basic.dtEndDate=='0000-00-00'}-{:}{=get_unexpired_term(basic.dtEndDate)} day{/}</td>
				</tr>
				<tr>
					<th scope="row">Stabilizing Period</th>
					<td>{ ? basic.dtSafeStartDate=="0000-00-00"} - { : }{basic.dtSafeStartDate} ~ {basic.dtSafeEndDate}{ / }</td>
					<th scope="row">Billing Start Date</th>
					<td>{basic.dtChargeDate}</td>
				</tr>
				<tr>
					<th scope="row">Price</th>
					<td>{=number_format(basic.nPrice)} {ExchangeRateType}</td>
					<th scope="row">Billing Option</th>
					<td>
						{ ? basic.nMonthlyType === "0"}
						Monthly Payment
						{ : basic.nMonthlyType === "99"}
						Pay in Full (one-time payment)
						{ : }
						{basic.nMonthlyType} months Deposit
						{ / }
					</td>
				</tr>
			</tbody>
			</table>
			<!-- //table_row -->

			<div class="title">
				<h4>Company Information</h4>
			</div>
			<!-- //title_sub -->
			<table summary="Company Information" class="table_row2">
			<caption>Company Information</caption>
			<colgroup>
				<col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">Company name</th>
					<td>{company.sCompanyName}</td>
					<th scope="row">Registration number</th>
					<td>{company.sBusinessNumber}</td>
				</tr>
				<tr>
					<th scope="row">Director name</th>
					<td>{company.sPresidentName}</td>
					<th scope="row">Type / Category of Business</th>
					<td>{company.sBusinessType} / {company.sItemType}</td>
				</tr>
				<tr>
					<th scope="row">Address</th>
					<td colspan="3">{company.sAddress1} {company.sAddress2}</td>
				</tr>
			</tbody>
			</table>
			<!-- //table_row -->

			<div class="title">
				<h4>Personnel(Contract / Operation) </h4>
				{? basic.sStatus != "S" && basic.sStatus != "X"}
				<span class="btn_pack small2"><a class="memberChgBtn" data-type="e">Edit</a></span>
				{/}
			</div>
			<!-- //title_sub -->
			<table summary="Personnel(Contract / Operation)" class="table_row2">
			<caption>Personnel(Contract / Operation)</caption>
			<colgroup>
				<col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">Name(Title)</th>
					<td>{eMember.sName} {eMember.sRank}</td>
					<th scope="row">Phone number</th>
					<td>{eMember.sInternalPhone}</td>
				</tr>
				<tr>
					<th scope="row">Team/Division</th>
					<td>{eMember.sDepartment}</td>
					<th scope="row">Mobile number</th>
					<td>{eMember.sMobilePhone}</td>
				</tr>
				<tr>
					<th scope="row">Email</th>
					<td>{eMember.sEmail}</td>
					<th scope="row">Fax number</th>
					<td>{eMember.sfax}</td>
				</tr>
			</tbody>
			</table>
			<!-- //table_row -->

			<div class="title">
				<h4>Personnel (Billing)</h4>
				{? basic.sStatus != "S" && basic.sStatus != "X"}
				<span class="btn_pack small2"><a class="memberChgBtn" data-type="c">Edit</a></span>
				{/}
			</div>
			<!-- //title_sub -->
			<table summary="Personnel (Billing)" class="table_row2">
			<caption>Personnel (Billing)</caption>
			<colgroup>
				<col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">Name(Title)</th>
					<td>{cMember.sName} {cMember.sRank}</td>
					<th scope="row">Phone number</th>
					<td>{cMember.sInternalPhone}</td>
				</tr>
				<tr>
					<th scope="row">Team/Division</th>
					<td>{cMember.sDepartment}</td>
					<th scope="row">Mobile number</th>
					<td>{cMember.sMobilePhone}</td>
				</tr>
				<tr>
					<th scope="row">Email</th>
					<td>{cMember.sEmail}</td>
					<th scope="row">Fax number</th>
					<td>{cMember.sfax}</td>
				</tr>
			</tbody>
			</table>
			<!-- //table_row -->
		</div>
		<!-- //table_wrap -->

		<div class="guide">
			<h5>[Guide]</h5>
			<ul>
				<li>Page to see the contents of contract</li>
				<li>Change of information of persons in charge of each contract and billing is available.</li>
				<li>Click the [Edit] button and modify information, then click the [Change] button.</li>
				<li>Change of business information is available in the Member Info page.</li>
				<li>Change of the contents of main contracts is available after directly consulting with the administrator.</li>
			</ul>
		</div>
		<!-- //guide -->

		<div class="button">
			<div class="center">
				<span class="btn_pack xlarge"><a href="/en/service/index{url_suffix}">LIST</a></span>
			</div>
		</div>
		<!-- //button -->
	</div>
	<!-- //content -->
</div>
<div class="layerMask"></div>
{ #enlayout_myfooter } 