﻿{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
		<div id="content">
			<h3><img src="/images/my/en/h3_dns.png" width="49" height="20" alt="DNS" /></h3>
			<!-- //title_main -->
            
            <div class="button hx30">
				<div class="right">
					<span class="btn_pack medium2"><a href="/en/service/dns_request">Add</a></span>
				</div>
			</div>
			<!-- //button -->

			<div class="table">
				<table class="table_col">
				<caption>DNS</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:13%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS</th>
						<th scope="col">HOST</th>
						<th scope="col">IP</th>
						<th scope="col">Nickname</th>
						<th scope="col">Registration<br>Date</th>
					</tr>
				</thead>
				<tbody>
					{@list}
					<tr onMouseOver="overColor(this)" onMouseout="outColor(this)">
						<td class="left">{.sDns}</td>
						<td class="left">{.sHost}</td>
                        <td>{.sIp}</td>
                        <td class="left">{.sComment}</td>
						<td class="left">{.dtCreateDate}</td>
					</tr>
					{:}					
					<tr>
						<td colspan="5" class="nodata">There is no related content.</td>
					</tr>
					{/}
				</tbody>
				</table>
                <div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
</div>
{ #enlayout_myfooter } 