﻿{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
		<div id="content">
			<h3><img src="/images/my/en/h3_dns.png" width="49" height="20" alt="DNS" /></h3>
			<!-- //title_main -->
			
			<form method="post" id="DnsRequestForm" name="DnsRequestForm">
			<input type="hidden" name="strDNSChoice" id="strDNSChoice" value="N">
			<div class="table_wrap">			
				<table class="table_row2 mb2">
				<caption>DNS</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">
							<strong><label for="name">Registrant <span>*</span></label></strong>
						</th>
						<th colspan="3" scope="col">
							<span class="select" style="width:220px">
								<select name="companycontact" id="companycontact" title="Registrant" onChange="javascript:getRegistantUserInfo(this.value)">
									<option value="-1" selected="selected">select</option>
									{@companycontact}										
									<option value="<?=encryptIt({.nCompanyContactSeq});?>">{.sManagerName}</option>
									{:}
									<option value="-1">User information does not exist. </option>
									{/}									
								</select>
							</span>
						</th>
					</tr>
				</thead>
				<tbody id="contactUserInfo">
					<tr>
						<th scope="row">Company name</th>
						<td colspan="3" scope="col" id="sCompanyName"></td>
					</tr>
					<tr>
						<th scope="row">Person-in-Charge</th>
						<td id="sManagerName"></td>
						<th scope="row">Position</th>
						<td id="sRank"></td>
					</tr>
                    <tr>
						<th scope="row">Phone</th>
						<td id="sInternalPhone"></td>
						<th scope="row">Fax</th>
						<td id="sfax"></td>
					</tr>
                    <tr>
						<th scope="row">Cell phone</th>
						<td id="sMobilePhone"></td>
						<th scope="row">Email</th>
						<td id="sEmail"></td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->

				<div class="title">
					<h4>DNS information</h4>
				</div>
				<!-- //title_sub -->
				<div class="title2">
					<h5>Holding DNS list</h5> (Select DNS that you wish to delete.)
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>Holding DNS list</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS</th>
						<th scope="col">Host</th>
						<th scope="col">IP</th>
						<th scope="col">Nickname</th>
						<th scope="col">Delete<br>request</th>
					</tr>
				</thead>
				<tbody id="dnsList">		
					{@companydnslist}
					<tr id='{.nCompanyDnsSeq}'>
						<td class="left dns">{.sDns}</td>
						<td class="left host">{.sHost}</td>
						<td class="left ip">{.sIp}</td>
						<td class="comment">{.sComment}</td>
						<td>
							<span class="btn_pack small"><a href="#" onClick="javascript:delRegistant({.nCompanyDnsSeq});">Add</a></span>
						</td>
					</tr>
					{:}
					<tr>
						<td colspan="5" class="nodata">DNS to possess/select is not found.</td>
					</tr>
					{/}									
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title2">
					<h5>New DNS registration</h5> (Please register new DNS.)
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>New DNS registration</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS <span>*</span></th>
						<th scope="col">Host</th>
						<th scope="col">IP</th>
						<th scope="col">Nickname</th>
						<th scope="col">Add</th>
					</tr>
				</thead>
				<tbody>					
					<tr id="add_dnsinfo">
						<td class="left"><input type="text" name="add_dns" id="add_dns" title="DNS" class="input" style="width:140px" value="" /></td>
						<td class="left"><input type="text" name="add_host" id="add_host" title="Host" class="input" style="width:140px" value="" /></td>
						<td class="left"><input type="text" name="add_ip" id="add_ip" title="IP" class="input" style="width:140px" value="" /></td>
						<td class="left"><input type="text" name="add_cmt" id="add_cmt" title="Content" class="input" style="width:140px" value="" /></td>
						<td>
							<span class="btn_pack small"><a href="#" onClick="javascript:addDNSInfo();">Add</a></span>
						</td>
					</tr>
					<!--<tr>
						<td colspan="5" class="nodata">There is no related content.</td>
					</tr>-->
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title2">
					<h5>DNS Application List</h5>
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>DNS 신청 리스트</caption>
				<colgroup>
					<col /><col /><col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">DNS</th>
						<th scope="col">Host</th>
						<th scope="col">IP</th>
						<th scope="col">Nickname</th>
						<th scope="col">Division</th>
					</tr>
				</thead>
				<tbody id="requestList">					
					<tr class="request_list" style="display:none">
						<!-- td></td>
						<td class="left"></td>
						<td class="left"></td>
						<td class="left"></td>
						<td></td-->
					</tr>
					<tr id="no_request_list">
						<td colspan="5" class="nodata">Please enter (or choose) DNS to process.</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title">
					<h4>Etc.</h4>
				</div>
				<!-- //title_sub -->
				<table class="table_row2">
				<caption>Requests</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:85%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="request">Requests</label>
						</th>
						<td>
							<textarea name="request" id="request" title="요청사항" class="textarea" style="height:70px"></textarea>
						</td>
					</tr>
				</tbody>
				</table>
                
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>
			
			<div class="button">
				<div class="center">
					<!-- span class="btn_pack xlarge"><a href="#" onClick="javascript:dnsRequest();">등록하기</a></span-->
					<span class="btn_pack xlarge"><button type="submit">Add</button></span>					
				</div>
			</div>
			<!-- //button -->
		</form>
		</div>
		<!-- //content -->
	</div>
{ #enlayout_myfooter } 