{ #encommon_html_header }
{ #enlayout_myheader }
<!-- myglobal/Services / Contract -->
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_service.png" width="94" height="20" alt="services" /></h3>
		<!-- //title_main -->

		<form method="post" action="/en/service/index{url_suffix}">
			<fieldset>
			<legend>서비스 검색</legend>
			<div class="table_wrap">
				<table summary="서비스 검색" class="table_row">
				<caption>서비스 검색</caption>
				<colgroup>
					<col width="18%" /><col width="32%" /><col width="15%" /><col width="35%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="#">Service Option</label>
						</th>
						<td>
							<span class="select" style="width:200px">
								<select name="sServiceType" title="서비스 구분">
									<option value=""  {? ! secParams.sServiceType}selected="selected"{ / }>All</option>
									<option value="IX" {? secParams.sServiceType === "IX"}selected="selected"{ / }>IX</option>
									<option value="IDC"  {? secParams.sServiceType === "IDC"}selected="selected"{ / }>IDC</option>
									<option value="CDN"  {? secParams.sServiceType === "CDN"}selected="selected"{ / }>CDN</option>
									<option value="IXCloud"  {? secParams.sServiceType === "IXCloud"}selected="selected"{ / }>Cloud</option>
									<!-- option value="부가서비스"  {? secParams.sServiceType === "부가서비스"}selected="selected"{ / }>부가서비스</option-->
								</select>
							</span>
						</td>
						<th scope="row">
							<label for="#">Status</label>
						</th>
						<td>
							<span class="select" style="width:200px">
								<select name="sStatus" title="서비스 상태">
									<option value="A" {? ! secParams.sStatus}selected="selected"{ / }>All</option>
									<option value="Y" {? secParams.sStatus === "Y"}selected="selected"{ / }>Normal</option>
									<option value="S" {? secParams.sStatus === "S"}selected="selected"{ / }>Termination</option>
									<option value="X" {? secParams.sStatus === "X"}selected="selected"{ / }>Removal</option>
								</select>
							</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">Service period</label>
						</th>
						<td colspan="3">
							<span class="select" style="width:110px">
								<select name="termType" title="기간">
									<option value="dtEndDate" {? secParams.termType === "dtEndDate"}selected="selected"{ / }>Expiry date</option>
									<option value="dtStartDate"  {? secParams.termType === "dtStartDate"}selected="selected"{ / }>Contract date</option>
								</select>
							</span>
							<input type="text" name="sDate" title="시작일자" class="input dateYMD" style="width:100px" value="{secParams.sDate}" />
							~ &nbsp;<input type="text" name="eDate" title="종료일자" class="input dateYMD" style="width:100px" value="{secParams.eDate}" />
							<span class="btn_pack large"><input type="submit" value="Go" /></span>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
			</fieldset>
		</form>
		<!-- //search_box -->
		<p class="hx40"></p>

		<div class="table">
			<table summary="서비스 목록" class="table_col">
			<caption>서비스 목록</caption>
			<colgroup>
				<col style="width:80px" /><col style="width:*" /><col style="width:*" /><col style="width:100px" /><col style="width:75px" />
				<col style="width:90px" /><col style="width:70px" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">Service option</th>
					<th scope="col">Service name</th>
					<th scope="col">Details</th>
					<th scope="col">Contract period</th>
					<th scope="col">Remaining Period</th>
					<th scope="col">Status </th>
					<th scope="col">Detailed view</th>
				</tr>
			</thead>
			<tbody>
				{ @list }
				<tr>
					<td class="left">{.sEngServiceType}</td>
					<td class="left">{=cutstr(.sEngServiceName, 24)}</td>
					<td class="left">{=cutstr(.sEngServiceDetail, 21)}</td>
					<td>{.dtStartDate} <br/>~ {.dtEndDate}</td>
					<td>{?.dtEndDate=='0000-00-00'}-{:}{=get_unexpired_term(.dtEndDate)} day{/}</td>
					<td class="center">
						{? .sStatus === "Y"}
						Normal
						{: .sStatus === "S"}
						Termination
						{: .sStatus === "X"}
						Removal
						{ / }
					</td>
					<td>
						<span class="btn_pack small"><a href="/en/service/detail/<?=encryptIt({.nContractServiceSeq});?>{url_suffix}">view</a></span>
					</td>
				</tr>
				{ : }
				<tr>
					<td colspan="7" class="nodata">There is no related content.</td>
				</tr>
				{ / }
			</tbody>
			</table>
			<div class="paginate">{pager}</div>
		</div>
	</div>
</div>
{ #enlayout_myfooter } 