﻿{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
		<div id="content">
			<h3><img src="/images/my/en/h3_ipmonitoring.png" width="156" height="25" alt="IP Monitoring" /></h3>
			<!-- //title_main -->
            
            <div class="button hx30">
				<div class="right">
					<span class="btn_pack medium2"><a href="/en/service/monitoringip_request">Add</a></span>
				</div>
			</div>
			<!-- //button -->

			<div class="table">
				<table class="table_col">
				<caption>IP Monitoring</caption>
				<colgroup>
					<col /><col /><col /><col />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">IP</th>
						<th scope="col">Nickname</th>
						<th scope="col">Status</th>
						<th scope="col">Registration Date</th>
					</tr>
				</thead>
				<tbody>
					{@list}
					<tr onMouseOver="overColor(this)" onMouseout="outColor(this)">
						<td class="left">{.sIp}</td>
						<td class="left">{.sComment}</td>
                        <td class="left">{? sStatus== 0}Monitoring{:}Pause{/}</td>
						<td class="left">{.dtCreateDate}</td>
					</tr>
					{:}
					<tr>
						<td colspan="4" class="nodata">There is no related content.</td>
					</tr>
					{/}
				</tbody>
				</table>
                <div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
	</div>
{ #enlayout_myfooter } 