﻿{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
		<div id="content">
			<h3><img src="/images/my/en/h3_ipmonitoring.png" width="156" height="25" alt="IP Monitoring" /></h3>
			<!-- //title_main -->

			<form method="post" id="MntrIpRequestForm" name="MntrIpRequestForm">
			<input type="hidden" name="strMntrIPChoice" id="strMntrIPChoice" value="N">
			<div class="table_wrap">
				<table class="table_row2 mb2">
				<caption>IP Monitoring</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">
							<strong><label for="name">Registant <span>*</span></label></strong>
						</th>
						<th colspan="3" scope="col">
							<span class="select" style="width:220px">
								<select name="companycontact" id="companycontact" title="등록자 정보" onChange="javascript:getRegistantUserInfo(this.value)">
									<option value="-1" selected="selected">select</option>
									{@companycontact}										
									<option value="<?=encryptIt({.nCompanyContactSeq});?>">{.sManagerName}</option>
									{:}
									<option value="-1">User information does not exist. </option>
									{/}									
								</select>
							</span>
						</th>
					</tr>
				</thead>
				<tbody id="contactUserInfo">
					<tr>
						<th scope="row">Company name</th>
						<td colspan="3" scope="col" id="sCompanyName"></td>
					</tr>
					<tr>
						<th scope="row">Person-in-Charge</th>
						<td id="sManagerName"></td>
						<th scope="row">Position</th>
						<td id="sRank"></td>
					</tr>
                    <tr>
						<th scope="row">Phone</th>
						<td id="sInternalPhone"></td>
						<th scope="row">Fax</th>
						<td id="sfax"></td>
					</tr>
                    <tr>
						<th scope="row">Cell phone</th>
						<td id="sMobilePhone"></td>
						<th scope="row">Email</th>
						<td id="sEmail"></td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->

				<div class="title">
					<h4>IP Monitoring Information</h4>
				</div>
				<!-- //title_sub -->
				<div class="title2">
					<h5>Monitoring IP list</h5> (Please select monitoring IP you wish to delete.)
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>Monitoring IP list</caption>
				<colgroup>
					<col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">IP</th>
						<th scope="col">Nickname</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody id="mntripList">	
					{@companymntrIplist}				
					<tr id={.nCompanyMonitoringIPSeq}>
						<td class="ip">{.sIp}</td>
						<td class="comment">{.sComment}</td>
						<td>
							<span class="btn_pack small"><a href="#" onClick="javascript:delRegistant({.nCompanyMonitoringIPSeq});">Delete</a></span>
						</td>
					</tr>
                    {:}
					<tr>
						<td colspan="3" class="nodata">Monitoring IP to possess/select is not found.</td>
					</tr>
					{/}
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title2">
					<h5>New monitoring IP registration</h5> (Please register new monitoring IP.)
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>New monitoring IP registration</caption>
				<colgroup>
					<col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">IP <span>*</span></th>
						<th scope="col">Nickname</th>
						<th scope="col">Add</th>
					</tr>
				</thead>
				<tbody>					
					<tr id="add_MntrIpinfo">
						<td class="left"><input type="text" name="add_ip" id="add_ip" title="IP" class="input" style="width:310px" value="" /></td>
						<td class="left"><input type="text" name="add_cmt" id="add_cmt" title="CMT" class="input" style="width:310px" value="" /></td>
						<td>
							<span class="btn_pack small"><a href="#" onClick="javascript:addMntrIPInfo();">Add</a></span>
						</td>
					</tr>
					<!--<tr>
						<td colspan="5" class="nodata"></td>
					</tr>-->
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title2">
					<h5>Monitoring IP Request list</h5>
				</div>
				<!-- //title_sub -->
				<table class="table_col2">
				<caption>Monitoring IP Application List</caption>
				<colgroup>
					<col /><col /><col style="width:10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">IP</th>
						<th scope="col">Nickname</th>
						<th scope="col">Add</th>
					</tr>
				</thead>
				<tbody id="requestList">					
					<tr class="request_list" style="display:none">
						<!-- td></td>
						<td></td-->
					</tr>
					<tr id="no_request_list">
						<td colspan="3" class="nodata">Please enter (or choose) monitoring IP to process.</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title">
					<h4>Etc.</h4>
				</div>
				<!-- //title_sub -->
				<table class="table_row2">
				<caption>Etc</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:85%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="request">Requests</label>
						</th>
						<td>
							<textarea name="request" id="request" title="요청사항" class="textarea" style="height:70px"></textarea>
						</td>
					</tr>
				</tbody>
				</table>
                
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>
			
			<div class="button">
				<div class="center">					
					<!-- span class="btn_pack xlarge"><a href="#" onClick="javascript:mntrIpRequest();">등록하기</a></span-->
					<span class="btn_pack xlarge"><button type="submit">Add</button></span>
				</div>
			</div>
			<!-- //button -->
			</form>
		</div>
		<!-- //content -->
	</div>
{ #enlayout_myfooter } 
