﻿{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
		<div id="content">
			<h3><img src="/images/my/en/h3_system.png" width="83" height="26" alt="System Info" /></h3>
			<!-- //title_main -->

			<div class="table">
				<table class="table_col">
				<caption>System</caption>
				<colgroup>
					<col /><col style="width:9%" /><col /><col style="width:12%" /><col style="width:13%" />
					<col style="width:8%" /><col style="width:12%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Division</th>
						<th scope="col">Brand</th>
						<th scope="col">Model</th>
						<th scope="col">IP</th>
						<th scope="col">The date of<br>installation</th>
						<th scope="col">Unit</th>
						<th scope="col">Remarks</th>
					</tr>
				</thead>
				<tbody>
					{@list}
					<tr onMouseOver="overColor(this)" onMouseout="outColor(this)">
						<td class="left">{.sEquipmentName}</td>
						<td class="left">{.sBrand}</td>
						<td class="left">{.sModel}</td>
						<td>{.sUseIP}</td>
						<td class="left">{.dtCreateDate}</td>
						<td>{.nQuantitly}</td>
						<td>{.sEtc}</td>
					</tr>
					{:}
					<tr>
						<td colspan="7" class="nodata">There is no related content.</td>
					</tr>
					{/}
				</tbody>
				</table>
                <div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
</div>
{ #enlayout_myfooter } 