<!-- myglobal 로그인 후 좌측메뉴 -->
<aside id="aside">
	<h2><img src="/images/my/en/h2_mykinx.png" width="100" height="19" alt="MY KINX" /></h2>
	<nav class="nav">
		<ul class="sub">
			<li><a href="/en/service/index{url_suffix}" { ? rsegment_1 === "service"}class="active"{ / } >Services</a>
				{ ? rsegment_1 === "service"}
				<ul class="sub2">
					<li><a href="/en/service/index{url_suffix}" {? substr(rsegment_2, 0, 5) === "index" || substr(rsegment_2, 0, 6) === "detail"}class="active"{ / } >Contract</a></li>
					<li><a href="/en/service/system_info{url_suffix}" {? substr(rsegment_2, 0, 11) === "system_info"}class="active"{ / } >System</a></li>
					<li><a href="/en/service/dns_info{url_suffix}" {? substr(rsegment_2, 0, 4) === "dns_"}class="active"{ / } >DNS</a></li>
					<li><a href="/en/service/monitoringip_info{url_suffix}" {? substr(rsegment_2, 0, 13) === "monitoringip_"}class="active"{ / } >IP Monitoring</a></li>
				</ul>
				{ / }
			</li>
			<li><a href="/en/stat/index{url_suffix}" { ? rsegment_1 === "stat"}class="active"{ / } >Statistics</a></li>
			<!-- li><a href="/payment/index{url_suffix}" { ? rsegment_1 === "payment"}class="active"{ / } >Payments</a></li-->
			<li><a href="/en/member/index{url_suffix}" { ? rsegment_1 === "member"}class="active"{ / } >Account Management</a></li>
			<li><a href="/en/kinxidc/index{url_suffix}" { ? rsegment_1 === "kinxidc"}class="active"{ / } >IDC Access Control</a>
				{ ? rsegment_1 === "kinxidc"}
				<ul class="sub2">
					<li><a href="/en/kinxidc/competent{url_suffix}" {? substr(rsegment_2, 0, 9) === "competent"}class="active"{ / } >Staff Management</a></li>
					<li><a href="/en/kinxidc/visitapp{url_suffix}" {? substr(rsegment_2, 0, 8) === "visitapp"}class="active"{ / } >Application for visit</a></li>
					<li><a href="/en/kinxidc/equipment{url_suffix}" {? substr(rsegment_2, 0, 9) === "equipment"}class="active"{ / } >Equipment Management</a></li>
				</ul>
				{ / }
			</li>
			<li><a href="/en/counsel/index{url_suffix}" { ? rsegment_1 === "counsel"}class="active"{ / } >My Inquiries</a></li>
		</ul>
	</nav>
</aside>