{ @scripts }
	{ ? preg_match("/(http|https|)(\:|)\/\//", .value_) // 절대경로가 들어오는 경우를 대비합니다}
    <script type="text/javascript" src="{.value_}"></script>
	{ : }
    <script type="text/javascript" src="/scripts/{.value_}"></script>
	{ / }
{ / }
{?jsinit}
    <script language="javascript" type="text/javascript">
        $(document).ready(function(){
        {@jsinit}
            {.value_}
        {/}
        });
    </script>
{/}
</body>
</html>
