<div class="location">
	<ul>
		<li class="first"><a href="/"><img src="/images/include/ico_location_home.gif" width="13" height="12" alt="홈" /></a></li>
		{ @nav }
			{ ? nav.size_ - 1 === .index_ // 사이즈-1 과 키 값이 같을 경우 가장 마지막입니다.}
			<li class="last">{.title}</li>
			{ : }
			<li><a href="{.link}">{.title}</a></li>
			{ / }
		{ / }
	</ul>
</div>