<div id="cscenter">
	<div class="cs_box">
    	<span class="tit bold">Customer Center</span>
        <span class="info"><img class="icon" src="/images/my/icon_tel.png">+82-2-526-0900</span> <span class="lgn_txt3">Service consulting(ext.0) Technical supports(ext.2)</span>
        <span class="info"><img class="icon" src="/images/my/icon_mail.png"><a href="mailto:tech@kinx.net">tech@kinx.net</a></span>
    </div>
</div>

<footer id="myfooter">
	<div class="copy">			
		<div class="txt bold">ⓒKINX Inc. All Rights Reserved.</div>
	</div>
</footer>

		
</div> <!-- wrap?? -->
{#encommon_html_footer}