<div id="wrap">
<header id="header">
	<nav class="nav">
		<h1><img src="/images/my/mykinx_logo.png" alt="MY KINX" /></h1>
		{? is_login == 1}
		<ul class="gnb">
			<li class="first bold"><a href="/en/member">Edit</a></li>
			<li> | </li>
			<li class="bold"><a href="/en/auth/sign_out{url_suffix}">Logout</a></li>
		</ul>
		{ / }
	</nav>
	<div class="bar"></div>
</header>

