{ #layout_header }
{ #common_nav }
<div id="container">
	{ #menu_mypage }
	<div id="content">
        <form name="cloudUserForm">
            <input type="hidden" name="userid" value="{user.userid}"/>
			<h3><img src="/images/mykinx/h3_member.gif" width="123" height="22" alt="회원정보 관리" /></h3>
			<!-- title_main -->
			{ #mypage_member }
			<!-- //tab_menu -->

			<div class="table">

				<table summary="클라우드 회원 정보" class="table_row1">
				<caption>클라우드 회원 정보</caption>
				<colgroup>
					<col width="15%" /><col width="85%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="#">이름</label>
						</th>
						<td>
                            <strong>{user.name}</strong>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">이메일</label>
							
						</th>
						<td>{user.userid}</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">현재 비밀번호</label>
						</th>
						<td>
                            <p class="input_box">
							<input type="password" name="org_password" id="org_password" class="input" style="width:300px" />
                            </p>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">변경 비밀번호</label>
						</th>
						<td>
                            <p class="input_box">
							<input type="password" name="new_password" id="new_password" class="input" style="width:300px" />
                            </p>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#"> 변경 비밀번호 확인</label>
						</th>
						<td>
                            <p class="input_box">
							<input type="password" name="chk_password" id="chk_password" class="input" style="width:300px" />
                            </p>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">주소</label>
						</th>
						<td>
                            {user.zipcode1}-{user.zipcode2}
                            <p class="hx5"></p>
                            {user.address}&nbsp;{user.address2}
                            <!--
							<span class="btn_pack small3 icon"><button type="button" onclick="location.href='#'">우편번호 검색</button><span class="arrow"></span></span>&nbsp;
							<input type="text" name="#" id="zipcode" title="우편번호 앞자리" class="input" style="width:94px" value="{user.zipcode1}">
							<input type="text" name="#" id="zipcode2" title="우편번호 뒷자리" class="input" style="width:94px" value="{user.zipcode2}">
							<p class="hx5"></p>
							<input type="text" name="#" id="address" title="주소" class="input" style="width:189px" value="{user.address}">
							<input type="text" name="#" id="address2" title="주소" class="input" style="width:390px" value="{user.address2}">
                            -->
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">유선전화</label>
						</th>
						<td>
                            {user.phone}
							<!--<input type="text" name="#" id="#" title="유선전화" class="input" style="width:300px" value="{user.phone}"/>-->
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="#">휴대전화</label>
						</th>
						<td>
                            {user.cellphone}
							<!--<input type="text" name="#" id="#" title="휴대전화" class="input" style="width:300px" value="{user.cellphone}"/>-->
						</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>

			<div class="button">
				<div class="center">
                    <input type="submit" class="btn_pack xlarge" value="변경하기" style="width:83px;"/>
					<!--<span class="btn_pack xlarge"><a href="#">변경하기</a></span>-->
				</div>
			</div>
			<!-- //button -->
        </form>
    </div>
</div>
{#mypage_cloudAccoutLayer}
<div class="layerMask"></div>
{ #layout_footer }