    <div class="layer service_detail">
    <article class="pop_wrap lyr_wrap">
        <header class="header">
            { ? mode === "e" }
            <h1>업무 담당자 변경</h1>
            { : mode === "c" }
            <h1>요금 담당자 변경</h1>
            { / }
            <!-- //titile_main -->
            <a href="javascript:" class="close btn_pop_close" data-hide-type="remove"></a>
        </header>
        <!-- //header -->
        <section class="container">
            <form method="post" name="frm_modifyAm" id="frm_modifyAm" action="/member/modifyAM{url_suffix}">
                <input type="hidden" name="sDutyType" value="{mode}" />
                                <input type="hidden" name="nAccountMemberSeq" value="{nAccountMemberSeq}" />
                <div class="table_wrap2">
                    <table class="table_row">
                    <caption>담당자 변경</caption>
                    <colgroup>
                        <col style="width:30%" /><col style="width:70%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="#">이름 <span style="color:red">*</span></label></th>
                            <td><input type="text" name="sName" title="이름" class="input" style="width:100%" value="{data.sName}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">호칭</label></th>
                            <td><input type="text" name="sRank" title="직급" class="input" style="width:30%" value="{data.sRank}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">부서</label></th>
                            <td><input type="text" name="sDepartment" title="부서" class="input" style="width:100%" value="{data.sDepartment}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">이메일 <span style="color:red">*</span></label></th>
                            <td><input type="text" name="sEmail" title="이메일" class="input" style="width:100%" value="{data.sEmail}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">전화번호</label></th>
                            <td><input type="text" name="sInternalPhone" title="전화번호" class="input" style="width:100%" value="{data.sInternalPhone}" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="#">휴대전화번호</label></th>
                            <td><input type="text" name="sMobilePhone" title="휴대폰번호" class="input" style="width:100%" value="{data.sMobilePhone}" /></td>
                        </tr>
                    </tbody>
                    </table>
                    <!-- //table_row -->
                </div>
                <!-- //table_wrap -->
                <p class="hx20"></p>

                <div class="button">
                    <div class="center">
                        <span class="btn_pack large"><a href="#" class="btn_ac_submit">변경</a></span>
                    </div>
                </div>
            </form>
            <!-- //button -->
        </section>
        <!-- //container -->
    </article>
    <!-- //wrap -->
</div>