{ #common_html_header }
{ #layout_myheader }
<!-- my/ 회원정보 관리 -->
<div id="container">
	{ #menu_my }
	<div id="content">
			<h3><img src="/images/my/h3_member.png"  alt="회원정보 관리" /></h3>
			<!-- title_main -->
			<form method="post" id="memberFrm" action="/member/proc">
                    <div class="table_wrap">
                        <table summary="회원 정보" class="table_row1">
                            <caption>회원 정보</caption>
                            <colgroup>
                                    <col width="17%" /><col width="33%" /><col width="17%" /><col width="33%" />
                            </colgroup>
                            <thead>
                                    <tr>
                                            <th scope="col" colspan="4">회원 정보</th>
                                    </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                            <th scope="row">아이디</th>
                                            <td>{member.sMemberId}</td>
                                            <th scope="row">회원등록일</th>
                                            <td>{member.dtCreateDate}</td>
                                    </tr>
                                    <tr>
                                            <th scope="row" style="border-bottom:0">
                                                    <label for="#">비밀번호 변경</label>
                                            </th>
                                            <td>
                                                    <input type="password" name="sPassword"  title="비밀번호 변경" class="input" style="width:220px" />
                                            </td>
                                            <th scope="row">
                                                    <label for="#">비밀번호 확인</label>
                                            </th>
                                            <td>
                                                    <input type="password" name="rePassword" title="비밀번호 확인" class="input" style="width:220px" />
                                            </td>
                                    </tr>
                                    <tr>
                                            <th style="padding:0 0 9px 25px"></th>
                                            <td style="padding:0 0 0px 10px;font-size:0.9em;color:#999" colspan="3">
                                                ▶ 비밀번호는 영문+숫자 혼합하여 8~15자로 입력해주세요.
                                                <br>
                                                ▶ 비밀번호를 변경할 경우 Cloudhub 로그인 비밀번호도 같이 변경됩니다.
                                            </td>
                                    </tr>
                                    <!--tr>
                                            <th scope="row">회원등록일</th>
                                            <td>{member.dtCreateDate}</td>
                                            <th scope="row">담당자</th>
                                            <td>{manager.sName} / {manager.sRank} / {=format_phone(manager.sMobilePhone)}
                                    </tr-->
                            </tbody>
                        </table>

                        <p class="hx5"></p>
                        <div class="button">
                                <div class="right">
                                    <span class="btn_pack small"><a href="#" class="btn_submit">비밀번호 변경하기</a></span>
                                </div>
                        </div>
                        <!-- //button -->
                    </div>
                    <!-- //회원정보 -->

                    <p class="hx25"></p>
                    <div class="table_wrap">
                        <table summary="사업자 정보" class="table_row1">
                            <caption>사업자 정보</caption>
                            <colgroup>
                                    <col width="17%" /><col width="33%" /><col width="17%" /><col width="33%" />
                            </colgroup>
                            <thead>
                                    <tr>
                                            <th scope="col" colspan="4">사업자 정보</th>
                                    </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                            <th scope="row">회사명</th>
                                            <td>{company.sCompanyName}</td>
                                            <th scope="row">사업자 등록번호</th>
                                            <td>{company.sBusinessNumber}</td>
                                    </tr>
                                    <tr>
                                            <th scope="row">대표자명</th>
                                            <td>{company.sPresidentName}</td>
                                            <th scope="row">업종 / 업태</th>
                                            { ? company.arOtherInfo.sBusinessType != ''}
                                            <td>{company.arOtherInfo.sBusinessType} / {company.arOtherInfo.sItemType}</td>
                                            { : }
                                            <td>{company.sBusinessType} / {company.sItemType}</td>
                                            { / }
                                    </tr>
                                    <tr>
                                            <th scope="row">사업장 주소</th>
                                            { ? company.arOtherInfo.address1 != ''}
                                            <td colspan="3">{company.arOtherInfo.address1} {company.arOtherInfo.address2}</td>
                                            { : }
                                            <td colspan="3">{company.sAddress1} {company.sAddress2}</td>
                                            { / }
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                        <!-- //사업자정보 -->

                    <p class="hx30"></p>
                    <div>
                        <table summary="업무담당자 정보" class="table_col">
                        <caption>업무담당자 정보</caption>
                        <colgroup>
                                <col width="25%" /><col width="20%" /><col width="25%" /><col width="20%" /><col width="10%" />
                        </colgroup>
                        <thead>
                                <tr>
                                        <th scope="col">업무 담당자</th>
                                        <th scope="col">부서</th>
                                        <th scope="col">email</th>
                                        <th scope="col">연락처</th>
                                        <th scope="col">관리</th>
                                </tr>
                        </thead>
                        <tbody>
                                { @managerE }
                                <tr>
                                        <td class="center">{.sNameRank}</td>
                                        <td class="left">{.sDepartment}</td>
                                        <td class="left">{.sEmail}</td>
                                        <td class="left">{.sMobile}/{.sPhone}</td>
                                        <td>
                                            {? account.sStatus != "S" && account.sStatus != "X"}
                                                <span class="btn_pack small"><a href="#" class="btn_modify_AM" data-type="e">수정</a></span>
                                            {/}
                                        </td>
                                        <input type="hidden" name="nAccountMemberSeq" value="<?=encryptIt({.nAccountMemberSeq});?>">
                                </tr>
                                { : }
                                <tr>
                                        <td colspan="7" class="nodata">해당 내용이 없습니다.</td>
                                </tr>
                                { / }

                        </tbody>
                        </table>
                    </div>
                        <!-- //업무담당자 -->

                    <p class="hx30"></p>
                    <div>
                        <table summary="요금담당자 정보" class="table_col">
                        <caption>요금담당자 정보</caption>
                        <colgroup>
                                <col width="25%" /><col width="20%" /><col width="25%" /><col width="20%" /><col width="10%" />
                        </colgroup>
                        <thead>
                                <tr>
                                        <th scope="col">요금 담당자</th>
                                        <th scope="col">부서</th>
                                        <th scope="col">email</th>
                                        <th scope="col">연락처</th>
                                        <th scope="col">관리</th>
                                </tr>
                        </thead>
                        <tbody>
                                { @managerC }
                                <tr>
                                        <td class="center">{.sNameRank}</td>
                                        <td class="left">{.sDepartment}</td>
                                        <td class="left">{.sEmail}</td>
                                        <td class="left">{.sMobile}/{.sPhone}</td>
                                        <td>
                                            {? account.sStatus != "S" && account.sStatus != "X"}
                                                <span class="btn_pack small"><a href="#" class="btn_modify_AM" data-type="c">수정</a></span>
                                            {/}
                                        </td>
                                        <input type="hidden" name="nAccountMemberSeq" value="<?=encryptIt({.nAccountMemberSeq});?>">
                                </tr>
                                { : }
                                <tr>
                                        <td colspan="7" class="nodata">해당 내용이 없습니다.</td>
                                </tr>
                                { / }

                        </tbody>
                        </table>
                        <!-- //요금담당자 -->
                    </div><!--//table_wrap  -->

                        <div class="guide">
                                <h5>[안내]</h5>
                                <ul>
                                        <li>업무 담당자 및 요금 담당자 정보를 변경할 수 있습니다.</li>
                                        <li>사업자 정보 변경은 영업담당자에게 문의하여 주시기 바랍니다.</li>
                                        <li style="background:none;">(전화 : 02-526-0900 (1번), 이메일 : <a href="mailto:sales@kinx.net">sales@kinx.net)</a></li>
                                </ul>
                        </div>
                        <!-- //guide -->


		</div>
		</form>
</div>

<div class="layerMask"></div>
{ #layout_myfooter }