{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }	
	<div id="content">
			<h3><img src="/images/my/en/h3_contact.png" width="213" height="26" alt="담당자 관리" /></h3>
			<!-- title_main -->

			<div class="title">
				<h4>Staff Information</h4>
			</div>
			<!-- //title_sub -->
			<form name="workRequestForm" id="workRequestFrm" method="post" action="/en/kinxidc/competent_proc/{mode}{url_suffix}">
				<fieldset>
					<legend>Staff Add Form</legend>
					{ ? mode === "modify" // 수정의 경우 히든값으로 seq를 보냅니다.}
					<input type="hidden" name="nCompanyContactSeq" value="{basic.nCompanyContactSeq}" />
					<input type="hidden" name="nContractSeq" value="{basic.nContractSeq}" />
					{ / }
					<div class="table_wrap2">
						<table summary="Staff add" class="table_row1">
						<caption>Staff add</caption>
						<colgroup>
							<col width="20%" /><col width="33%" /><col width="20%" /><col width="27%" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">
									<label>Company Classification</label>
								</th>
								<td colspan="3">
									<label><input type="radio" name="sCompanyType" title="Resident companies" value="M" { ? basic.sCompanyType ==="M" || !basic.sCompanyType}checked="checked"{ / } /> Resident companies</label>
									<label><input type="radio"  name="sCompanyType" title="Partners" value="C" { ? basic.sCompanyType ==="C"}checked="checked"{ / } /> Partners</label>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>Company name <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sCompanyName" value="{basic.sCompanyName}" title="업체명" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>Name <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sManagerName" value="{basic.sManagerName}" title="담당자명" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>Department <span style="color:red">*</span></label>
								</th>
								<td>
									<input type="text" name="sDepartmentName" value="{basic.sDepartmentName}" title="부서/직급" class="input" style="width:220px" />
								</td>
								<th scope="row">
									<label>Position <span style="color:red">*</span></label>
								</th>
								<td>
									<input type="text" name="sRank" value="{basic.sRank}" title="Position" class="input" style="width:170px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>Tel <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sInternalPhone" value="{basic.sInternalPhone}" title="Tel" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>Mobile <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text"  name="sMobilePhone" value="{basic.sMobilePhone}" title="Mobile" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>E-mail <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sEmail" value="{basic.sEmail}" title="이메일" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>Contact Priority</label>
								</th>
								<td colspan="3">
									<label><input type="radio" name="nSort" title="1st" value="1" { ? basic.nSort ==="1"}checked="checked"{ / } /> 1st</label>
									<label><input type="radio" name="nSort" title="2nd" value="2" { ? basic.nSort ==="2"}checked="checked"{ / } /> 2nd</label>
									<label><input type="radio" name="nSort" title="none" value="0" { ? basic.nSort ==="0" || !basic.nSort}checked="checked"{ / } /> none</label>
								</td>
							</tr>
						</tbody>
						</table>
						<!-- //table_row -->
					</div>
					<!-- //table_wrap -->
					<p class="hx30"></p>

					<div class="button">
						{ ? mode === "write" }
						<div class="center">
							<span class="btn_pack xlarge"><a href="#" class="btn_submit">SAVE</a></span>
						</div>
						{ : mode === "modify" }
						<div class="center">
							<span class="btn_pack xlarge"><a href="#" class="btn_submit">SAVE</a></span>
							<span class="btn_pack xlarge2"><a href="/en/kinxidc/competent_proc/delete/<?=encryptIt({basic.nCompanyContactSeq});?>{url_suffix}" class="btn_delete" title="삭제">DELETE</a></span>
						</div>
						{ / }
					</div>
				</fieldset>
			</form>
			<!-- //button -->
		</div>
		<!-- //content -->
</div>
{ #layout_myfooter }