{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	
	<div id="content">
			<h3><img src="/images/my/en/h3_contact.png" width="213" height="26" alt="담당자 관리" /></h3>
			<!-- title_main -->

			<div class="guide2">
				<h5>[Guide]</h5>
				<ul>
					<li>Page to register and manage staffs in charge of IDC visit.</li>
					<li>Staff unregistered as Admin cannot apply for visit and manage equipment.</li>
					<li>Please keep an accurate record of Admin information</li>
					<li>Change and deletion of Admin information are available in the Details page.</li>
				</ul>
			</div>
			<!-- //guide -->
			<p class="hx10"></p>

			<div class="button hx30">
                                <div class="left">
                                    <input type="hidden" id="hidden_sCompanyType">
                                    <span style="line-height:16px; margin-right:10px;">Classification</span>
                                    <span class="select" style="width:100px">
                                        <select id="sCompanyType" name="sCompanyType" title="업체 구분">
                                                <option value="A" {? sCompanyType === "A"}selected="selected"{ / }>ALL</option>
                                                <option value="M" {? sCompanyType === "M"}selected="selected"{ / }>Resident companies</option>                                                
                                                <option value="C" {? sCompanyType === "C"}selected="selected"{ / }>Partners</option>
                                        </select>
                                    </span>
				</div>
				<div class="right">
					<span class="btn_pack medium2"><a href="/en/kinxidc/competent_write{url_suffix}">Add Staff</a></span>
				</div>
			</div>
			<!-- //button -->

			<div class="table">
				<table summary="Staff Management" class="table_col">
				<caption>Staff Management</caption>
				<colgroup>
					<col width="100px" /><col width="#" /><col width="90px" /><col width="#" /><col width="#" />
					<col width="#" /><col width="10%" /><col width="10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Classification</th>
						<th scope="col">Company<br> name</th>
						<th scope="col">Person-in-Charge</th>
						<th scope="col">Phone</th>
						<th scope="col">Cell phone</th>
						<th scope="col">E-mail</th>
						<th scope="col">Contact priority</th>
						<th scope="col">Detail<br> view</th>
					</tr>
				</thead>
				<tbody>
					{ @list }
					<tr>
						<td class="center">{? .sCompanyType == "M"}Resident companies{ : .sCompanyType == "C"}Partners{ / }</td>
						<td class="left">{.sCompanyName}</td>
						<td class="center">{.sManagerName}</td>
						<td class="center">{.sInternalPhone}</td>
						<td class="center">{.sMobilePhone}</td>
						<td class="left">{.sEmail}</td>
						<td class="center">
							{ ? .nSort === "0"}none
							{ : .nSort === "1"}1st
							{ : }2nd
							{ / }
						</td>
						<td><span class="btn_pack small"><a href="/en/kinxidc/competent_write/<?=encryptIt({.nCompanyContactSeq});?>{url_suffix}" class="small">view</a></span></td>
					</tr>
					{ : }
					<tr>
						<td colspan="8" class="nodata">※ There is no registered person in charge.</td>
					</tr>
					{ / }
				</tbody>
				</table>
				<div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
</div>
{ #enlayout_myfooter }