{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_server.png" width="287" height="25" alt="Equipment Management" /></h3>
		<!-- title_main -->

		<form name="workRequestForm" id="workRequestForm" method="post" action="/en/kinxidc/equipment_proc/{mode}{url_suffix}">
			{ ? mode === "modify" // 수정의 경우 히든값으로 seq를 보냅니다.}
			<input type="hidden" name="nWorkRequestSeq" value="{basic.nWorkRequestSeq}" />
			<input type="hidden" name="nContractSeq" value="{basic.nContractSeq}" />
			<input type="hidden" name="nManagerSeq" value="{basic.nManagerSeq}" />
			{ / }
			<div class="table_wrap">
				<table summary="Equipment list info" class="table_row2">
					<caption>Equipment list info</caption>
					<colgroup>
						<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="row">
								<strong><label for="#">Registrant</label></strong>
							</th>
							<td>
								<span class="select" style="width:220px">
									<select name="nManagerSeq" id="nManagerSeq" title="등록자 정보" onchange="getRegistantInfo(this.value)">
										<option value="">Select</option>
										{ @competentList }
										<option value="<?={.nCompanyContactSeq};?>"
											{ ? .nCompanyContactSeq_org == basic.nManagerSeq_org } selected="selected" { / }>
										{.sManagerName}</option>
										{ / }
									</select>
								</span>
							</td>
							<th scope="row"><strong>Status</strong></th>
							<td>{ ? basic.sResultStatus : 'Y' }Application completed{:'S'}Start the task{:'F'}Complete the task{:'C'}Cancel the task{:'X'}Remove{ / }</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">
								<label for="registant_companyName">Company name</label>
							</th>
							<td id="registant_companyName">{basic.sCompanyName}</td>
							<th scope="row">
								<label for="registant_managerName">Person-in-charge</label>
							</th>
							<td id="registant_managerName">{basic.sManagerName}</td>
						</tr>
						<tr>
							<th scope="row">
								<label for="registant_internalPhone">Phone</label>
							</th>
							<td id="registant_internalPhone">{basic.sInternalPhone}</td>
							<th scope="row">
								<label for="registant_mobilePhone">Cell phone</label>
							</th>
							<td id="registant_mobilePhone">{basic.sMobilePhone}</td>
						</tr>
					</tbody>
				</table>
				<!-- //table_row -->

				<p class="hx30"></p>

				<div class="title">
					<h4>Equipment Carrying</h4>
				</div>
				{? basic.sResultStatus === "Y" || mode === "write" }
				<!-- //title_sub -->
				<div class="title2">
					<h5>Equipment List</h5> (Select an equipment you carry out)
				</div>
					<!-- //title_sub -->
					<table id="equipmentOwnList" summary="Equipment Carrying" class="table_col2">
						<caption>Equipment Carrying</caption>
						<colgroup>
							<col width="15%" /><col width="15%" /><col width="" /><col width="10%" /><col width="12%" />
							<col width="10%" /><col width="10%" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">Brand</th>
								<th scope="col">Model</th>
								<th scope="col">Equipment name(purpose)</th>
								<th scope="col">Unit</th>
								<th scope="col">IP</th>
								<th scope="col">Remarks</th>
								<th scope="col">Carry out</th>
							</tr>
						</thead>
						<tbody>
						{ @equipmentList }
							<tr kinxrow="{ .nContractSeq }"  kinxequimentrow="{ .nCompanyEquipmentSeq }">
								<td class="left brand">{ .sBrand }</td>
								<td class="left model">{ .sModel }</td>
								<td class="left equipment">{ .sEquipmentName }</td>
								{? .nOption == 1 }
									<td class="left quantity">{ .nOption }</td>
								{ : }
									<td>{.nOption}</td>
								{/}
								<td class="ip">{ .sUseIP }</td>
								<td class="etc">{ .sEtc }</td>
								<td>
									<span class="btn_pack small"><a class="btn_input_O" href="#">Submit</a></span>
								</td>
							</tr>
						{ : }
							<tr>
								<td colspan="7" class="nodata">No equipment registered .</td>
							</tr>
						{ /}
						</tbody>
					</table>
					<!-- //table_col -->


					<div class="title2">
						<h5>Register an equipment</h5> (Select an equipment you carry in)
					</div>
					<!-- //title_sub -->
					<table id="equipmentInputList" summary="반입할 장비 등록" class="table_col2">
						<caption>Register an equipment</caption>
						<colgroup>
							<col width="15%" /><col width="15%" /><col width="" /><col width="10%" /><col width="12%" />
							<col width="10%" /><col width="10%" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">Brand</th>
								<th scope="col">Model</th>
								<th scope="col">Equipment name(purpose) <span>*</span></th>
								<th scope="col">Unit <span>*</span></th>
								<th scope="col">IP</th>
								<th scope="col">Remarks</th>
								<th scope="col">Carry in</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="center"><input type="text" style="width:80%" name="i_brand" id="i_brand" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:80%" name="i_model" id="i_model" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:80%" name="i_name" id="i_name" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:50%" name="i_quantity" id="i_quantity" class="input" value="" maxlength="2" /></td>
								<td class="center"><input type="text" style="width:70%" name="i_use_ip" id="i_useIp" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:70%" name="i_etc" id="i_etc" class="input" value="" /></td>
								<td class="center">
									<span class="btn_pack small"><a onclick="inEquipment()">Submit</a></span>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- //table_col -->
					{/}

					<div class="title2">
						<h5>Equipment List Carrying in-out</h5>
					</div>
					<!-- //title_sub -->
					<table id="equipmentIOList" summary="Equipment List Carrying in-out" class="table_col2">
						<caption>Equipment List Carrying in-out</caption>
						<colgroup>
							<col width="10%" /><col width="15%" /><col width="15%" /><col width="" /><col width="10%" />
							<col width="7%" /><col width="10%" />
							{? basic.sResultStatus === "Y" || mode === "write" }<col width="10%" />{/}
						</colgroup>
						<thead>
							<tr>
								<th scope="col">Classi-<br>fication</th>
								<th scope="col">Brand</th>
								<th scope="col">Model</th>
								<th scope="col">Equipment name(purpose)</th>
								<th scope="col">Unit</th>
								<th scope="col">IP</th>
								<th scope="col">Remarks</th>
								{? basic.sResultStatus === "Y" || mode === "write" }<th scope="col">Cancel</th>{/}
							</tr>
						</thead>
						<tbody>
							{ @ eioList }
							<tr>
								<td>{ ? .sWorkType : 'I' }<b style="color:#FF0080;">In</b>{ : 'O' }<b style="color:#008000;">Out</b>{ / }<input type="hidden" name="sWorkType[]" value="{.sWorkType}"/><input type="hidden" name="nCompanyEquipmentSeq[]" value="{.nCompanyEquipmentSeq}"/></td>
								<td>{.sBrandName}<input type="hidden" name="sBrandName[]" value="{.sBrandName}"/></td>
								<td>{.sModelName}<input type="hidden" name="sModelName[]" value="{.sModelName}"/></td>
								<td>{.sEquipmentName}<input type="hidden" name="sEquipmentName[]" value="{.sEquipmentName}"/></td>
								<td>{.nQuantity}<input type="hidden" name="nQuantity[]" value="{.nQuantity}"/></td>
								<td>{.sUseIp}<input type="hidden" name="sUseIp[]" value="{.sUseIp}"/></td>
								<td>{.sContent}<input type="hidden" name="sContent2[]" value="{.sContent}"/></td>
								{? basic.sResultStatus === "Y" || mode === "write" }
								<td><span class="btn_pack small"><a class="btn_cancel" href="#">cancel</a></span></td>
								{/}
							</tr>
							{ : }
							<tr>
								<td colspan="8" class="nodata">Please enter or select the list of carry-in&out equipments .</td>
							</tr>
							{ / }
						</tbody>
					</table>
					<!-- //table_col -->

					<p class="hx30"></p>

					<div class="title">
						<h4>Scope of Work</h4>
					</div>
					<!-- //title_sub -->
					<table summary="Scope of Work" class="table_row2">
						<caption>Scope of Work</caption>
						<colgroup>
							<col width="15%" /><col width="85%" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">
									<label for="sContent">Inquiry</label>
								</th>
								<td>
									<textarea name="sContent" id="sContent" title="요청사항" class="textarea" style="height:70px">{ basic.sContent }</textarea>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="dtExpectStartDate">Visit schedule</label>
								</th>
								<td>Date&nbsp;
									<input type="text" name="dtExpectStartDate" id="dtExpectStartDate" title="Date" class="input dateYMD" style="width:100px" value="{ basic.dtExpectStartDate }" readonly="readonly" />
									&nbsp;<input type="text" name="dtExpectStartTime" id="dtExpectStartTime" title="시간" class="input" style="width:50px" value="{ basic.dtExpectStartTime }"/>Time
									&nbsp;<span class="gray">(24-hour basis)</span>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>

			<div class="button">
				{ ? mode === "write" }
				<div class="center">
					<span class="btn_pack xlarge"><input type="submit" value="SAVE"></span>
				</div>
				{ : mode === "modify" }
				<div class="center">
					{? basic.sResultStatus === "Y" }
					<span class="btn_pack xlarge"><input type="submit" value="SAVE" /></span>
					<span class="btn_pack xlarge2"><a href="/en/kinxidc/equipment_proc/cancel/<?=encryptIt({basic.nWorkRequestSeq});?>{url_suffix}" class="js-confirm" data-msg="정말 취소하시겠습니까?">CANCEL</a></span>
					{:}
					<span class="btn_pack xlarge"><a href="/en/kinxidc/equipment" class="btn_golist">LIST</a></span>
					{/}
				</div>
				{ / }
			</div>
			<!-- //button -->
		</form>
	</div>
	<!-- //content -->
</div>

<script>
var $mode = "{mode}";
var $basic = {=json_encode(basic)};
</script>
{ #enlayout_myfooter }