{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_server.png" width="287" height="25" alt="Equipment Management" /></h3>
		<!-- title_main -->

		<div class="guide2">
			<h5>[Guide]</h5>
			<ul>
				<li>If you want to take in/out equipment, please reserve in advance. (Please note that you cannot visit the center if not reserved.)</li>
				<li>Change and deletion of the application are available in the Details page.</li>
			</ul>
		</div>
		<!-- //guide -->
		<p class="hx10"></p>

		<div class="button hx30">
			<div class="right">
				<span style="color:#aaa;font-size:1em">{chkmsg}</span>
				<span class="btn_pack medium2"><a href="{? empty(chkmsg)}/en/kinxidc/equipment_write{url_suffix}{:}#{/}">Apply</a></span>
			</div>
		</div>
		<!-- //button -->

		<div class="table">
			<table summary="Equipment list" class="table_col">
			<caption>Equipment list</caption>
			<colgroup>
				<col width="#" /><col width="30%" /><col width="#" /><col width="20%" /><col width="10%" />
				<col width="13%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">Date fo application</th>
					<th scope="col">inquiry</th>
					<th scope="col">Registrant</th>
					<th scope="col">Visit schedule</th>
					<th scope="col">Status</th>
					<th scope="col">Detail view</th>
				</tr>
			</thead>
			<tbody>
				{ @list }
				<tr>
					<td>{= date('Y-m-d', strtotime(.dtCreateDate))}</td>
					<td class="left">{ .workType }</td>
					<td>{ .sManagerName }</td>
					<td>{ ? strtotime(.dtExpectStartDate) }{= date('Y-m-d H:00', strtotime(.dtExpectStartDate))}{ / }</td>
					<td>{ ?.sResultStatus : 'Y' }Application completed{:'S'}Start the task{:'F'}Complete the task{:'C'}Cancel the task{:'X'}Remove{ / }</td>
					<td><span class="btn_pack small"><a href="/en/kinxidc/equipment_write/<?=encryptIt({.nWorkRequestSeq});?>{url_suffix}" class="small">view</a></span></td>
				</tr>
				{ : }
				<tr>
					<td colspan="6" class="nodata">※ There is no application.</td>
				</tr>
				{ / }
			</tbody>
			</table>				
			<div class="paginate">{pager}</div>
			<!-- //paginate -->
		</div>
		<!-- //table_col -->
	</div>
	<!-- //content -->
</div>
{ #enlayout_myfooter }