{ #encommon_html_header }
{ #enlayout_myheader }
<script type="text/javascript">
$(document).ready(function(){

	var $basic = {=json_encode(basic)};
	{ ? mode == "modify" }
	//getRegistantInfo({basic.nManagerSeq});
	//console.log({basic.nManagerSeq});
	//getRegistantInfo({basic.nCompanySeq});//2014-05-11 nykim modify
	//getRegistantInfobyInit({basic.nManagerSeq});//150313 주석 풀고 새로운 함수 호출.
	getRegistantInfo($basic.nManagerSeq);//210611
	$("select[name='nWorkType']").val("{topVisitor.nWorkType}");
	{ / }
});
</script>
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_visit.png" width="226" height="26" alt="Application for visit" /></h3>
		<!-- title_main -->
		<form name="workRequestForm" id="workRequestForm" method="post" action="/en/kinxidc/visitapp_proc/{mode}{url_suffix}">
			{ ? mode === "modify" // 수정의 경우 히든값으로 seq를 보냅니다.}
			<input type="hidden" name="nWorkRequestSeq" value="{basic.nWorkRequestSeq}" />
			<input type="hidden" name="nContractSeq" value="{basic.nContractSeq}" />
			<input type="hidden" name="nManagerSeq" value="{basic.nManagerSeq}" />
			{ / }
			<div class="table_wrap">
				<table summary="visit info" class="table_row2">
				<caption>visit info</caption>
				<colgroup>
					<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
				</colgroup>
				<thead>
					<tr>
					{ ? mode === "write" }
						<th scope="row">
							<strong><label for="nManagerSeq">Registrant <span style="color:red">*</span></label></strong>
						</th>
						<td>
							<span class="select" style="width:220px">
								<select name="nManagerSeq" id="nManagerSeq" title="등록자 정보" onchange="getRegistantInfo(this.value)">
									<option value="">Select</option>
									{ @competentList }
									<option value="<?=encryptIt({.nCompanyContactSeq});?>" { ? .nCompanyContactSeq == basic.nManagerSeq } selected="selected" { / }>{.sManagerName}</option>
									{ / }
								</select>
							</span>
						</td>
						<th scope="row"><strong>Status</strong></th>
						<td>{ ? basic.sResultStatus : 'Y' }Application completed{:'S'}Start the task{:'F'}Complete the task{:'C'}Cancel the task{:'X'}Remove{ / }</td>
					{ : mode === "modify" }
						<th scope="row"><strong>Status</strong></th>
						<td colspan="3">{ ? basic.sResultStatus : 'Y' }Application completed{:'S'}Start the task{:'F'}Complete the task{:'C'}Cancel the task{:'X'}Remove{ / }</td>
					{ / }
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">
							<label for="registant_companyName">Company name</label>
						</th>
						<td id="registant_companyName">{ ? mode === "modify" }{basic.sCompanyName}{ / }</td>
						<th scope="row">
							<label for="registant_managerName">Person-in-charge</label>
						</th>
						<td id="registant_managerName">{ ? mode === "modify" }{basic.sManagerName}{ / }</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="registant_internalPhone">Phone</label>
						</th>
						<td id="registant_internalPhone">{ ? mode === "modify" }{basic.sInternalPhone}{ / }</td>
						<th scope="row">
							<label for="registant_mobilePhone">Cell phone</label>
						</th>
						<td id="registant_mobilePhone">{ ? mode === "modify" }{basic.sMobilePhone}{ / }</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->
				<p class="hx30"></p>

				<div class="title">
					<h4>Select access personnel</h4>
				</div>
				<!-- //title_sub -->
				<table summary="Select access personnel" class="table_col2">
				<caption>Select access personnel</caption>
				<colgroup>
					<col width="10%" /><col width="" /><col width="15%" /><col width="12%" /><col width="12%" />
					<col width="25%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Select</th>
						<th scope="col">Company name</th>
						<th scope="col">Person-in-charge</th>
						<th scope="col">Phone</th>
						<th scope="col">Cell phone</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
				<tbody>
					{ @ competentList }
					<tr>
						<td>
							<label for="nCompanyContactSeq[]"><input type="checkbox" name="nCompanyContactSeq[]" id="nCompanyContactSeq" title="선택" value="{.nCompanyContactSeq}" { ? .checked == "Y" } checked="checked" { / } /></label>
						</td>
						<td class="left">{.sCompanyName}</td>
						<td>{.sManagerName}</td>
						<td>{.sInternalPhone}</td>
						<td>{.sMobilePhone}</td>
						<td class="left">{.sEmail}</td>
					</tr>
					{ : }
					<tr>
						<td colspan="6" class="nodata">※ There is no registered person in charge.</td>
					</tr>
					{ / }
				</tbody>
				</table>
				<!-- //table_col -->
				<p class="hx30"></p>

				<div class="title">
					<h4>Scope of Work</h4>
				</div>
				<!-- //title_sub -->
				<table summary="Scope of Work" class="table_row2">
				<caption>Scope of Work</caption>
				<colgroup>
					<col width="15%" /><col width="85%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="sIDC">Location to visit <span style="color:red">*</span></label>
						</th>
						<td>
							<span class="select" style="width:220px">
								<select name="sIDC" id="sIDC" title="방문위치">
									<option value="" selected="selected">Select Location</option>
									{ @ idcList }
									<option value="{.sCode}" { ? basic.sIDC == .sCode } selected="selected" { / }>{ .sCodeName }</option>
									{ / }
								</select>
							</span>
							<span>
								<input type="text" name="sFloor" id="sFloor" title="층" class="input" style="width:50px" value="{basic.sFloor}" />F
							</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="nWorkType">Reson for access <span style="color:red">*</span></label>
						</th>
						<td>
							<span class="select" style="width:220px">
								<select name="nWorkType" id="nWorkType" title="방문목적">
									<option value="" selected="selected">Select reason for access</option>
									{ @ workTypeList }
									<option value="{.sCode}" { ? topVisitor.nWorkType == .sCode } selected="selected" { / }>{ .sCodeName }</option>
									{ / }
								</select>
							</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="sContent">Work to be performed <span style="color:red">*</span></label>
						</th>
						<td>
							<textarea name="sContent" id="sContent" title="작업내용" class="textarea" style="height:70px">{ basic.sContent }</textarea>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="dtExpectStartDate">Visit schedule <span style="color:red">*</span></label>
						</th>
						<td>Date&nbsp;
							<input type="text" name="dtExpectStartDate" id="dtExpectStartDate" title="Date" class="input dateYMDStart" style="width:100px" value="{basic.dtExpectStartDate}" readonly="readonly"/>
							&nbsp;<input type="text" name="dtExpectStartTime" id="dtExpectStartTime" title="시간" class="input" style="width:50px" maxlength="2" value="{basic.dtExpectStartTime}" />Time
							&nbsp;<span class="gray">(24-hour basis)</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="dtExpectEndDate">Finish/Complete schedule <span style="color:red">*</span></label>
						</th>
						<td>Date&nbsp;
							<input type="text" name="dtExpectEndDate" id="dtExpectEndDate" title="Date" class="input dateYMDEnd" style="width:100px" value="{basic.dtExpectEndDate}" readonly="readonly"/>
							&nbsp;<input type="text" name="dtExpectEndTime" id="dtExpectEndTime" title="시간" class="input" style="width:50px" maxlength="2" value="{basic.dtExpectEndTime}" />Time
							&nbsp;<span class="gray">(24-hour basis)</span>
						</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>

			<div class="button">
				{ ? mode === "write" }
				<div class="center">
					<span class="btn_pack xlarge"><a href="#" class="btn_submit">SAVE</a></span>
				</div>
				{ : mode === "modify" }
				<div class="center">
					{? basic.sResultStatus === "Y" }
					<span class="btn_pack xlarge"><a href="#" class="btn_submit">SAVE</a></span>
					<span class="btn_pack xlarge2"><a href="/en/kinxidc/visitapp_proc/cancel/<?=encryptIt({basic.nWorkRequestSeq});?>{url_suffix}" class="btn_delete" title="취소">CANCEL</a></span>
					{:}
					<span class="btn_pack xlarge"><a href="/en/kinxidc/visitapp" class="btn_golist">LIST</a></span>
					{/}
				</div>
				{ / }
			</div>
			<!-- //button -->
		</form>
	</div>
</div>
{ #enlayout_myfooter }