{ #encommon_html_header }
{ #enlayout_myheader }
<div id="container">
	{ #enmenu_my }
	<div id="content">
		<h3><img src="/images/my/en/h3_visit.png" width="226" height="26" alt="Application for visit" /></h3>
		<!-- title_main -->

		<div class="guide2">
			<h5>[Guide]</h5>
			<ul>
				<li>If you want to visit IDC, please apply for visit in advance.</li>
				<li>This is a page to register and manage the application for IDC visit.</li>
				<li>Staff unregistered as Admin cannot apply for visit, so please register as Admin first.</li>
				<li>Change and deletion of the application for visit are available in the Details page.</li>
			</ul>
		</div>
		<!-- //guide -->
		<p class="hx10"></p>

		<div class="button hx30">
			<div class="right">
				<span style="color:#aaa;font-size:1em">{chkmsg}</span>
				<span class="btn_pack medium2"><a href="{? empty(chkmsg)}/en/kinxidc/visitapp_write{url_suffix}{:}#{/}">Apply</a></span>
			</div>
		</div>
		<!-- //button -->

		<div class="table">
			<table summary="visit list" class="table_col">
			<caption>visit list</caption>
			<colgroup>
				<col width="#" /><col width="27%" /><col width="#" /><col width="20%" /><col width="10%" />
				<col width="13%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">Date of application</th>
					<th scope="col">Reason for access</th>
					<th scope="col">Visitor</th>
					<th scope="col">Visit schedule</th>
					<th scope="col">Status</th>
					<th scope="col">Detail view</th>
				</tr>
			</thead>
			<tbody>
				{ @list }
				<tr>
<!--					<td>2013년 12월 12일</td>-->
					<td>{= date('Y-m-d', strtotime(.dtCreateDate))}</td>
					<td class="left">{ .sWorkType }</td>
					<td>{.sTopVisitorName}{ ? .nCntVisitor > 1 } et al. ({.nCntVisitor-1} persons){ / }</td>
					<td>{ ? strtotime(.dtExpectStartDate) }{= date('Y-m-d H:00', strtotime(.dtExpectStartDate))}{ / }</td>
					<td>{ .sStatus }</td>
					<td><span class="btn_pack small"><a href="/en/kinxidc/visitapp_write/<?=encryptIt({.nWorkRequestSeq});?>{url_suffix}" class="small">view</a></span></td>
				</tr>
				{ : }
				<tr>
					<td colspan="6" class="nodata">※ There is no application.</td>
				</tr>
				{ / }
			</tbody>
			</table>
			<div class="paginate">{pager}</div>
			<!-- //paginate -->
		</div>
		<!-- //table_col -->
	</div>
	<!-- //content -->
</div>
{ #enlayout_myfooter }