{ #common_html_header }

<div id="wrap_login" >
    <div class="header-container">
        <nav class="navbar navbar-static-top nav-header-1200" role="navigation">
            <div class="navbar-header">
                            <span><a href="https://www.kinx.net/" target="_blank"><img src="/images/login/kinx_ci.png"></a></span>
                            <span><img src="/images/login/kinx_fullname.png"></span>

            </div>
            <ul class="nav navbar-top-links ">
                <a href="http://kpf.kinx.net/" target="_blank"><span style="font-size:12px;color:#ff620c;">KINX Peering Forum</span> </a>
                <span style="font-size:12px;color:#898989;"> | </span>
                <a href="http://company.kinx.net/" target="_blank"><span style="font-size:12px;color:#363636;">Company</span></a>
                <span style="font-size:12px;color:#898989;"> | </span>
                <a href="/en"><span style="font-size:12px;color:#363636;">English</span></a>
            </ul>
        </nav>
    </div>
    <!-- 헤더 끝 -->
    <div class="middle-box text-center loginscreen animated fadeInDown">
            <div class="my_logo"><img src="/images/login/logo_mykinx.png"></div>
            <div class="basic_size">
                <!-- start -->
                <form class="m-t-none" role="form"   name="loginForm" method="post" action="/auth/sign_in{url_suffix}">
                    <div style="margin:0 auto; width:300px; text-align:center;">
                        <span class="login_font_1">My KINX</span><span class="login_font_2">&nbsp;로그인<small>.</small></span>
                    </div>
                    <div class="form-group m-b-10 m-t-30">
                            <input type="text" class="form-control form_label_size" placeholder="  아이디"  style="width: 290px;height:40px;padding-left:10px;" name="sMemberId"  value="{ saveid }">
                    </div>
                    <div class="form-group m-b-15">
                            <input type="password"  class="form-control form_label_size" style="width: 290px;height:40px;padding-left:10px;"  placeholder="  비밀번호"  name="sPassword"  >
                    </div>
                    <div class="form-group m-b-15">
                        {? saveid == null }
                        <input type="checkbox" name="saveid" id="saveid">
                        {:}
                                <input type="checkbox" name="saveid" id="saveid" checked="checked">
                        {/}
                        <span class="login_font_3">아이디 저장</span>
                        <a href="/auth/findidpw"><span class="login_font_3" style="float:right;">아이디/비밀번호 찾기</span></a>
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b-15 submit_btn login_font_5" style="background-color:#ff620c;border-color:#ff620c; cursor:pointer;">로그인</button>
                    <p class="login_font_4">서비스 이용자만 로그인 할 수 있습니다</p>

                    <div class="m-b-15" style="border-bottom: 1px solid #d7d7d7; position: relative; width: 360px;right: 30px;"></div>

                    <p class="login_label2">* 이용 문의 : 02.526.0900(내선 1번) / <a href="mailto:sales@kinx.net" target="_top" onclick="gtag('event', 'click', {'event_category': '메일문의', 'event_label': 'sales@kinx.net'});">sales@kinx.net</a></p>
                    <p class="login_label2">* 24시간 기술 지원: 02.526.090(내선 2번)</p>
                </form>
                <!-- end -->
            </div><!--end basic_size -->
    </div><!-- end middle box -->


    <div class="footer-container" style="background-color: #242424;">
        <nav class="navbar navbar-static-bottom nav-footer-1200" role="navigation">
                <div class="float-right" style="float: right!important; text-align:right;">
                                <span style="font-size:13px;color:#898989;">©KINX Inc. All Rights Reserved.</span>
                </div>
                <div>
                        <span style="font-size:13px;color:#898989;padding-right:10px;">(주)케이아이엔엑스</span>
                        <span style="font-size:12px;color:#898989;padding-right:10px;">Korea Internet Neutral Exchange</span>
                        <a href="https://www.kinx.net/agreements/agreements/agreement01/" target="_blank"><span style="font-size:13px;color:#ffffff;padding-right:10px;">이용약관</span></a>
                        <span style="font-size:12px;color:#898989;padding-right:10px;"> | </span>
                        <a href="https://www.kinx.net/agreements/agreements-3/" target="_blank"><span style="font-size:13px;color:#ffffff;padding-right:10px;">개인정보처리방침</span></a>
                </div>
        </nav>
</div>
</div><!-- end wrap-->
<!-- #layout_myfooter -->