{ #common_html_header }

<div id="wrap_login">
<div id="container">
    <div id="new_login">
        <div class="lgn_title"><img src="/images/my/login_title.png"></div>
        <form name="loginForm" method="post" action="/auth/sign_in{url_suffix}">
            <div class="lgn_etc">
            	<div class="lgn_txt1">일반계정</div>
            	<div class="lgn_txt2">IX, IDC, CDN 서비스 정보관리를 할 수 있습니다.</div>
            	<div class="lgn_box">
                	<div class="lgn_id bold">아이디</div>
                	<div class="lgn_pw bold">패스워드</div>
                	<div class="lgn_input1"><input type="text" name="sMemberId" placeholder="아이디" title="아이디" class="input" style="width:140px" value="{ saveid }"  /></div>
                	<div class="lgn_input2"><input type="password" name="sPassword"  placeholder="비밀번호" title="비밀번호" class="input" style="width:140px" /></div>
                	<div class="lgn_btn"><input type="image" src="/images/my/btn_login2.gif" width="56" height="56" alt="로그인" /></div>
                </div>
            	<div class="lgn_chk">
            		{? saveid == null }
            			<input type="checkbox" name="saveid" id="saveid">
            		{:}
            			<input type="checkbox" name="saveid" id="saveid" checked="checked">
            		{/}
            		<span class="lgn_txt3">아이디 저장</span>
            	</div>
            	<div class="lgn_find"><span class="lgn_txt3"><a href="/auth/findidpw">아이디/비밀번호 찾기</a></span></div>
            </div><!-- end lgn_etc -->
        </form>
        <form name="cloud_login" method="post" action="/auth/sign_in_cloud{url_suffix}">
            <div class="lgn_cloud">
            	<div class="lgn_txt1">클라우드 계정</div>
                <div class="cloud_login_section">
                {? cloud_user == null }
                    <div class="cloud_login_section_form">
                    	<div class="lgn_txt2">클라우드 서비스 정보관리와 대시보드에 접근할 수 있습니다.</div>
                    	<div class="lgn_box">
                            <p class="error_place" style="margin-top:10px;"></p>
                        	<div class="lgn_id bold">아이디</div>
                        	<div class="lgn_pw bold">패스워드</div>
                        	<div class="lgn_input1"><input type="text" name="userid" placeholder="아이디" title="아이디" class="input" style="width:140px" value="{saved_cloud_id}"/></div>
                        	<div class="lgn_input2"><input type="password" name="password"  placeholder="비밀번호" title="비밀번호" class="input" style="width:140px" value=""/></div>
                        	<div class="lgn_btn"><input type="image" src="/images/my/btn_login2.gif" width="56" height="56" alt="로그인" /></div>
                        </div>
                    	<div class="lgn_chk">
                            <input type="checkbox" id="save_cloud_id" {?saved_cloud_id} checked {/}>
                            <label class="lgn_txt3" for="save_cloud_id" style="cursor:pointer;">아이디 저장</label>
                        </div>
                    	<div class="lgn_find">
                            <span class="lgn_txt3">
                                <a role="button" onclick="ixcAccount.findpwd();" style="cursor:pointer;">비밀번호 찾기</a> &nbsp;|&nbsp;
                                <a role="button" onclick="ixcAccount.join();" style="cursor:pointer;">클라우드 회원가입</a>
                            </span>
                        </div>
                    </div>
                {:}
                    <div class="cloud_login_section_signed">
                        <div class="lgn_txt2">&nbsp;</div>
                        <div class="lgn_box">
                            <div class="lgn_txt4 mt40"><span class="bold">{cloud_user}</span> 로 로그인 하였습니다.</div>
                            <div class="lgn_txt2"><a href="/auth/sign_out_cloud{url_suffix}"><img src="/images/my/btn_logout2.gif"></a></div>
                        </div>
                    </div>
                {/}
                </div>
            </div><!-- end lgn_cloud -->
        </form>
        <form name="grizzly_auth" method="post">
            <input type="hidden" name="key"/>
            <input type="hidden" name="next" value="dashboard/project"/>
        </form>
        <form name="juno_auth" method="post">
            <input type="hidden" name="key"/>
        </form>
        <div id="id_modal_cloud_grizzly_auth">
            클라우드 관리 콘솔을 여시겠습니까?
            <div class="btn_box" style="margin-top:30px;text-align:center;">
                <span class="btn_pack xlarge">
                    <button name="btn_grizzly_dashboard" style="cursor:pointer">열기</button>
                </span>
            </div>
        </div>
        <div id="id_modal_cloud_juno_auth">
            클라우드 관리 페이지를 여시겠습니까?
            <div class="btn_box" style="margin-top:30px;text-align:center;">
                <span class="btn_pack xlarge">
                    <button name="btn_myixcloud_manage" style="cursor:pointer">열기</button>
                </span>
            </div>
        </div>
        <div id="id_modal_cloud_all_auth" autofocus>
            <p>고객님은 두 가지 버전의 클라우드 서비스를 사용 중입니다.<br/>아래에서 로그인 할 서비스를 선택해 주세요.</p>
            <table class="table_col" style="margin:15px 0;">
                <colgroup>
                    <col style="width:30%">
                    <col style="width:40%">
                    <col style="width:30%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">서비스 구분</th>
                        <th scope="col">사용중인 프로젝트 명</th>
                        <th scope="col">접속</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>IxcloudG</td>
                        <td id="id_ixc_g_project_desc"></td>
                        <td><button name="btn_grizzly_dashboard" class="btn btn-sm" style="background-image:none;width:120px;">관리콘솔 접속</button></td>
                    </tr>
                    <tr>
                        <td>IxcloudJ/K</td>
                        <td id="id_ixc_j_project_desc"></td>
                        <td><button name="btn_myixcloud_manage" class="btn btn-sm" style="background-image:none;width:120px;">관리페이지 접속</button></td>
                    </tr>
                </tbody>
            </table>
            <p>문의 사항이 있으면 02-526-0900(1번)으로 연락바랍니다.</p>
        </div>

    </div>

</div>
<!-- //container -->


{ #layout_myfooter }
