{commone_header}

                            <div class="form-group" style="padding:0 15px">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-3">Category</th>
                                            <th class="col-sm-2">Classfication</th>
                                            <th class="col-sm-7">Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th rowspan="2">Demarcation Point</th>
                                            <th>Rack #</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input01"></td>
                                        </tr>
                                        <tr>
                                            <th>Port</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input02"></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="3">Cable / Transceiver Type</th>
                                            <th>Optic or UTP</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input03"></td>
                                        </tr>
                                        <tr>
                                            <th>Single or multi</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input04"></td>
                                        </tr>
                                        <tr>
                                            <th>LC or SC</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input05"></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="3">Contact Information(Tech)</th>
                                            <th>Technician name</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input06"></td>
                                        </tr>
                                        <tr>
                                            <th>Technician email</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input07"></td>
                                        </tr>
                                        <tr>
                                            <th>Technician direct number</th>
                                            <td><input type="text" class="form-control input-sm" name="cc_input08"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

{commone_footer}