{commone_header}

                            <div class="form-group" style="padding:0 15px">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2">Category</th>
                                            <th class="col-sm-3">Classfication</th>
                                            <th class="col-sm-7">Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="2">Available schedule (Date/hour)</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input01"></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="4">Visitor<br/>information 1</th>
                                            <th>Name</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input02"></td>
                                        </tr>
                                        <tr>
                                            <th>Date of birth</th>
                                            <td><input type="text" class="form-control input-sm"  name="dt_input03" placeholder="(yyyy-mm-dd)"></td>
                                        </tr>
                                        <tr>
                                            <th>Mobile number</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input04"></td>
                                        </tr>
                                        <tr>
                                            <th>Passport number *</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input05"></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="4">Visitor<br/>information 2</th>
                                            <th>Name</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input06"></td>
                                        </tr>
                                        <tr>
                                            <th>Date of birth</th>
                                            <td><input type="text" class="form-control input-sm"  name="dt_input07" placeholder="(yyyy-mm-dd)"></td>
                                        </tr>
                                        <tr>
                                            <th>Mobile number</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input08"></td>
                                        </tr>
                                        <tr>
                                            <th>Passport number *</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input09"></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="4">Visitor<br/>information 3</th>
                                            <th>Name</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input10"></td>
                                        </tr>
                                        <tr>
                                            <th>Date of birth</th>
                                            <td><input type="text" class="form-control input-sm"  name="dt_input11" placeholder="(yyyy-mm-dd)"></td>
                                        </tr>
                                        <tr>
                                            <th>Mobile number</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input12"></td>
                                        </tr>
                                        <tr>
                                            <th>Passport number *</th>
                                            <td><input type="text" class="form-control input-sm" name="dt_input13"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="jusuk">* For non-Korean visitors</div>
                            </div>

{commone_footer}