{commone_header}

                            <div class="form-group" style="padding:0 15px">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2">Category</th>
                                            <th class="col-sm-3">Classfication</th>
                                            <th class="col-sm-7">Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th rowspan="3">Rack</th>
                                            <th>Qty of racks</th>
                                            <td><input type="text" class="form-control input-sm" name="ts_input01"></td>
                                        </tr>
                                        <tr>
                                            <th>size</th>
                                            <td><input type="text" class="form-control input-sm" name="ts_input02"></td>
                                        </tr>
                                        <tr>
                                            <th>Power supply per rack</th>
                                            <td><input type="text" class="form-control input-sm" name="ts_input03"></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2">power</th>
                                            <th>Total power</th>
                                            <td><input type="text" class="form-control input-sm" name="ts_input04"></td>
                                        </tr>
                                        <tr>
                                            <th>Electric power supply method</th>
                                            <td><input type="text" class="form-control input-sm"  name="ts_input05" placeholder="(example single or 3 phase, ~Voltage, ~Ampere)"></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2">option</th>
                                            <th>UPS redundancy option</th>
                                            <td><input type="text" class="form-control input-sm" name="ts_input06"></td>
                                        </tr>
                                        <tr>
                                            <th>Carrier-neutral option</th>
                                            <td><input type="text" class="form-control input-sm" name="ts_input07"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Other requirements</th>
                                            <td><input type="text" class="form-control input-sm" name="ts_input08"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


{commone_footer}