﻿@charset "utf-8";

body,p,img,a,ul,li{ border:none; margin:0; padding:0; text-align:left; font-family:Malgun Gothic; font-size:14px; color:#333;}
body {overflow-x:hidden;}
a{ text-decoration:none }
a:hover,a:active,a:focus{ text-decoration:underline }
input, textarea, select {margin:0; padding:0; outline:0 none; border:0; resize:none; vertical-align:middle; font-family:Malgun Gothic; }
table { border-collapse:collapse; }
table td {word-wrap:break-word}
ul,ol,ul  {list-style:none; padding:0}

.b {font-weight:bold;}
.vam {vertical-align:middle !important;}

.p_t10 {padding-top:10px; clear:both;}
.p_t20 {padding-top:20px; clear:both;}
.p_t30 {padding-top:30px; clear:both;}
.p_t40 {padding-top:40px; clear:both;}
.p_t70 {padding-top:70px; clear:both;}

.mt30 {margin-top:30px; clear:both;}
.m_t50 {margin-top:50px; clear:both;}
.mt70 {margin-top:70px; clear:both;}

.f_05a3e0 {color:#05a3e0;}
.f_333 {color:#333;}

.info {color:#333; font-size:18px; line-height:38px;}

/* 기본링크값 시작 ------------------------------------------------------*/
a { text-decoration:none; color:#333;}
a:link {}
a:visited {}
a:hover { text-decoration:underline; color:#05a3e0;}
/* 기본링크값 끝 ------------------------------------------------------*/


/* 서브기본 */
h1 {font-weight:normal; font-size:14px; margin:0; padding:0; line-height:24px;}
h2 {font-weight:normal; font-size:16px; color:#585f6d; margin:0; padding:0; line-height:30px;}
h3 {font-weight:normal; font-size:20px; margin:0; padding:0;}
h4 {font-weight:normal; font-size:30px; color:#000; margin:0; padding:0;}
h5 {font-weight:normal; font-size:34px; color:#000; margin:0; padding:0;}
h6 {font-weight:normal; font-size:24px; color:#666; margin:0; padding:0;}


#topbg {margin:0 auto; width:100%; height:800px; background:#000;}
#top {margin:0 auto;background:url('../images/mirantis2015/main.jpg') no-repeat center center; width:1400px; height:800px;}
#gnb {margin:0 auto; width:974px; height:70px; }

#top_topmenu {margin:0 auto; width:974px; height:70px;}
.gnb_menu { float:left; width:657px; height:70px;}
.gnb_menu span { font-size:18px; font-weight:bold; color:#fff; line-height:70px; margin-right:50px;}
.gnb_menu a {color:#fff;}
.gnb_sales { float:left; width:317px; height:70px; text-align:center; }
.gnb_sales span { font-size:14px; color:#ffffff; line-height:77px;}
.gnb_sales a {color:#fff;}
.gnb_sales a:hover {color:#98f00c; text-decoration:underline;}

#top .title {margin:0 auto; width:974px; height:643px;  padding-top:127px; }
#top .title span { font-size:50px; font-weight:bold; color:#fff; line-height:60px;}

#center {margin:0 auto; width:974px; background:#fff;}

.reza {float:left; color:#585f6d; font-size:16px; line-height:30px; padding-top:30px; padding-bottom:50px;}
.reza span {color:#05a3e0; font-weight:bold;}

.view {width:974px;}
.view ul {padding-top:20px;}
.view ul li.text p {font-size:14px; line-height:24px; padding:30px 0;}
 
.view ul li.blue {float:left; width:300px; height:150px; background:#05a3e0; text-align:center;  margin-right:37px;}
.view ul li.blue p {margin:0 auto; text-align:center; color:#fff; font-size:14px; line-height:24px;}
.view ul li.blue p.tit {text-align:center; color:#fff; font-size:24px; font-weight:bold; line-height:28px; padding:18px 0 10px 0;}

.view ul li.orange {float:left; width:300px; height:150px; background:#ff8500;  text-align:center; margin-right:37px;}
.view ul li.orange p {margin:0 auto; text-align:center; color:#fff; font-size:14px; line-height:24px;}
.view ul li.orange p.tit {text-align:center; color:#fff; font-size:24px; font-weight:bold; line-height:28px; padding:18px 0 37px 0;}

.view ul li.green {float:left; width:300px; height:150px; text-align:center; background:#5dc402; }
.view ul li.green p {margin:0 auto; text-align:center; color:#fff; font-size:14px; line-height:24px;}
.view ul li.green p.tit {text-align:center; color:#fff; font-size:24px; font-weight:bold; line-height:28px; padding:18px 0 10px 0;}

.list_bar {height:1px; background:#ccc; clear:both;}

.btop_btn {float:left; width:175px; padding:40px 0 0 0; } /* 교육등록 */

/* 버튼창 */
.button {float:left; width:100%;}
.btn_pack, .btn_pack *, .btn_pack a {display:inline-block; overflow:visible;  margin-right:-2px; border:0; color:#fff; text-decoration:none !important; vertical-align:top; white-space:nowrap;}
.btn_pack * {left:4px; cursor:pointer; _cursor:hand;}

.btn_pack.blue * {padding:5px 45px 0 45px; height:47px; line-height:36px; font-size:20px; font-weight:normal;  background:#0084ff;}

.btn_pack.green * {padding:5px 46px 0 45px; height:47px; line-height:36px; font-size:20px; background:#5dc402;}
.btn_pack.green_off * {padding:5px 46px 0 45px; height:47px; line-height:36px; font-size:20px; background:#aaa;}

.btn_pack.gray * {padding:5px 58px 0 59px; height:47px; line-height:36px; font-size:20px; background:#5dc402;}
.btn_pack.gray_off * {padding:5px 58px 0 59px; height:47px; line-height:36px; font-size:20px; background:#aaa;}


.btn_pack.gray1 * {padding:5px 10px 0 10px; height:47px; line-height:36px; font-size:20px; background:#5dc402; letter-spacing:-1px;}
.btn_pack.gray1_off * {padding:5px 10px 0 10px; height:47px; line-height:36px; font-size:20px; background:#aaa; letter-spacing:-1px;}

.btn_pack.gray2 * {padding:5px 69px 0 69px; height:47px; line-height:36px; font-size:20px; background:#5dc402;}
.btn_pack.gray2_off * {padding:5px 69px 0 69px; height:47px; line-height:36px; font-size:20px; background:#aaa;}

.btn_pack.black * {padding:0 20px 0 20px; height:42px; line-height:36px; font-size:18px; background:#303030;}

.btn_pack.line * {padding:0 15px 0 15px; height:25px; line-height:22px; font-size:14px; color:#262626; background:#fff; border:1px solid #8e8e8e;}

/* 테이블 */
.table_row1 {width:100%;}
.table_row1 td {padding:30px 0; font-size:14px; line-height:20px; vertical-align:top;}

.table_row1 td span {font-size:30px;  line-height:28px;}

.table_row1 td.top_bar {margin:0; padding:0; height:2px; background:#05a3e0; clear:both; }
.table_row1 td.list_bar {margin:0; padding:0; height:1px; background:#ccc; clear:both; }

.top_bar {height:2px; background:#05a3e0;}


/* footer */
#footer {float:left; width:100%; height:50px; margin-top:80px; clear:both;}
#copy {margin:0 auto; width:100%; height:50px; background:#2c3840;  clear:both;}
#copy p {margin:0 auto; width:974px; font-size:12px; color:#fff; text-align:center; padding-top:20px;}