@charset "utf-8";
@import url('./jquery-1.10.3.css');

/*
Author: GABIA
Author URL: http://www.gabia.com
Creation Date : 2013-11-22
Modify Date : 2013-11-22
*/

/* 초기화 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block}
*, body, div, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, select, textarea, button {margin:0; padding:0}
*, body, input, textarea, select, button, table {font-family:'dotum', 'gulim', 'Arial', sans-serif; font-size:12px; color:#666}
input, select, textarea, button {border:0; outline:0 none; resize:none; vertical-align:middle}
img, fieldset {border:0; vertical-align:middle}
html {overflow-y:auto}
ul, ol {list-style:none}
em, address {font-style:normal}
legend {display:none}
table {width:100%; border-collapse:collapse; border-spacing:0}
caption {visibility:hidden; width:0px; height:0px; overflow:hidden; font-size:0; line-height:0}
th {text-align:left}
a {color:#666; text-decoration:none}
a:hover, a:active, a:focus {color:#03487d; text-decoration:underline}
/*a:hover, input:hover, button:hover, textarea:hover {outline:3px solid #d7f07f} */
iframe {border:0}
hr {display:none}

/* 레이아웃 */
#wrap {text-align:center; vertical-align:top; min-width:982px; zoom:1}
#container {position:relative; width:980px; margin:0 auto; text-align:left; display:inline-block; min-height:650px; }
#container aside {float:left; width:174px; vertical-align:top}
#content {float:right; position:relative; width:755px; padding:29px 0 50px 0; line-height:18px; vertical-align:top; color:#666}
header nav {background:#181818; position:relative; width:980px; height:41px; margin:0 auto; text-align:left; line-height:41px; z-index:1; display:inline-block; /* *zoom:1 */}
/* header nav:after {display:block; clear:both; content:''} */
header nav h1, header nav .lnb, header nav .lnb li, header nav .gnb, header nav .gnb li {float:left}
header nav h1 {padding-right:66px; *padding-top:8px}
header nav .lnb li {padding-right:44px}
header nav .gnb {background:#006cbe; position:absolute; right:0; width:245px; height:41px}
header nav .gnb li {padding-right:19px}
header nav .gnb li.first {padding-left:28px}
header .bar {background:#006cbe; position:absolute; top:54px; right:0; height:41px; width:50%}
header {background:#181818; position:relative; padding-top:54px; height:42px}
footer {background:#f1f1f1; height:98px}
footer nav, footer .address {position:relative; width:980px; margin:0 auto; text-align:left}
footer li {display:inline; height:39px; line-height:39px; letter-spacing:-0.06em; padding-right:18px}
footer li a:link {color:#535353}
footer li a.strong {color:#03487d}
footer address {border-top:1px solid #d0d0d0; padding-top:12px}
footer .address {color:#686868; font-size:11px; line-height:17px;}
footer .address span {color:#b4b4b4; font-size:11px; line-height:17px; padding:0 5px}
footer .address span.cs {color:#4a4949; padding:0 10px 0 0}

/* 기본 */
.cursor {cursor:pointer; _cursor:hand}
.bold {font-weight:bold}
.normal {font-weight:normal}
.small {font-size:11px}
.f_left {float:left}
.f_right {float:right}
.f_clear {clear:both}
.t_left {text-align:left}
.t_center {text-align:center}
.t_right {text-align:right}
.hx5 {height:5px}
.hx10 {height:10px}
.hx15 {height:15px}
.hx20 {height:20px}
.hx25 {height:25px}
.hx30 {height:30px}
.hx35 {height:35px}
.hx40 {height:40px}
.hx45 {height:45px}
.hx50 {height:50px}
.blind {visibility:hidden; position:absolute; top:0; left:0; width:1px; height:1px; overflow:hidden; font-size:0; line-height:0}
.cp_blind {visibility:hidden; width:0; height:0; margin:0; padding:0; overflow:hidden; border:0; font-size:0; line-height:0}

/* 스킵 네비 */
.skip {position:absolute; z-index:1000; top:0; left:0; width:1px; height:1px; margin:0 -1px -1px 0; padding:0; overflow:hidden; font-size:0; line-height:0}
.skip:hover, .skip:active, .skip:focus {display:block; width:100%; height:30px; margin:0; background:#f1f1f1; color:#333; font-size:12px; font-weight:bold; text-decoration:none !important; line-height:30px; text-indent:10px}

/* 메인 */
.main_wrap {background:#181818}
.main_visual {position:relative; height:519px}
.main_visual img {position:absolute; left:50%; width:1015px; margin-left:-525px}
.main_nav {background:#c5c5c5; border-top:1px solid #fff; border-bottom:1px solid #fff}
.main_nav ul {background:#fff; position:relative; width:982px; margin:0 auto; text-align:left; *zoom:1}
.main_nav ul:after {display:block; clear:both; content:''}
.main_nav li {float:left; padding-left:1px}

/* 로케이션 */
.location {background:#fbfbfb; height:37px; line-height:37px; border-bottom:1px solid #dfdfdf}
.location ul {position:relative; width:980px; margin:0 auto; text-align:right}
.location li {display:inline; background:url('../images/include/ico_location_arrow.gif') no-repeat left 1px; padding:0 5px 0 12px; color:#4d4d4d}
.location li.first {background:url('')}
.location li.last {padding-right:20px}
.location li a {color:#4d4d4d}

/* 로그인 */

/* 사이드 */
aside h2 {padding:29px 0 23px 3px}
aside nav {border-top:2px solid #666; border-bottom:1px solid #b4b4b4}
aside nav .sub > li {border-bottom:1px solid #d3d3d3; line-height:49px; }	
aside nav .sub > li > a {display:block; height:49px; line-height:52px; padding-left:9px; font-weight:bold; color:#323232; text-decoration:none; background:url('../images/include/bu_aside1.gif') no-repeat 147px 16px}
aside nav .sub > li > a.active {color:#0d77c1; background:url('../images/include/bu_aside1_on.gif') no-repeat 147px 16px}
aside nav .sub2 {border-top:1px solid #e9e9e9; padding:12px 0 8px 0}
aside nav .sub2 > li {line-height:25px;}
aside nav .sub2 > li > a {display:block; padding-left:9px; height:25px; line-height:25px; color:#666; text-decoration:none; background:url('')}
aside nav .sub2 > li > a.active {background:url('../images/include/bu_aside2.gif') no-repeat 154px 9px; font-weight:bold; color:#333}

/* 타이틀 */
h3 {padding:0 0 23px 3px}

/* 검색 박스 */
.search_box {border-top:2px solid #575757}
.search_box dl {width:100%; border-bottom:1px solid #e7e7e7; *zoom:1}
.search_box dl:after {display:block; clear:both; content:''}
.search_box dl.none {border-bottom:1px solid #a3a3a3}
.search_box dt {float:left; width:13%; height:43px; line-height:43px; background:#fafafa url('../images/include/bg_table_td2.gif') repeat-y left; padding-left:15px; font-weight:bold; color:#666}
.search_box dt:first-child {background:#fafafa url('') no-repeat}
.search_box dd {float:left; width:37%; background:url('../images/include/bg_table_td2.gif') repeat-y left; padding:9px 0 9px 10px; vertical-align:bottom}
.search_box dd.full {width:80%}
.search_box dd .btn {margin:-2px 0 -2px 10px}

/* 탭메뉴 */
.tab_menu {height:34px; border-bottom:2px solid #a3a3a3; *zoom:1}
.tab_menu:after {content:''; display:block; clear:both}
.tab_menu li {float:left; height:33px; border-top:1px solid #c1c0c1; border-right:1px solid #c0bebf; border-bottom:1px solid #a3a3a3; border-left:1px solid #c0bebf; background:url('../images/include/bg_tab.gif') repeat-x; width:110px; text-align:center;  margin-left:-1px}
.tab_menu li:first-child {margin:0}
.tab_menu li a {display:block; height:24px; padding-top:10px; font-weight:bold; color:#999; text-decoration:none}
.tab_menu li a:hover {color:#555}
.tab_menu .active {border-top:1px solid #276e9c; border-right:1px solid #276e9c; border-bottom:2px solid #276e9c; border-left:1px solid #276e9c; background:#2290db; color:#fff; position:relative; z-index:1}
.tab_menu .active a, .tab_menu .active a:hover {font-weight:bold; color:#fff}

/* 폼컨트롤 */
.input {display:inline-block; margin-right:3px; border:1px solid #ccc; background:#fff; height:23px; line-height:23px; padding-left:8px; color:#666}
.input:focus {border:1px solid #666; background:#fff}

.select {display:inline-block; margin-right:3px; border:1px solid #ccc; background:#fff; height:23px; line-height:23px; padding:0 4px; color:#666}
.select:focus {border:1px solid #666; background:#fff}
.select select {width:100%; border:1px solid #fff; background:transparent}

.textarea {width:96%; display:inline-block; border:1px solid #ccc; background:#fff; padding:8px}
.textarea:focus {border:1px solid #666; background:#fff}

.ico_date {display:inline-block; width:13px; height:13px; background:url('../images/include/ico_date.gif') no-repeat; margin:0 5px 0 0; vertical-align:middle}
.ico_question {display:inline-block; cursor:pointer; width:14px; height:14px; background:url('../images/include/ico_question.gif') no-repeat; margin:-3px 0 0 5px; vertical-align:middle}

/* 아이콘
.ico_prev {display:inline-block; width:25px; height:18px; background:url('../images/ico_prev.gif') no-repeat; vertical-align:middle; margin:0 5px 5px 3px}
.ico_next {display:inline-block; width:25px; height:18px; background:url('../images/ico_next.gif') no-repeat; vertical-align:middle; margin:0 5px 5px 3px}
.ico_prev2 {display:inline-block; width:24px; height:25px; background:url('../images/ico_prev2.gif') no-repeat; vertical-align:middle; margin:0 15px 5px 3px}
.ico_next2 {display:inline-block; width:24px; height:25px; background:url('../images/ico_next2.gif') no-repeat; vertical-align:middle; margin:0 5px 5px 15px}
.ico_txt {display:inline-block; width:16px; height:16px; background:url('../images/ico_txt.gif') no-repeat; vertical-align:middle}
.ico_doc {display:inline-block; width:16px; height:16px; background:url('../images/ico_doc.gif') no-repeat; vertical-align:middle}
.ico_xls {display:inline-block; width:16px; height:16px; background:url('../images/ico_xls.gif') no-repeat; vertical-align:middle}
.ico_ppt {display:inline-block; width:16px; height:16px; background:url('../images/ico_ppt.gif') no-repeat; vertical-align:middle}
.ico_pdf {display:inline-block; width:16px; height:16px; background:url('../images/ico_pdf.gif') no-repeat; vertical-align:middle}
.ico_img {display:inline-block; width:16px; height:16px; background:url('../images/ico_img.gif') no-repeat; vertical-align:middle}
.ico_zip {display:inline-block; width:16px; height:16px; background:url('../images/ico_zip.gif') no-repeat; vertical-align:middle}
.ico_avi {display:inline-block; width:16px; height:16px; background:url('../images/ico_avi.gif') no-repeat; vertical-align:middle}
.ico_htm {display:inline-block; width:16px; height:16px; background:url('../images/ico_html.gif') no-repeat; vertical-align:middle}
.ico_new {display:inline-block; width:21px; height:10px; background:url('../images/ico_new.gif') no-repeat; vertical-align:middle}
.ico_hot {display:inline-block; width:21px; height:10px; background:url('../images/ico_hot.gif') no-repeat; vertical-align:middle}
.ico_delete {display:inline-block; width:11px; height:13px; background:url('../images/ico_tree_delete.gif') no-repeat; vertical-align:middle; cursor:pointer}
.ico_up {display:inline-block; width:11px; height:11px; background:url('../images/ico_tree_top.gif') no-repeat; vertical-align:middle; margin-bottom:2px}
.ico_down {display:inline-block; width:11px; height:11px; background:url('../images/ico_tree_under.gif') no-repeat; vertical-align:middle; margin-bottom:2px} */

/* 테이블 박스 */
.title {position:relative; height:39px; line-height:45px; *line-height:43px; padding-left:8px}
.title h4 {display:inline; font-size:14px; color:#666}
.table_wrap {min-width:755px; border-top:2px solid #575757}
.table_wrap2 {min-width:755px; border-top:2px solid #a3a3a3}
.table_wrap .title {position:relative; height:39px; line-height:41px; *line-height:39px; border-bottom:1px solid #acacac; background:#e8e8e8; padding-left:15px}
.table_wrap .title h4 {display:inline; font-size:12px; color:#454545}
.table_wrap .title span {position:absolute; top:10px; margin-left:10px}
.table_wrap .title2 {position:relative; height:37px; line-height:39px; *line-height:37px; border-bottom:1px solid #acacac; background:#fff; padding-left:15px}
.table_wrap .title2 h5 {display:inline; font-size:12px; font-weight:normal; color:#f07c00}

/* 테이블 - 세로형 */
.table_row {border-bottom:1.1px solid #acacac}
.table_row col {min-width:100px}
.table_row th {height:16px; line-height:16px; border-bottom:1px solid #ebebeb; background:#fafafa url('../images/include/bg_table_td1.gif') repeat-y left; padding:15px 0 9px 15px; text-align:left; vertical-align:top; color:#666}
.table_row th span {color:#ff8400}
.table_row th p {font-weight:normal}
.table_row th:first-child {background:#fafafa url('') no-repeat}
.table_row td {height:25px; border-bottom:1px solid #ebebeb; color:#666; background:url('../images/include/bg_table_td1.gif') repeat-y left; padding:9px 0 9px 10px; text-align:left}
.table_row td.second {background:url('../images/include/bg_table_td1.gif') repeat-y left}
.table_row td label {padding-right:10px}
.table_row td .btn_pack {margin:-2px 0 -2px 5px}

/* 테이블 - 세로형1 */
.table_row1 {border-bottom:1.1px solid #acacac}
.table_row1 col {min-width:130px}
.table_row1 thead th {height:25px; border-bottom:1px solid #acacac; background:#e8e8e8; padding:9px 0 9px 25px; text-align:left; vertical-align:middle; color:#666}
.table_row1 thead th:first-child {background:#e8e8e8 url('') no-repeat}
.table_row1 th {height:16px; line-height:16px; border-bottom:1px solid #ebebeb; background:#fafafa url('../images/include/bg_table_td1.gif') repeat-y left; padding:15px 0 9px 25px; text-align:left; vertical-align:top; color:#666}
.table_row1 th span {color:#ff8400}
.table_row1 th p {font-weight:normal}
.table_row1 th:first-child {background:#fafafa url('') no-repeat}
.table_row1 td {height:25px; border-bottom:1px solid #ebebeb; color:#666; background:url('../images/include/bg_table_td1.gif') repeat-y left; padding:9px 0 9px 10px; text-align:left}
.table_row1 td.second {background:url('../images/include/bg_table_td1.gif') repeat-y left}
.table_row1 td label {padding-right:10px}

.layer_question {display:none; position:absolute; left:70px; border:1px solid #18b1dd; padding:10px 16px; width:290px; background:#fff; font-size:11px; font-weight:normal; z-index:1}
.layer_question p {font-size:11px; color:#18b1dd}

/* 테이블 - 세로형2 */
.table_row2 {border-bottom:1.1px solid #acacac}
.table_row2 col {min-width:100px}
.table_row2 thead th {height:25px; border-bottom:1px solid #acacac; background:#e8e8e8 url('../images/include/bg_table_th2.gif') repeat-y left; padding:6px 0 6px 15px; text-align:left; vertical-align:middle; color:#666}
.table_row2 thead th:first-child {background:#e8e8e8 url('') no-repeat}
.table_row2 thead td {height:25px; border-bottom:1px solid #acacac; background:#e8e8e8 url('../images/include/bg_table_th2.gif') repeat-y left; padding:6px 0 6px 10px; text-align:left; vertical-align:middle; color:#666}
.table_row2 th {height:16px; line-height:16px; border-bottom:1px solid #e0e0e0; background:#f9f9f9 url('../images/include/bg_table_td2.gif') repeat-y left; padding:11px 0 9px 15px; text-align:left; vertical-align:top; font-weight:normal; color:#666}
.table_row2 th span {color:#ff8400}
.table_row2 th p {font-weight:normal}
.table_row2 th:first-child {background:#f9f9f9 url('') no-repeat}
.table_row2 td {height:25px; border-bottom:1px solid #e0e0e0; background:url('../images/include/bg_table_td2.gif') repeat-y left; padding:6px 0 6px 10px; text-align:left; color:#666}
.table_row2 td.second {background:url('../images/include/bg_table_td2.gif') repeat-y left}
.table_row2 td label {padding-right:10px}
.table_row2 td .gray {font-size:11px; color:#999}

/* 테이블 - 가로형 */
.table_col {border-top:2px solid #575757; border-bottom:1.1px solid #acacac}
.table_col th {height:37px; line-height:16px; padding-top:2px; border-bottom:1px solid #acacac; background:#f3f3f3 url('../images/include/bg_table_th.gif') no-repeat left; color:#454545; text-align:center}
.table_col th:first-child {background:#f3f3f3 url('') no-repeat}
.table_col th span {color:#ff8400}
.table_col td {height:35px; line-height:16px; padding-top:2px; border-bottom:1px solid #e0e0e0; background:url('../images/include/bg_table_td.gif') repeat-y left; color:#666; text-align:center}
.table_col td:first-child {background:url('') no-repeat}
.table_col td.second {background:url('../images/include/bg_table_td.gif') repeat-y left}
.table_col td.left {text-align:left; padding-left:10px}
.table_col td.right {text-align:right; padding-right:10px}
.table_col td.nodata {height:50px; background:url('') no-repeat; color:#999}
.table_col td a.small {font-size:11px; color:#006cbe}

/* 테이블 - 가로형2 */
.table_col2 {border-bottom:1.1px solid #bdbdbd}
.table_col2 th {height:35px; line-height:16px; padding-top:2px; border-bottom:1px solid #e0e0e0; background:#f9f9f9 url('../images/include/bg_table_td2.gif') repeat-y left; font-weight:normal; color:#666; text-align:center}
.table_col2 th:first-child {background:#f9f9f9 url('') no-repeat}
.table_col2 th span {font-weight:bold; color:#ff8400}
.table_col2 td {height:35px; line-height:16px; padding-top:2px; border-bottom:1px solid #e0e0e0; background:url('../images/include/bg_table_td2.gif') repeat-y left; color:#666; text-align:center}
.table_col2 td:first-child {background:url('') no-repeat}
.table_col2 td.second {background:url('../images/include/bg_table_td2.gif') repeat-y left}
.table_col2 td.left {text-align:left; padding-left:10px}
.table_col2 td.right {text-align:right; padding-right:10px}
.table_col2 td.nodata {height:50px; background:url('') no-repeat; color:#999}
.table_col2 td a.small {font-size:11px; color:#006cbe}

/* 안내문구 */
.guide {padding:30px 0}
.guide h5 {font-size:11px; line-height:17px}
.guide li {background:url('../images/include/bu_guide.gif') no-repeat left 50%; padding-left:11px; font-size:11px; line-height:17px}
.guide li .btn_pack {margin:-2px 0 -2px 5px}

/* 안내문구2 */
.guide2 {border-top:1px solid #acacac; border-bottom:1px solid #e0e0e0; padding:15px 15px 12px 15px}
.guide2 h5 {font-size:11px; line-height:17px; color:#f27800}
.guide2 li {background:url('../images/include/bu_guide.gif') no-repeat left 50%; padding-left:11px; font-size:11px; line-height:17px}
.guide2 li .btn_pack {margin:-2px 0 -2px 5px}

/* .message {border:1px solid #e1e1e1; border-radius:5px; background:#f9f9f9; padding:10px 20px 7px}
.message_blue {border:1px solid #d4e2f1; border-radius:5px; background:#edf3f9; padding:10px 20px 7px}
.message_red {border:1px solid #ffc5c5; border-radius:5px; background:#ffe8e8; padding:10px 20px 7px}
.message p, .message_blue p, .message_red p {background:url('../images/bu_message.gif') no-repeat left 8px; padding-left:10px}
.message .red, .message_blue .red, .message_red .red {color:#f20} */

/* 페이지 네비 */
.paginate {padding-top:25px; text-align:center}
.paginate a,.paginate strong {display:inline-block; position:relative; margin-right:6px; padding:4px 0 4px 0; width:25px; border:1px solid #fff; color:#585858; font-family:verdana; font-weight:bold; line-height:normal; text-decoration:none}
.paginate a:hover {border:1px solid #e9e9e9; background-color:#fff !important;}
.paginate .strong {border:1px solid #e9e9e9; background-color:#fff !important; color:#f23219 !important}
.paginate a.pre {width:7px; height:7px; margin-bottom:-8px; padding:7px 9px 9px 7px; border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg_l.gif') no-repeat 50% !important; margin-right:10px; *margin-bottom:0px;}
.paginate a.pre:hover {border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg_l_on.gif') no-repeat 50% !important}
.paginate a.next {width:7px; height:7px; margin-bottom:-8px; padding:7px 9px 9px 7px; border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg_r.gif') no-repeat 50% !important; margin-left:10px; *margin-bottom:0px;}
.paginate a.next:hover {border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg_r_on.gif') no-repeat 50% !important}
.paginate a.pre2 {width:7px; height:7px; margin-bottom:-8px; padding:7px 9px 9px 7px; border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg2_l.gif') no-repeat 50% !important; *margin-bottom:0px}
.paginate a.pre2:hover {border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg2_l_on.gif') no-repeat 50% !important}
.paginate a.next2 {width:7px; height:7px; margin-bottom:-8px; padding:7px 9px 9px 7px; border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg2_r.gif') no-repeat 50% !important; *margin-bottom:0px}
.paginate a.next2:hover {border:1px solid #e9e9e9 !important; background:url('../images/include/btn_pg2_r_on.gif') no-repeat 50% !important}

/* 버튼 박스 */
.button {position:relative; *zoom:1}
.button:after {display:block; clear:both; content:''}
.button .left {float:left;position:absolute;top:0;left:0}
.button .right {float:right;position:absolute;top:0;right:0}
.button .center {text-align:center}

/* 버튼 */
.btn_pack, .btn_pack *, .btn_pack a {display:inline-block; overflow:visible; position:relative; margin:0; padding:0; border:0; background:url('../images/include/bg_button.gif') no-repeat; font-size:12px; font-weight:normal; color:#fff; text-decoration:none !important; vertical-align:top; text-align:center; white-space:nowrap}
.btn_pack {margin-right:4px}
.btn_pack * {left:4px; cursor:pointer; _cursor:hand}
.btn_pack.icon span {width:10px; left:-8px; margin-right:-10px; padding:0 !important}

.btn_pack.xlarge {background-position:left 0}
.btn_pack.xlarge * {background-position:right 0; padding:0 3px 0 0; font-weight:bold}
.btn_pack.xlarge, .btn_pack.xlarge * {height:35px; line-height:37px; *line-height:35px}
.btn_pack.xlarge button, .btn_pack.xlarge input {width:86px}
.btn_pack.xlarge a {width:83px}

.btn_pack.xlarge2 {background-position:left -40px}
.btn_pack.xlarge2 * {background-position:right -40px; padding:0 3px 0 0; font-weight:bold}
.btn_pack.xlarge2, .btn_pack.xlarge2 * {height:35px; line-height:37px; *line-height:35px}
.btn_pack.xlarge2 button, .btn_pack.xlarge2 input {width:86px}
.btn_pack.xlarge2 a {width:83px}

.btn_pack.xlarge3 {background-position:left -80px}
.btn_pack.xlarge3 * {background-position:right -80px; padding:0 3px 0 0; font-weight:bold}
.btn_pack.xlarge3, .btn_pack.xlarge3 * {height:35px; line-height:37px; *line-height:35px}
.btn_pack.xlarge3 button, .btn_pack.xlarge3 input {width:86px}
.btn_pack.xlarge3 a {width:83px}

.btn_pack.xlarge4 {background-position:left -120px}
.btn_pack.xlarge4 * {background-position:right -120px; padding:0 3px 0 0; font-weight:bold}
.btn_pack.xlarge4, .btn_pack.xlarge4 * {height:35px; line-height:37px; *line-height:35px}
.btn_pack.xlarge4 button, .btn_pack.xlarge4 input {width:86px}
.btn_pack.xlarge4 a {width:83px}

.btn_pack.large {background-position:left -160px}
.btn_pack.large * {background-position:right -160px; padding:0 3px 0 0; font-weight:bold}
.btn_pack.large, .btn_pack.large * {height:29px; line-height:31px; *line-height:29px}
.btn_pack.large button, .btn_pack.large input {width:70px}
.btn_pack.large a {width:67px}

.btn_pack.large2 {background-position:left -200px}
.btn_pack.large2 * {background-position:right -200px; padding:0 3px 0 0; font-weight:bold}
.btn_pack.large2, .btn_pack.large2 * {height:23px; line-height:25px; *line-height:23px}
.btn_pack.large2 button, .btn_pack.large2 input {width:70px}
.btn_pack.large2 a {width:67px}

.btn_pack.medium {background-position:left -230px}
.btn_pack.medium * {background-position:right -230px; padding:0 9px 0 6px; font-weight:bold; color:#8b8b8b}
.btn_pack.medium, .btn_pack.medium * {height:23px; line-height:25px; *line-height:23px}

.btn_pack.medium2 {background-position:left -260px}
.btn_pack.medium2 * {background-position:right -260px; padding:0 9px 0 6px; color:#ea5800}
.btn_pack.medium2, .btn_pack.medium2 * {height:23px; line-height:25px; *line-height:23px}

.btn_pack.small {background-position:left -290px}
.btn_pack.small * {background-position:right -290px; padding:0 6px 0 3px; font-size:11px; color:#7d7d7d}
.btn_pack.small, .btn_pack.small * {height:20px; line-height:22px; *line-height:20px}

.btn_pack.small2 {background-position:left -320px}
.btn_pack.small2 * {background-position:right -320px; padding:0 6px 0 3px; font-size:11px; color:#ea5800}
.btn_pack.small2, .btn_pack.small2 * {height:20px; line-height:22px; *line-height:20px}

.btn_pack.small3 {background-position:left -350px}
.btn_pack.small3 * {background-position:right -350px; padding:0 17px 0 3px; font-size:11px; color:#676767}
.btn_pack.small3, .btn_pack.small3 * {height:25px; line-height:27px; *line-height:25px}
.btn_pack.small3 .arrow {background-position:0 -470px; top:9px}

.btn_pack.small4 {background-position:left -380px}
.btn_pack.small4 * {background-position:right -380px; padding:0 17px 0 3px; font-size:11px; color:#9d9d9d}
.btn_pack.small4, .btn_pack.small4 * {height:21px; line-height:23px; *line-height:21px}
.btn_pack.small4 .plus {background-position:-10px -470px; top:8px}

.btn_pack.small5 {background-position:left -410px}
.btn_pack.small5 * {background-position:right -410px; padding:0 17px 0 3px; font-size:11px}
.btn_pack.small5, .btn_pack.small5 * {height:21px; line-height:23px; *line-height:21px}
.btn_pack.small5 .plus {background-position:-30px -470px; top:8px}

.btn_pack.small6 {background-position:left -440px}
.btn_pack.small6 * {background-position:right -440px; padding:0 17px 0 3px; font-size:11px}
.btn_pack.small6, .btn_pack.small6 * {height:18px; line-height:20px; *line-height:18px}
.btn_pack.small6 .arrow {background-position:-20px -470px; top:6px}
.btn_pack.small6 .plus {background-position:-30px -470px; top:6px}

/* 팝업창 */
.pop_wrap {width:100%; min-width:700px; border:0px solid #1994c1; background:#fff}
.pop_wrap.w400 {min-width:400px;}
.pop_wrap.w500 {min-width:500px;}
.pop_wrap.w600 {min-width:600px;}
.pop_wrap .header {height:50px; background:#1994c1; *zoom:1}
.pop_wrap .header:after {display:block; clear:both; content:''}
.pop_wrap .header h1 {float:left; margin:16px 0 0 16px; color:#fff; font-size:17px; letter-spacing:-1px;line-height:20px}
.pop_wrap .header h1 span {margin-left:5px; font-size:13px; font-weight:normal; color:#fff}
.pop_wrap .header .close {float:right; width:23px; margin:12px 16px; background:url('../images/btn_lyr_close.gif'); height:23px}
.pop_wrap .container {margin:16px}
.pop_wrap h2 {padding-left:12px; color:#00a5bb; font-size:14px; font-weight:bold; line-height:28px; margin-bottom:3px}
.pop_wrap h2 span {margin-left:5px; font-size:12px; font-weight:normal; color:#666}
.pop_wrap h3 {padding-left:20px; background:url('../images/bu_searchbox.gif') no-repeat 10px 12px; font-size:14px; font-weight:bold; line-height:28px; margin-bottom:3px}
.pop_wrap .uncollected {width:709px; background:url('../images/img_uncollected2.gif') repeat-y; margin:0 auto}
.pop_wrap .uncollected div {text-align:left; padding:0 50px}

