<div class="detail_view_peering">
	<div class="right">
		<p class="notice">
		<label for="#"><input type="checkbox" name="per_agreement" id="per_agreement" title="개인정보 수집,이용에 동의" /> 개인정보 수집,이용에 동의합니다.</label>
		<span class="btn_pack small31">
		<button type="button"  class="btn_per">
		<span class="icon-folder-collapsed"></span>
		자세히보기
		</button>
		</span>
		</p>
	</div>
	<div id="detailview" style="display:none">	
		<div class="wrap guide">
			<p><strong class="small">설명회 사전등록 접수를 위한 개인정보 수집. 이용</strong></p>
			<p class="hx15"></p>

			<h5>ㅇ 개인정보 수집·이용 목적</h5>			
			<p>- 원활한 행사진행을 위한 사전등록 및 참석신청 확인</li></p>
			<p class="hx15"></p>

			<h5>ㅇ 수집하는 개인정보 항목</h5>
			<p>- 소속, 부서, 직책, 성명, 전자우편, 연락처</p>
			<p class="hx15"></p>
			
			<h5>ㅇ 보유 및 이용기간</h5>
			<p>- 수집된 개인정보는 행사종료 이후 관련사무의 처리가 완료되면 지체 없이 파기됩니다.</p>
			<p class="hx15"></p>
			
			<p>ㅇ 귀하께서는 본 행사와 관련한 개인정보 수집·이용 사항에 대하여 동의를 거부할 수 있으며, <br />이 경우 행사등록 등이 제한 될 수 있음을 알려드립니다.</p>
			<p class="hx15"></p>

			<h5>※ 개인정보 처리위탁 사항 안내</h5>
			<p>
				한국인터넷진흥원 차세대주소산업팀은 IPv6 기술컨설팅 무료 지원 설명회의 원활한 운영을 위하여 
				<br />수집한 개인정보의 처리를 다음과 같이 위탁하고 있으며, 관계법령에 따라 개인정보가 안전하게 
				<br />관리될 수 있도록 필요한 조치를 하고 있습니다.
				<br />- 수탁업체 : ㈜케이아이엔엑스
				<br />- 위탁하는 업무내용 : 행사 사전등록 및 참가신청 확인				
			</p>
		</div>
	</div>
</div>
<!-- //detail_view2 -->