<div class="detail_view2">
	<div class="right">
		<label for="#"><input type="checkbox" name="privacyassent2" id="privacyassent2" title="개인정보 수집,이용에 동의" /> 개인정보 수집,이용에 동의합니다.</label>
		<span class="btn_pack small"><a href="#" onClick="OpenTable('detailview2');">자세히보기</a></span>
	</div>
	<div id="detailview2" style="display:none">
		<div class="wrap guide">
			<p><strong class="small">개인정보 수집ㆍ이용에 대한 안내</strong> (자세한 내용은 &quot;<a href="<?= 'http://'.WWW_DOMAIN_NAME?>/agreements/agreements-3/" target="_blank"><span class="small orange2">개인정보처리방침</span></a>&quot;을 확인하시기 바랍니다.)</p>
			<p class="hx15"></p>

			<h5>수집하는 개인정보의 항목</h5>
			<ul>
				<li>업체명, 성명, 전화번호, 이메일 주소</li>
			</ul>
			<p class="hx15"></p>

			<h5>개인정보의 수집ㆍ이용 목적</h5>
			<p>업체명, 성명 : 서비스 이용에 대한 견적 및 상담 진행을 위한 기본적인 대상자 정보</p>
			<p>전화번호, 이메일 주소 : 문의 사항에 대한 답변을 전달하기 위한 원활한 의사소통 경로의 확보</p>
			<p class="hx15"></p>

			<h5>개인정보의 보유 및 이용기간원칙적으로 개인정보 수집 또는 제공 받은 목적 달성 시 지체 없이 파기합니다.</h5>
			<p>
				단, 수집목적 및 제공 받은 목적이 달성된 경우에도 법률의 규정에 따라 보존할 필요가 있는 법률의 규정에 따라 고객의 개인정보를
				보유할 수 있습니다.
			</p>
				<ul>
					<li>계약 또는 청약철회 등에 관한 기록 : 5년</li>
					<li>대금결제 및 재화 등의 공급에 관한 기록 : 5년</li>
					<li>소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 등</li>
				</ul>
		</div>
	</div>
</div>
<!-- //detail_view2 -->