{ #common_html_header }
{ #layout_myheader }
<!-- my/ IDC 출입 관리 / 담당자 관리 -->
<div id="container">
	{ #menu_my }
	<div id="content">
			<h3><img src="/images/my/h3_contact.png"  alt="담당자 관리" /></h3>
			<!-- title_main -->

			<div class="guide2">
				<h5>[안내]</h5>
				<ul>
					<li>IDC 출입을 담당할 직원을 등록, 관리하는 페이지입니다.</li>
					<li>담당자로 등록이 되어 있지 않으면 방문신청, 장비관리를 할 수 없습니다.</li>
					<li>담당자 정보가 정확하게 유지관리 되도록 해주십시오.</li>
					<li>상세보기 페이지에서 담당자 정보변경 및 삭제처리 가능합니다.</li>
				</ul>
			</div>
			<!-- //guide -->
			<p class="hx10"></p>

			<div class="button hx30">
                                <div class="left">
                                    <input type="hidden" id="hidden_sCompanyType">
                                    <span style="line-height:16px; margin-right:10px;">업체분류</span>
                                    <span class="select" style="width:100px">
                                        <select id="sCompanyType" name="sCompanyType" title="업체 구분">
                                                <option value="A" {? sCompanyType === "A"}selected="selected"{ / }>전체</option>
                                                <option value="M" {? sCompanyType === "M"}selected="selected"{ / }>입주업체</option>                                                
                                                <option value="C" {? sCompanyType === "C"}selected="selected"{ / }>협력업체</option>
                                        </select>
                                    </span>
				</div>
				<div class="right">
                                    <span class="btn_pack medium2"><a href="/kinxidc/competent_write{url_suffix}">담당자추가</a></span>
				</div>
			</div>
			<!-- //button -->

			<div class="table">
				<table summary="담당자 목록" class="table_col">
				<caption>담당자 목록</caption>
				<colgroup>
					<col width="75px" /><col width="#" /><col width="90px" /><col width="#" /><col width="#" />
					<col width="#" /><col width="10%" /><col width="10%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">분류</th>
						<th scope="col">업체명</th>
						<th scope="col">담당자</th>
						<th scope="col">일반전화</th>
						<th scope="col">휴대전화</th>
						<th scope="col">이메일</th>
						<th scope="col">연락순위</th>
						<th scope="col">상세보기</th>
					</tr>
				</thead>
				<tbody>
					{ @list }
					<tr>
						<td class="center">{? .sCompanyType == "M"}입주업체{ : .sCompanyType == "C"}협력업체{ / }</td>
						<td class="left">{.sCompanyName}</td>
						<td class="center">{.sManagerName}</td>
						<td class="center">{.sInternalPhone}</td>
						<td class="center">{.sMobilePhone}</td>
						<td class="left">{.sEmail}</td>
						<td class="center">{ ? .nSort === "0"}없음{ : }{.nSort}순위{ / }</td>
						<td><span class="btn_pack small"><a href="/kinxidc/competent_write/<?=encryptIt({.nCompanyContactSeq});?>{url_suffix}" class="small">상세보기</a></span></td>
					</tr>
					{ : }
					<tr>
						<td colspan="8" class="nodata">※ 등록된 담당자가 없습니다.</td>
					</tr>
					{ / }
				</tbody>
				</table>
				<div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
</div>
{ #layout_myfooter }