{ #common_html_header }
{ #layout_myheader }
<!-- my/ IDC 출입 관리 / 담당자 관리 -->
<div id="container">
	{ #menu_my }
	
	<div id="content">
			<h3><img src="/images/my/h3_contact.png"   alt="담당자 관리" /></h3>
			<!-- title_main -->

			<div class="title">
				<h4>담당자 정보</h4>
			</div>
			<!-- //title_sub -->
			<form name="workRequestForm" id="workRequestFrm" method="post" action="/kinxidc/competent_proc/{mode}{url_suffix}">
				<fieldset>
					<legend>담당자 추가 폼</legend>
					{ ? mode === "modify" // 수정의 경우 히든값으로 seq를 보냅니다.}
					<input type="hidden" name="nCompanyContactSeq" value="{basic.nCompanyContactSeq}" />
					<input type="hidden" name="nContractSeq" value="{basic.nContractSeq}" />
					{ / }
					<div class="table_wrap2">
						<table summary="담당자 추가하기" class="table_row1">
						<caption>담당자 추가하기</caption>
						<colgroup>
							<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">
									<label>업체 분류</label>
								</th>
								<td colspan="3">
									<label><input type="radio" name="sCompanyType" title="입주업체" value="M" { ? basic.sCompanyType ==="M" || !basic.sCompanyType}checked="checked"{ / } /> 입주업체</label>
									<label><input type="radio"  name="sCompanyType" title="협력업체" value="C" { ? basic.sCompanyType ==="C"}checked="checked"{ / } /> 협력업체</label>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>업체명 <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sCompanyName" value="{basic.sCompanyName}" title="업체명" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>담당자명 <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sManagerName" value="{basic.sManagerName}" title="담당자명" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>부서명 <span style="color:red">*</span></label>
								</th>
								<td>
									<input type="text" name="sDepartmentName" value="{basic.sDepartmentName}" title="부서/직급" class="input" style="width:220px" />
								</td>
								<th scope="row">
									<label>직급 <span style="color:red">*</span></label>
								</th>
								<td>
									<input type="text" name="sRank" value="{basic.sRank}" title="직급" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>일반전화 <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sInternalPhone" value="{basic.sInternalPhone}" title="일반전화" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>휴대전화 <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text"  name="sMobilePhone" value="{basic.sMobilePhone}" title="휴대전화" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>이메일 <span style="color:red">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" name="sEmail" value="{basic.sEmail}" title="이메일" class="input" style="width:220px" />
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>연락우선순위</label>
								</th>
								<td colspan="3">
									<label><input type="radio" name="nSort" title="1순위" value="1" { ? basic.nSort ==="1"}checked="checked"{ / } /> 1순위</label>
									<label><input type="radio" name="nSort" title="2순위" value="2" { ? basic.nSort ==="2"}checked="checked"{ / } /> 2순위</label>
									<label><input type="radio" name="nSort" title="없음" value="0" { ? basic.nSort ==="0" || !basic.nSort}checked="checked"{ / } /> 없음</label>
								</td>
							</tr>
						</tbody>
						</table>
						<!-- //table_row -->
						
						{ #privacyassent_detailview }
					</div>
					<!-- //table_wrap -->
					<p class="hx30"></p>

					<div class="button">
						{ ? mode === "write" }
						<div class="center">
							<span class="btn_pack xlarge"><a href="#" class="btn_submit">추가하기</a></span>
						</div>
						{ : mode === "modify" }
						<div class="center">
							<span class="btn_pack xlarge"><a href="#" class="btn_submit">변경하기</a></span>
							<span class="btn_pack xlarge2"><a href="/kinxidc/competent_proc/delete/<?=encryptIt({basic.nCompanyContactSeq});?>{url_suffix}" class="btn_delete" title="삭제">삭제하기</a></span>
						</div>
						{ / }
					</div>
				</fieldset>
			</form>
			<!-- //button -->
		</div>
		<!-- //content -->
</div>
{ #layout_myfooter }