{ #common_html_header }
{ #layout_myheader }
<!-- my/ IDC 출입 관리 / 장비입반출 관리 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_server.png"  alt="장비입반출 관리" /></h3>
		<!-- title_main -->

		<div class="guide2">
			<h5>[안내]</h5>
			<ul>
				<li>장비 입반출시 반드시 사전 예약이 필요합니다. (예약이 되어있지 않으면 출입을 하실 수 없으니 유의하시기 바랍니다.)</li>
				<li>상세보기 페이지에서 신청 내용 변경 및 삭제처리 가능합니다.</li>
			</ul>
		</div>
		<!-- //guide -->
		<p class="hx10"></p>

		<div class="button hx30">
			<div class="right">
				<span style="color:#aaa;font-size:1em">{chkmsg}</span>
				<span class="btn_pack medium2"><a href="{? empty(chkmsg)}/kinxidc/equipment_write{url_suffix}{:}#{/}">장비입반출 신청하기</a></span>
			</div>
		</div>
		<!-- //button -->

		<div class="table">
			<table summary="장비입반출 신청 목록" class="table_col">
			<caption>장비입반출 신청 목록</caption>
			<colgroup>
				<col width="#" /><col width="30%" /><col width="#" /><col width="20%" /><col width="10%" />
				<col width="10%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">신청일</th>
					<th scope="col">작업구분</th>
					<th scope="col">신청인</th>
					<th scope="col">입반출일</th>
					<th scope="col">상태</th>
					<th scope="col">상세보기</th>
				</tr>
			</thead>
			<tbody>
				{ @list }
				<tr>
					<td>{= date('Y-m-d', strtotime(.dtCreateDate))}</td>
					<td class="left">{ .workType }</td>
					<td>{ .sManagerName }</td>
					<td>{ ? strtotime(.dtExpectStartDate) }{= date('Y-m-d H:00', strtotime(.dtExpectStartDate))}{ / }</td>
					<td>{ ?.sResultStatus : 'Y' }신청완료{:'S'}작업시작{:'F'}작업완료{:'C'}작업취소{:'X'}삭제{ / }</td>
					<td><span class="btn_pack small"><a href="/kinxidc/equipment_write/<?=encryptIt({.nWorkRequestSeq});?>{url_suffix}" class="small">상세보기</a></span></td>
				</tr>
				{ : }
				<tr>
					<td colspan="6" class="nodata">※ 등록된 신청건이 없습니다.</td>
				</tr>
				{ / }
			</tbody>
			</table>				
			<div class="paginate">{pager}</div>
			<!-- //paginate -->
		</div>
		<!-- //table_col -->
	</div>
	<!-- //content -->
</div>
{ #layout_myfooter }