{ #common_html_header }
{ #layout_myheader }
<!-- my/ IDC 출입 관리 / 장비입반출 신청하기 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_server.png"  alt="장비입반출 관리" /></h3>
		<!-- title_main -->

		<form name="workRequestForm" id="workRequestForm" method="post" action="/kinxidc/equipment_proc/{mode}{url_suffix}">
			{ ? mode === "modify" // 수정의 경우 히든값으로 seq를 보냅니다.}
			<input type="hidden" name="nWorkRequestSeq" value="{basic.nWorkRequestSeq}" />
			<input type="hidden" name="nContractSeq" value="{basic.nContractSeq}" />
			{ / }
			<div class="table_wrap">
				<table summary="장비입반출 신청자 정보" class="table_row2">
					<caption>장비입반출 신청자 정보</caption>
					<colgroup>
						<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="row">
								<strong><label for="#">등록자 정보</label></strong>
							</th>
							<td>
								<span class="select" style="width:220px">
									<select name="nManagerSeq" id="nManagerSeq" title="등록자 정보" onchange="getRegistantInfo(this.value)">
										<option value="">선택</option>
										{ @competentList }
										<option value="<?={.nCompanyContactSeq};?>"
											{ ? .nCompanyContactSeq_org == basic.nManagerSeq_org } selected="selected" { / }>
										{.sManagerName}</option>
										{ / }
									</select>
								</span>
							</td>
							<th scope="row"><strong>상태</strong></th>
							<td>{ ? basic.sResultStatus : 'Y' }신청완료{:'S'}작업시작{:'F'}작업완료{:'C'}작업취소{:'X'}삭제{ / }</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">
								<label for="registant_companyName">업체명</label>
							</th>
							<td id="registant_companyName"></td>
							<th scope="row">
								<label for="registant_managerName">담당자명</label>
							</th>
							<td id="registant_managerName"></td>
						</tr>
						<tr>
							<th scope="row">
								<label for="registant_internalPhone">일반전화</label>
							</th>
							<td id="registant_internalPhone"></td>
							<th scope="row">
								<label for="registant_mobilePhone">휴대전화</label>
							</th>
							<td id="registant_mobilePhone"></td>
						</tr>
					</tbody>
				</table>
				<!-- //table_row -->

				<p class="hx30"></p>

				<div class="title">
					<h4>장비입반출 선택</h4>
				</div>
				{? basic.sResultStatus === "Y" || mode === "write" }
				<!-- //title_sub -->
				<div class="title2">
					<h5>보유 장비 리스트</h5> (반출할 장비를 선택하세요.)
				</div>
					<!-- //title_sub -->
					<table id="equipmentOwnList" summary="보유 장비 리스트" class="table_col2">
						<caption>보유 장비 리스트</caption>
						<colgroup>
							<col width="15%" /><col width="15%" /><col width="" /><col width="10%" /><col width="10%" />
							<col width="12%" /><col width="10%" /><col width="10%" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">브랜드명</th>
								<th scope="col">모델명</th>
								<th scope="col">장비명(용도)</th>
								<th scope="col">수량</th>
								<th scope="col">랙 위치</th>
								<th scope="col">IP주소</th>
								<th scope="col">비고</th>
								<th scope="col">반출</th>
							</tr>
						</thead>
						<tbody>
						{ @equipmentList }
							<tr kinxrow="{ .nContractSeq }"  kinxequimentrow="{ .nCompanyEquipmentSeq }">
								<td class="left brand">{ .sBrand }</td>
								<td class="left model">{ .sModel }</td>
								<td class="left equipment">{ .sEquipmentName }</td>
								<td class="quantity">{.nOption}</td><!-- td class="left nQuantity">{.nQuantity}</td--><!-- td>{.nOption}</td-->
								<td class="rack"></td>
								<td class="ip">{ .sUseIP }</td>
								<td class="etc">{ .sEtc }</td>
								<td>
									<span class="btn_pack small"><a class="btn_input_O" href="#">등록</a></span>
								</td>
							</tr>
						{ : }
							<tr>
								<td colspan="8" class="nodata">※ 등록된 장비가 없습니다.</td>
							</tr>
						{ /}
						</tbody>
					</table>
					<!-- //table_col -->


					<div class="title2">
						<h5>반입할 장비 등록</h5> (반입할 장비를 선택하세요.)
					</div>
					<!-- //title_sub -->
					<table id="equipmentInputList" summary="반입할 장비 등록" class="table_col2">
						<caption>반입할 장비 등록</caption>
						<colgroup>
							<col width="15%" /><col width="15%" /><col width="" /><col width="10%" /><col width="10%" />
							<col width="12%" /><col width="10%" /><col width="10%" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">브랜드명</th>
								<th scope="col">모델명</th>
								<th scope="col">장비명(용도) <span>*</span></th>
								<th scope="col">수량 <span>*</span></th>
								<th scope="col">랙 위치</th>
								<th scope="col">IP주소</th>
								<th scope="col">비고</th>
								<th scope="col">반입</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="center"><input type="text" style="width:80%" name="i_brand" id="i_brand" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:80%" name="i_model" id="i_model" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:80%" name="i_name" id="i_name" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:50%" name="i_quantity" id="i_quantity" class="input" value="" maxlength="2" /></td>
								<td class="center"><input type="text" style="width:70%" name="i_rack" id="i_rack" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:70%" name="i_use_ip" id="i_useIp" class="input" value="" /></td>
								<td class="center"><input type="text" style="width:70%" name="i_etc" id="i_etc" class="input" value="" /></td>
								<td class="center">
									<span class="btn_pack small"><a onclick="inEquipment()">등록</a></span>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- //table_col -->
					{/}

					<div class="title2">
						<h5>입반출 장비 리스트</h5>
					</div>
					<!-- //title_sub -->
					<table id="equipmentIOList" summary="입반출 장비 리스트" class="table_col2">
						<caption>입반출 장비 리스트</caption>
						<colgroup>
							<col width="5%" /><col width="15%" /><col width="15%" /><col width="" /><col width="10%" /><col width="10%" />
							<col width="12%" /><col width="10%" />
							{? basic.sResultStatus === "Y" || mode === "write" }<col width="10%" />{/}
						</colgroup>
						<thead>
							<tr>
								<th scope="col">구분</th>
								<th scope="col">브랜드명</th>
								<th scope="col">모델명</th>
								<th scope="col">장비명(용도)</th>
								<th scope="col">수량</th>
								<th scope="col">랙위치</th>
								<th scope="col">IP주소</th>
								<th scope="col">비고</th>
								{? basic.sResultStatus === "Y" || mode === "write" }<th scope="col">취소</th>{/}
							</tr>
						</thead>
						<tbody>
							{ @ eioList }
							<tr>
								<td>{ ? .sWorkType : 'I' }<b style="color:#FF0080;">반입</b>{ : 'O' }<b style="color:#008000;">반출</b>{ / }<input type="hidden" name="sWorkType[]" value="{.sWorkType}"/><input type="hidden" name="nCompanyEquipmentSeq[]" value="{.nCompanyEquipmentSeq}"/></td>
								<td>{.sBrandName}<input type="hidden" name="sBrandName[]" value="{.sBrandName}"/></td>
								<td>{.sModelName}<input type="hidden" name="sModelName[]" value="{.sModelName}"/></td>
								<td>{.sEquipmentName}<input type="hidden" name="sEquipmentName[]" value="{.sEquipmentName}"/></td>
								<td>{.nQuantity}<input type="hidden" name="nQuantity[]" value="{.nQuantity}"/></td>
								<td>{.sRack}<input type="hidden" name="sRack[]" value="{.sRack}"/></td>
								<td>{.sUseIp}<input type="hidden" name="sUseIp[]" value="{.sUseIp}"/></td>
								<td>{.sContent}<input type="hidden" name="sContent2[]" value="{.sContent}"/></td>
								{? basic.sResultStatus === "Y" || mode === "write" }
								<td><span class="btn_pack small"><a class="btn_cancel" href="#">취소</a></span></td>
								{/}
							</tr>
							{ : }
							<tr>
								<td colspan="9" class="nodata">입반출 장비를 입력(or 선택)해 주세요.</td>
							</tr>
							{ / }
						</tbody>
					</table>
					<!-- //table_col -->

					<p class="hx30"></p>

					<div class="title">
						<h4>작업 내용</h4>
					</div>
					<!-- //title_sub -->
					<table summary="작업 내용" class="table_row2">
						<caption>작업 내용</caption>
						<colgroup>
							<col width="15%" /><col width="85%" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">
									<label for="sContent">요청사항</label>
								</th>
								<td>
									<textarea name="sContent" id="sContent" title="요청사항" class="textarea" style="height:70px">{ basic.sContent }</textarea>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="dtExpectStartDate">방문예정일시</label>
								</th>
								<td>날짜&nbsp;
									<input type="text" name="dtExpectStartDate" id="dtExpectStartDate" title="날짜" class="input dateYMD" style="width:100px" value="{ basic.dtExpectStartDate }" readonly="readonly" />
									&nbsp;<input type="text" name="dtExpectStartTime" id="dtExpectStartTime" title="시간" class="input" style="width:50px" value="{ basic.dtExpectStartTime }"/>시
									&nbsp;<span class="gray">(24시 단위로 입력)</span>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- //table_row -->
					<p class="hx30"></p>

				{#my_detailview_tooluse}
			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>

			<div class="button">
				{ ? mode === "write" }
				<div class="center">
					<span class="btn_pack xlarge"><input type="submit" value="신청하기"></span>
				</div>
				{ : mode === "modify" }
				<div class="center">
					{? basic.sResultStatus === "Y" }
					<span class="btn_pack xlarge"><input type="submit" value="변경하기" /></span>
					<span class="btn_pack xlarge2"><a href="/kinxidc/equipment_proc/cancel/<?=encryptIt({basic.nWorkRequestSeq});?>{url_suffix}" class="js-confirm" data-msg="정말 취소하시겠습니까?">취소하기</a></span>
					{:}
					<span class="btn_pack xlarge"><a href="/kinxidc/equipment" class="btn_golist">목록으로</a></span>
					{/}
				</div>
				{ / }
			</div>
			<!-- //button -->
		</form>
	</div>
	<!-- //content -->
</div>

<script>
var $mode = "{mode}";
//console.log({basic});
var $basic = {=json_encode(basic)};

//console.log('mode '+$mode);
//console.log('basic '+$basic);


</script>

{ #layout_myfooter }