﻿{ #common_html_header }
{ #layout_myheader }
<!-- my/ 기술요청/문의 상세보기-->
<div id="container">
	{ #menu_my }
		<div id="content">
			<h3><img src="/images/my/h3_work1.png"  alt="기술요청/문의" /></h3>
			<!-- //title_main -->

			<form method="post" name="techSupportForm_my" id="techSupportForm_my">			
			<div class="table_wrap">
				<table class="table_row2 mb2">
				<caption>등록자 정보</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">
							<strong><label for="name">등록자 정보 </label></strong>
						</th>
						<th colspan="3" scope="col">	
							<strong><label for="name">{techSupportData.sManagerName}</label></strong>						
						</th>
					</tr>
				</thead>
				<tbody id="contactUserInfo">
					<tr>
						<th scope="row">업체명</th>
						<td colspan="3" scope="col" id="sCompanyName">{techSupportData.sCompanyName}</td>
					</tr>
					<tr>
						<th scope="row">담당자명</th>
						<td id="sManagerName">{techSupportData.sManagerName}</td>
						<th scope="row">직위</th>
						<td id="sRank">{techSupportData.sRank}</td>
					</tr>
                    <tr>
						<th scope="row">전화번호</th>
						<td id="sInternalPhone">{techSupportData.sInternalPhone}</td>
						<th scope="row">팩스번호</th>
						<td id="sfax">{techSupportData.sfax}</td>
					</tr>
                    <tr>
						<th scope="row">휴대폰</th>
						<td id="sMobilePhone">{techSupportData.sMobilePhone}</td>
						<th scope="row">이메일</th>
						<td id="sEmail">{techSupportData.sEmail}</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title">
					<h4>작업 내용</h4>
				</div>
				<!-- //title_sub -->
				<table class="table_row2">
				<caption>작업 내용</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<strong><label for="name">작업구분</label></strong>
						</th>
						<td>
							{? techSupportData.nWorkType == 1}
							<label for="name">기술/운영문의</label>
							{: techSupportData.nWorkType == 2}
							<label for="name">상품/요금문의</label>
							{: techSupportData.nWorkType == 3}
							<label for="name">기술/서버리부팅</label>
							{:}
							<label for="name">기타문의</label>
							{/}
						</td>
						<th scope="row">
							<label for="name">작업자</label>
						</th>
						<td>
							<label for="work">{techSupportData.sMemberName}</label>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="work">작업내용 </label>
						</th>
						<td colspan="3" scope="col" >{techSupportData.sContent}</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="schedule">작업시작일 </label>
						</th>	
						<td>
							<label for="work">{techSupportData.dtStartDate}</label>							
						</td>
						<th scope="row">
							<label for="schedule">작업완료일 </label>
						</th>	
						<td>
							<label for="work">{techSupportData.dtEndDate}</label>							
						</td>
					</tr>
					<tr id="tr_confirm" style="display:none">
						<th scope="row">							
						</th>
						<td style="padding:5px 0px;text-align:center;">
							<input type="checkbox" name="confirm_reboot" id="confirm_reboot" value="1" style="vertical-align:top;"><label for="confirm_reboot" style="margin-left:5px;font-weight:bold;color:#FF5F05;">[주의] 서버 리부팅시 발생될 수 있는 오류나 장애에 대해 ‘KINX’에 책임을 묻지 않습니다.</label>							
						</td>
					</tr>					
				</tbody>
				</table>
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			
			<p class="hx30"></p>
			
			<div class="button">
				<div class="center">
					<span class="btn_pack xlarge"><a href="#" onClick="history.go(-1);event.preventDefault();">돌아가기</a></span>
				</div>
			</div>
			<!-- //button -->
			</form>
		</div>
		<!-- //content -->
</div>
{ #layout_myfooter }
