﻿{ #common_html_header }
{ #layout_myheader }
<!-- my/ 기술요청/문의 -->
<div id="container">
	{ #menu_my }
		<div id="content">
			<h3><img src="/images/my/h3_work1.png"  alt="기술요청/문의" /></h3>
			<!-- //title_main -->
            
            <div class="guide2">
				<h5>[안내]</h5>
				<ul>
					<li>고객님께서 KINX에 요청하신 기타요청 내역목록이며 <b>최근 6개월간</b>의 리스트를 볼 수 있습니다.</li>
				</ul>
			</div>
			<!-- //guide -->
			<p class="hx10"></p>
            
            <div class="button hx30">
				<div class="right">
					<span style="color:#aaa;font-size:1em">{chkmsg}</span>
					<span class="btn_pack medium2"><a href="{? empty(chkmsg)}/kinxidc/techsupport_write{:}#{/}">등록하기</a></span>
				</div>
			</div>
			<!-- //button -->

			<div class="table">
				<table class="table_col">
				<caption>서비스 목록</caption>
				<colgroup>
					<col /><col /><col /><col /><col /><col />
				</colgroup>
				<thead>				
					<tr>
						<th scope="col">신청일</th>
						<th scope="col">작업구분</th>
						<th scope="col">신청인</th>
						<th scope="col">연락처</th>
                        <th scope="col">작업일</th>
						<th scope="col">상태</th>
					</tr>
				</thead>
				<tbody>
					{@techSupportList}					
					<tr onMouseOver="overColor(this)" onMouseout="outColor(this)" style="cursor:hand;" onClick="location.href='/kinxidc/techsupport_view/<?=encryptIt({.nWorkRequestSeq});?>'">											
						<td>{.dtCreateDate}</td>
						<td>{? .nWorkType==1}기술/운영문의{: .nWorkTyp==2}상품/요금문의{: .nWorkType==3}서버리부팅{:}기타문의{/}</td>
                        <td>{.sManagerName}</td>
						<td>{.sInternalPhone}</td>
                        <td>{.dtStartDate}</td>
                        {? .sResultStatus=="Y"}
                        <td>신청완료</td>
                        {: .sResultStatus=="S"}
                        <td>작업시작</td>
                        {: .sResultStatus=="F"}
                        <td>작업완료</td>
                        {: .sResultStatus=="C"}
                        <td>작업취소</td>
                        {: .sResultStatus=="X"}
                        <td>삭제</td>
                        {/}
					</tr>	
					{:}				
					<tr>
						<td colspan="6" class="nodata">등록된 문의가 없습니다.</td>
					</tr>
					{/}
				</tbody>
				</table>
                <div class="paginate">{pager}</div>
				<!-- //paginate -->
			</div>
			<!-- //table_col -->
		</div>
		<!-- //content -->
</div>
{ #layout_myfooter }
