﻿{ #common_html_header }
{ #layout_myheader }
<!-- my/ 기술요청/문의 등록하기-->
<div id="container">
	{ #menu_my }
		<div id="content">
			<h3><img src="/images/my/h3_work1.png"   alt="기술요청/문의" /></h3>
			<!-- //title_main -->

			<form method="post" name="techSupportForm_my" id="techSupportForm_my">
			<div class="table_wrap">
				<table class="table_row2 mb2">
				<caption>등록자 정보</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:35%" /><col style="width:15%" /><col style="width:35%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">
							<strong><label for="name">등록자 정보 <span>*</span></label></strong>
						</th>
						<th colspan="3" scope="col">
							<span class="select" style="width:220px">
								<select name="companycontact" id="companycontact" title="등록자 정보" onChange="javascript:getRegistantUserInfo(this.value)">
									<option value="-1" selected="selected">등록자를 선택하세요.</option>
									{@companycontact}
									<option value="<?=encryptIt({.nCompanyContactSeq});?>">{.sManagerName}</option>
									{:}
									<option value="-1">등록자 정보가 없습니다. </option>
									{/}									
								</select>
							</span>
						</th>
					</tr>
				</thead>
				<tbody id="contactUserInfo">
					<tr>
						<th scope="row">업체명</th>
						<td colspan="3" scope="col" id="sCompanyName"></td>
					</tr>
					<tr>
						<th scope="row">담당자명</th>
						<td id="sManagerName"></td>
						<th scope="row">직위</th>
						<td id="sRank"></td>
					</tr>
                    <tr>
						<th scope="row">전화번호</th>
						<td id="sInternalPhone"></td>
						<th scope="row">팩스번호</th>
						<td id="sfax"></td>
					</tr>
                    <tr>
						<th scope="row">휴대폰</th>
						<td id="sMobilePhone"></td>
						<th scope="row">이메일</th>
						<td id="sEmail"></td>
					</tr>
				</tbody>
				</table>
				<!-- //table_col -->

				<div class="title">
					<h4>작업 내용</h4>
				</div>
				<!-- //title_sub -->
				<table class="table_row2">
				<caption>작업 내용</caption>
				<colgroup>
					<col style="width:15%" /><col style="width:85%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="purpose">작업구분 <span>*</span></label>
						</th>
						<td>
							<span class="select" style="width:220px">
								<select name="techWorkType" id="techWorkType" title="작업구분" onChange="javascript:selectWorkType(this.value)">
									<option value="-1" >작업선택</option>
									{@ workType}
									<option value="{.sCode}" >{.sCodeName}</option>
									{/}
								</select>
							</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="work">작업내용 <span>*</span></label>
						</th>
						<td>
							<textarea name="request" id="request" title="작업내용" class="textarea" style="height:70px"></textarea>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="schedule">작업예정일시 <span>*</span></label>
						</th>	
						<td>날짜&nbsp;
							<input type="text" name="dtExpectStartDate" id="dtExpectStartDate" title="날짜" class="input dateYMD" style="width:100px" value="{secParams.sDate}" />
							&nbsp;<input type="text" name="dtExpectStartTime" id="dtExpectStartTime" title="시간" class="input" style="width:50px" />시
							&nbsp;<span class="gray">(24시 단위로 입력)</span>
						</td>
					</tr>
					<tr id="tr_confirm" style="display:none">
						<th scope="row">							
						</th>
						<td style="padding:5px 0px;text-align:center;">
							<input type="checkbox" name="confirm_reboot" id="confirm_reboot" value="1" style="vertical-align:top;"><label for="confirm_reboot" style="margin-left:5px;font-weight:bold;color:#FF5F05;">[주의] 서버 리부팅시 발생될 수 있는 오류나 장애에 대해 ‘KINX’에 책임을 묻지 않습니다.</label>							
						</td>
					</tr>					
				</tbody>
				</table>
				<!-- //table_row -->
			</div>
			<!-- //table_wrap -->
			
			<p class="hx30"></p>
			
			<div class="button">
				<div class="center">
					<span class="btn_pack xlarge"><button type="submit">등록하기</button></span>
				</div>
			</div>
			<!-- //button -->
			</form>
		</div>
		<!-- //content -->
</div>

{ #layout_myfooter }
