{ #common_html_header }
{ #layout_myheader }
<!-- my/ IDC 출입 관리 / 방문신청 관리 -->
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_visit.png"   alt="방문 신청" /></h3>
		<!-- title_main -->

		<div class="guide2">
			<h5>[안내]</h5>
			<ul>
				<li>IDC 방문시에는 사전에 방문신청이 반드시 필요합니다.</li>
				<li>IDC 방문 신청 등록 및 관리하는 페이지입니다.</li>
				<li>담당자로 등록되어 있지 않으면 방문신청을 할 수 없으니 담당자 등록을 먼저 하십시오.</li>
				<li>상세보기 페이지에서 방문신청 내용 변경 및 삭제처리 가능합니다.</li>
			</ul>
		</div>
		<!-- //guide -->
		<p class="hx10"></p>

		<div class="button hx30">
			<div class="right">
				<span style="color:#aaa;font-size:1em">{chkmsg}</span>
				<span class="btn_pack medium2"><a href="{? empty(chkmsg)}/kinxidc/visitapp_write{url_suffix}{:}#{/}">방문 신청하기</a></span>
			</div>
		</div>
		<!-- //button -->

		<div class="table">
			<table summary="방문 신청 목록" class="table_col">
			<caption>방문 신청 목록</caption>
			<colgroup>
				<col width="#" /><col width="30%" /><col width="#" /><col width="20%" /><col width="10%" />
				<col width="10%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">신청일</th>
					<th scope="col">방문목적</th>
					<th scope="col">방문자</th>
					<th scope="col">방문(예정)일시</th>
					<th scope="col">상태</th>
					<th scope="col">상세보기</th>
				</tr>
			</thead>
			<tbody>
				{ @list }
				<tr>
<!--					<td>2013년 12월 12일</td>-->
					<td>{= date('Y-m-d', strtotime(.dtCreateDate))}</td>
					<td class="left">{ .sWorkType }</td>
					<td>{.sTopVisitorName}{ ? .nCntVisitor > 1 }외 {.nCntVisitor-1}명{ / }</td>
					<td>{ ? strtotime(.dtExpectStartDate) }{= date('Y-m-d H:00', strtotime(.dtExpectStartDate))}{ / }</td>
					<td>{ .sStatus }</td>
					<td><span class="btn_pack small"><a href="/kinxidc/visitapp_write/<?=encryptIt({.nWorkRequestSeq});?>{url_suffix}" class="small">상세보기</a></span></td>
				</tr>
				{ : }
				<tr>
					<td colspan="6" class="nodata">※ 등록된 신청건이 없습니다.</td>
				</tr>
				{ / }
			</tbody>
			</table>
			<div class="paginate">{pager}</div>
			<!-- //paginate -->
		</div>
		<!-- //table_col -->
	</div>
	<!-- //content -->
</div>
{ #layout_myfooter }