{ #common_html_header }
 
<script src='/scripts/my_visitalert.js'></script>
<script language="javascript">
	window.onload=function(){
		//visitapp.visit_alert();
		//visit_alert();
	
		//console.log('popop visit alert onload');
		document.body.style.minWidth = "200px";
		document.body.style.backgroundImage = "none";
		document.body.style.overflowX="hidden";
		document.body.style.overflowY="hidden";
	};
	
	$(document).ready(function(){
		console.log('popop visit alert ready');


		
	}); 
</script> 
 

<div id="visit_alert" style="width:420px; height:570px; background-image:url('/images/visit_alert.png'); background-repeat:no-repeat; background-size:420px 570px;">
</div> 
<!--div style="width:420px; height:30px; margin-top:8px; margin-left:250px;">
	<input type="checkbox" name="click_visit_alert" id="click_visit_alert" onclick="visitalert.click_visit_alert();">
	오늘 하루 열지 않기
	<span class="btn_pack small" onclick="self.close();" style="margin-top:-3px !important;"><a href="">닫기</a></span>
</div-->


{ #common_html_footer }