{ #common_html_header }
{ #layout_myheader }
<!-- my/ IDC 출입 관리 / 방문신청 관리 -->


<script type="text/javascript">
$(document).ready(function(){

	visitalert.visit_alert();

	var $basic = {=json_encode(basic)};
	{ ? mode == "modify" }
	//getRegistantInfo({basic.nManagerSeq});
	//console.log({basic.nManagerSeq});
	//getRegistantInfo({basic.nCompanySeq});//2014-05-11 nykim modify
	//getRegistantInfobyInit({basic.nManagerSeq});//150313 주석 풀고 새로운 함수 호출.
	getRegistantInfo($basic.nManagerSeq);//210611
	$("select[name='nWorkType']").val("{topVisitor.nWorkType}");

	//등록했다는 것은 코로나 관련 내용을 동의했다는 것으로 판단하고 modify 코로나 관련 내용 기본 check by lizzy 20200224
	$("input[name='visit_alert']").prop("checked",true);
	{ / }
});
</script>
<div id="container">
	{ #menu_my }
	<div id="content">
		<h3><img src="/images/my/h3_visit.png"   alt="방문 신청" /></h3>
		<!-- title_main -->
		<form name="workRequestForm" id="workRequestForm" method="post" action="/kinxidc/visitapp_proc/{mode}{url_suffix}">
			{ ? mode === "modify" // 수정의 경우 히든값으로 seq를 보냅니다.}
			<input type="hidden" name="nWorkRequestSeq" value="{basic.nWorkRequestSeq}" />
			<input type="hidden" name="nContractSeq" value="{basic.nContractSeq}" />
			<input type="hidden" name="nManagerSeq" value="{basic.nManagerSeq}" />
			{ / }
			<div class="table_wrap">
				<table summary="방문 신청자 정보" class="table_row2">
				<caption>방문 신청자 정보</caption>
				<colgroup>
					<col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" />
				</colgroup>
				<thead>
					<tr>
					{ ? mode === "write" }
						<th scope="row">
							<strong><label for="nManagerSeq">등록자 정보 <span style="color:red">*</span></label></strong>
						</th>
						<td>
							<span class="select" style="width:220px">
								<select name="nManagerSeq" id="nManagerSeq" title="등록자 정보" onchange="getRegistantInfo(this.value)">
									<option value="">선택</option>
								{ @competentList }
									<option value="<?=encryptIt({.nCompanyContactSeq});?>" { ? .nCompanyContactSeq == basic.nManagerSeq } selected="selected" { / }>{.sManagerName}</option>
								{ / }
								</select>
							</span>
						</td>
						<th scope="row"><strong>상태</strong></th>
						<td>{ ? basic.sResultStatus : 'Y' }신청완료{:'S'}작업시작{:'F'}작업완료{:'C'}작업취소{:'X'}삭제{ / }</td>
					{ : mode === "modify" }
						<th scope="row"><strong>상태</strong></th>
						<td colspan="3">{ ? basic.sResultStatus : 'Y' }신청완료{:'S'}작업시작{:'F'}작업완료{:'C'}작업취소{:'X'}삭제{ / }</td>
					{ / }
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">
							<label for="registant_companyName">업체명</label>
						</th>
						<td id="registant_companyName">{ ? mode === "modify" }{basic.sCompanyName}{ / }</td>
						<th scope="row">
							<label for="registant_managerName">담당자명</label>
						</th>
						<td id="registant_managerName">{ ? mode === "modify" }{basic.sManagerName}{ / }</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="registant_internalPhone">일반전화</label>
						</th>
						<td id="registant_internalPhone">{ ? mode === "modify" }{basic.sInternalPhone}{ / }</td>
						<th scope="row">
							<label for="registant_mobilePhone">휴대전화</label>
						</th>
						<td id="registant_mobilePhone">{ ? mode === "modify" }{basic.sMobilePhone}{ / }</td>
					</tr>
				</tbody>
				</table>
				<!-- //table_row -->
				<p class="hx30"></p>

				<div class="title">
					<h4>출입대상자 선택</h4>
				</div>
				<!-- //title_sub -->
				<table summary="출입대상자 선택" class="table_col2">
				<caption>출입대상자 선택</caption>
				<colgroup>
					<col width="5%" /><col width="" /><col width="10%" /><col width="12%" /><col width="12%" />
					<col width="30%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">선택</th>
						<th scope="col">업체명</th>
						<th scope="col">담당자</th>
						<th scope="col">일반전화</th>
						<th scope="col">휴대전화</th>
						<th scope="col">이메일</th>
					</tr>
				</thead>
				<tbody>
					{ @ competentList }
					<tr>
						<td>
							<label for="nCompanyContactSeq[]"><input type="checkbox" name="nCompanyContactSeq[]" id="nCompanyContactSeq" title="선택" value="{.nCompanyContactSeq}" { ? .checked == "Y" } checked="checked" { / } /></label>
						</td>
						<td class="left">{.sCompanyName}</td>
						<td>{.sManagerName}</td>
						<td>{.sInternalPhone}</td>
						<td>{.sMobilePhone}</td>
						<td class="left">{.sEmail}</td>
					</tr>
					{ : }
					<tr>
						<td colspan="6" class="nodata">※ 현재 등록된 담당자가 없습니다.</td>
					</tr>
					{ / }
				</tbody>
				</table>
				<!-- //table_col -->
				<p class="hx30"></p>

				<div class="title">
					<h4>작업 내용</h4>
				</div>
				<!-- //title_sub -->
				<table summary="작업 내용" class="table_row2">
				<caption>작업 내용</caption>
				<colgroup>
					<col width="15%" /><col width="85%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<label for="sIDC">방문위치 <span style="color:red">*</span></label>
						</th>
						<td>
							<span class="select" style="width:220px">
								<select name="sIDC" id="sIDC" title="방문위치">
									<option value="" selected="selected">방문위치 선택</option>
									{ @ idcList }
									<option value="{.sCode}" { ? basic.sIDC == .sCode } selected="selected" { / }>{ .sCodeName }</option>
									{ / }
								</select>
							</span>
							<span>
								<input type="text" name="sFloor" id="sFloor" title="층" class="input" style="width:50px" value="{basic.sFloor}" />층
							</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="nWorkType">방문목적 <span style="color:red">*</span></label>
						</th>
						<td>
							<span class="select" style="width:220px">
								<select name="nWorkType" id="nWorkType" title="방문목적">
									<option value="" selected="selected">방문목적 선택</option>
									{ @ workTypeList }
									<option value="{.sCode}" { ? topVisitor.nWorkType == .sCode } selected="selected" { / }>{ .sCodeName }</option>
									{ / }
								</select>
							</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="sContent">작업내용 <span style="color:red">*</span></label>
						</th>
						<td>
							<textarea name="sContent" id="sContent" title="작업내용" class="textarea" style="height:70px">{ basic.sContent }</textarea>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="dtExpectStartDate">방문예정일시 <span style="color:red">*</span></label>
						</th>
						<td>날짜&nbsp;
							<input type="text" name="dtExpectStartDate" id="dtExpectStartDate" title="날짜" class="input dateYMDStart" style="width:100px" value="{basic.dtExpectStartDate}" readonly="readonly"/>
							&nbsp;<input type="text" name="dtExpectStartTime" id="dtExpectStartTime" title="시간" class="input" style="width:50px" maxlength="2" value="{basic.dtExpectStartTime}" />시
							&nbsp;<span class="gray">(24시 단위로 입력)</span>
						</td>
					</tr>
					<tr>
						<th scope="row">
							<label for="dtExpectEndDate">예상종료일시 <span style="color:red">*</span></label>
						</th>
						<td>날짜&nbsp;
							<input type="text" name="dtExpectEndDate" id="dtExpectEndDate" title="날짜" class="input dateYMDEnd" style="width:100px" value="{basic.dtExpectEndDate}" readonly="readonly"/>
							&nbsp;<input type="text" name="dtExpectEndTime" id="dtExpectEndTime" title="시간" class="input" style="width:50px" maxlength="2" value="{basic.dtExpectEndTime}" />시
							&nbsp;<span class="gray">(24시 단위로 입력)</span>
						</td>
					</tr>

					<tr>
						<td colspan="2" style="background:none !important;">
							<label for="visit_alert"><input type="checkbox" name="visit_alert" value="N" id="visit_alert" title=""> 신종 코로나 바이러스 관련 안내사항에 동의해 주세요 <span style="color:red">*</span></label>
							<span class="btn_pack small" onclick="visitalert.visit_alert(); return false;" style="margin-top:-3px !important;"><a href="">다시보기</a></span>
						</td>
					</tr>

				</tbody>
				</table>
				<!-- //table_row -->

				<p class="hx30"></p>

				{#my_detailview_tooluse}

			</div>
			<!-- //table_wrap -->
			<p class="hx30"></p>

			<div class="button">
				{ ? mode === "write" }
				<div class="center">
					<span class="btn_pack xlarge"><a href="#" class="btn_submit">신청하기</a></span>
				</div>
				{ : mode === "modify" }
				<div class="center">
					{? basic.sResultStatus === "Y" }
					<span class="btn_pack xlarge"><a href="#" class="btn_submit">변경하기</a></span>
					<span class="btn_pack xlarge2"><a href="/kinxidc/visitapp_proc/cancel/<?=encryptIt({basic.nWorkRequestSeq});?>{url_suffix}" class="btn_delete" title="취소">취소하기</a></span>
					{:}
					<span class="btn_pack xlarge"><a href="/kinxidc/visitapp" class="btn_golist">목록으로</a></span>
					{/}
				</div>
				{ / }
			</div>
			<!-- //button -->
		</form>
	</div>
</div>
{ #layout_myfooter }