{ #common_html_header }
{ #layout_myheader }
<!-- my/ 회원정보 관리 -->
<div id="container">
	<div id="content" style="width:980px;">
        <h3><img src="/images/my/h3_member.png"  alt="회원정보 관리" /></h3>
        <!-- title_main -->
        <form method="post" id="useinfoFrm" action="/verification/proc">
            <input type="hidden" name="sAccountID" value="{account.sAccountID}">
            <input type="hidden" name="nAccountSeq" value="{account.nAccountSeq}">
            <input type="hidden" name="key" value="{key}">
            <div class="table_wrap">
                <table summary="회원 정보" class="table_row1">
                    <caption>회원 정보</caption>
                    <colgroup>
                        <col width="17%" /><col width="33%" /><col width="17%" /><col width="33%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" colspan="4">회원 정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">아이디</th>
                            <td>{account.sAccountID}</td>
                            <th scope="row">회원등록일</th>
                            <td>{account.dtCreate}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="border-bottom:0">
                                <label for="#">비밀번호 설정</label>
                            </th>
                            <td>
                                <input type="password" name="sPassword"  title="비밀번호 설정" class="input" style="width:220px" />
                            </td>
                            <th scope="row">
                                <label for="#">비밀번호 확인</label>
                            </th>
                            <td>
                                <input type="password" name="rePassword" title="비밀번호 확인" class="input" style="width:220px" />
                            </td>
                        </tr>
                        <tr>
                            <th style="padding:0 0 9px 25px"></th>
                            <td style="padding:0 0 0px 10px;font-size:0.9em;color:#999" colspan="3">
                                ▶ 비밀번호는 영문+숫자 혼합하여 8~15자로 입력해주세요.
                                <br>
                                ▶ 비밀번호를 변경할 경우 Cloudhub 로그인 비밀번호도 같이 변경됩니다.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p class="hx5"></p>
                <div class="button">
                    <div class="right">
                        <span class="btn_pack small"><a href="#" class="btn_submit">비밀번호 설정하기</a></span>
                    </div>
                </div><!-- end button -->
            </div><!--endtable_wrap  -->
		</form>
    </div><!--end content  -->
</div><!-- end container-->

<div class="layerMask"></div>
{ #layout_myfooter }

<script>
    $(document).ready(function() {
        $(".btn_submit").on("click",function(){
            var _u = $(this).parents("form").attr("action");
            var _d = $(this).parents("form").serialize();
            $.post(_u, _d,function(data){
                alert(data.msg);
                if(data.code=='s') location.replace("/");
            },"json");
        });
    });
</script>